<ns-breadcrumb></ns-breadcrumb>
<div class="searchFormGroup">
  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()" class="form">
    <div fxLayout="row wrap" class="row-wrap-padding">
      <ns-multi-select-autocomplete name="fromCurrency"
                                    formControlName="fromCurrency"
                                    [multiple]="false"
                                    [options]="fromCurrencyOptions"
                                    [placeholder]="'common.from.currency'"
                                    (selectionChange)="changeFromCurrency($event)"
                                    fxLayout="column" fxFlex="25%"
                                    fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="25%">
      </ns-multi-select-autocomplete>
      <ns-multi-select-autocomplete name="toCurrency"
                                    formControlName="toCurrency"
                                    [multiple]="false"
                                    [options]="toCurrencyOptions"
                                    [placeholder]="'common.to.currency'"
                                    fxLayout="column" fxFlex="25%"
                                    fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="25%">
      </ns-multi-select-autocomplete>
      <ns-date-picker name="fromDate" formControlName="fromDate"
                      [required]="true"
                      [placeholder]="'common.fromDate'"
                      fxLayout="column" fxFlex="25%"
                      fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="25%">
      </ns-date-picker>
      <ns-date-picker name="toDate" formControlName="toDate"
                      [placeholder]="'common.toDate'"
                      fxLayout="column" fxFlex="25%"
                      fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="25%">
      </ns-date-picker>
      <div class="buttonArea">
        <button mat-button type="submit" class="primary Update-btn">
          <i class="fa fa-search"></i> {{'btnSearch'|translate}}
        </button>
      </div>
    </div>
  </form>
  <div class="content">
    <ns-table [columns]="columns" [buttons]="buttons"
              [paging]="paging" (pagingChange)="pagingChange($event)"
              [moduleName]="moduleName" [results]="results"
              (clickAction)="onRowButtonClick($event)">
    </ns-table>
  </div>
</div>
