.repackingList {

  margin: 1rem;

  .repackingSearch {
    display: flex;

    div {
      flex-shrink: 1;
      flex-grow: 1;
      flex-basis: calc(25% - 1rem);
      margin: 0 0.5rem;
    }

    div:nth-child(1), div:nth-child(2), div:nth-child(3) {
      flex-basis: calc(100%/3 - 1rem);
    }

    div:last-child {
      flex-basis: 100%;
      display: flex;
      place-content: center;
      align-items: center;
      margin-left: 0;
      flex-shrink: 1;
      flex-grow: 1;

      padding-bottom: 1rem;
    }
  }

  :host ::ng-deep {
    mat-cell:nth-child(2) {
      min-width: 15%;
    }
  }

}

