<ns-breadcrumb></ns-breadcrumb>
<!--<div style="text-align: right;display: inline;">-->
<!--  <li style = "list-style-type: none; margin-right: 16px">-->
<!--    <button mat-raised-button color="warn" (clickAction)="model.searchDataBtn()">{{'common.search' | translate}}</button>-->
<!--    &lt;!&ndash;<button mat-raised-button color="warn">{{'common.btn.print' | translate}}</button>&ndash;&gt;-->
<!--  </li>-->
<!--</div>-->
<div class="acbox" [formGroup]="model.form" (keyup.enter)="model.searchDataBtn()">
  <div fxLayout="row wrap" class="row-wrap-padding">
    <div [formGroup]="model.form" *ngFor="let field of model.inputFields;"
         fxLayout="column" fxFlex="33%"
         fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="33%">
      <!--        [fxFlex]="field.type ==='fileImg'?100:50"-->
      <div dynamicField [field]="field" [group]="model.form"
           *ngIf="!(field.type === 'button') ||
     (field.type === 'button' && model.onDisplayWithAuthority('get/repacking-plannings'))"></div>
    </div>
    <div class="buttonArea">
      <button mat-button class="primary" [disabled]="!model.form.valid" (click)="model.searchDataBtn()">
        <i class="fa fa-search"></i>{{'btnSearch' | translate}}

      </button>
    </div>
  </div>
</div>
<h3>{{'repacking.ld.title' | translate }}</h3>
<div class="acbox">
  <div class="paging_table table-responsive">
    <ts-table-v2 [model]="model.tsTable" [form]="model.form"
                 (cellEvent)="onCellEvent($event)"
                 (addEvent)="onAddData($event)"
                 (isShowButtonEvent)="showButtonEvent($event)"
                 [class]="model.tsTable"
                 (onPage)="model.onPage($event)">
    </ts-table-v2>
  </div>
</div>

<!--<app-ld [info]="ldInfo" (searchEvent)="onSearchEvent($event)" (editEvent)="onEditEvent($event)" [group]="form"-->
<!--(cellActionEvent)="onCellEvent($event)" (showButtonEvent)="showButtonEvent($event)"-->
<!--&gt;</app-ld>-->

