<div class="dialog_wrapper">
  <div class="dialog_header">
    <div class="dialog_title">
      {{ moduleName | translate }}
    </div>
  </div>
  <div class="dialog_content" [formGroup]="addEditForm">
    <ns-smart-table formControlName="merchantOrderDetails"
                    [columns]="columns"
                    [moduleName]="moduleName">

    </ns-smart-table>
  </div>
</div>
