<ns-breadcrumb (updateLabel)="updateLabel($event)"
               *ngIf="(!isEdit && this.storeOptions[0]) || (isEdit && !!pallet && !!pallet.store)"></ns-breadcrumb>
<form [formGroup]="addEditForm" class="acbox">
  <div fxLayout="column">
    <div class="acbox row-wrap-padding" fxLayout="row wrap" fxFlex="100%">
      <ns-input name="code"
                formControlName="code"
                [placeholder]="'common.code.auto.create'"
                [isLabelOutside]="true"
                [label]="'common.code.auto.create'"
                [disabled]="true"
                fxLayout="column" fxFlex="50%" fxFlex.lt-md="100%">
      </ns-input>
      <ns-input name="name"
                formControlName="name"
                [placeholder]="'common.pallet.name'"
                [isLabelOutside]="true"
                [label]="'common.pallet.name'"
                [required]="true"
                fxLayout="column" fxFlex="50%" fxFlex.lt-md="100%">
      </ns-input>
      <ns-multi-select-autocomplete name="step"
                                    formControlName="step"
                                    [multiple]="false"
                                    [options]="stepOptions"
                                    [placeholder]="'common.pallet.step'"
                                    [isLabelOutside]="true"
                                    [label]="'common.pallet.step'"
                                    [required]="true"
                                    fxLayout="column" fxFlex="50%" fxFlex.lt-md="100%">
      </ns-multi-select-autocomplete>
      <ns-counter-input name="length"
                        formControlName="length"
                        [placeholder]="'common.pallet.length'"
                        [isLabelOutside]="true"
                        [label]="'common.pallet.length'"
                        [min]="1"
                        [required]="true"
                        fxLayout="column" fxFlex="50%" fxFlex.lt-md="100%">
      </ns-counter-input>
      <ns-counter-input name="width"
                        formControlName="width"
                        [placeholder]="'common.pallet.width'"
                        [isLabelOutside]="true"
                        [label]="'common.pallet.width'"
                        [min]="1"
                        [required]="true"
                        fxLayout="column" fxFlex="50%" fxFlex.lt-md="100%">
      </ns-counter-input>
      <ns-counter-input name="height"
                        formControlName="height"
                        [placeholder]="'common.pallet.height'"
                        [isLabelOutside]="true"
                        [label]="'common.pallet.height'"
                        [min]="1"
                        [required]="true"
                        fxLayout="column" fxFlex="50%" fxFlex.lt-md="100%">
      </ns-counter-input>
      <ns-multi-select-autocomplete name="store"
                                    formControlName="store"
                                    [options]="storeOptions"
                                    [placeholder]="'common.label.store'"
                                    [isLabelOutside]="true"
                                    [label]="'common.label.store'"
                                    [required]="true"
                                    [disabled]="true"
                                    [multiple]="false"
                                    fxLayout="column" fxFlex="50%" fxFlex.lt-md="100%">
      </ns-multi-select-autocomplete>
      <mat-checkbox [value]="1"
                    name="status"
                    [disabled]="true"
                    formControlName="status"
                    fxLayout="column" fxFlex="25%"
                    fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="25%">
        {{'store.active'|translate}}
      </mat-checkbox>
    </div>
  </div>
</form>
<div class="acbox_footer ">
  <div class="">
    <button mat-button class="primary outline"
            type="button"
            (click)="onBack()">
      {{'btnBack' | translate}}
    </button>
    <button mat-button [disabled]="addEditForm.invalid" class="primary" type="button"
            (click)="onSave()">
      {{(!isEdit ? 'btnAdd' : 'btnAddEdit') | translate}}
    </button>
  </div>
</div>
