<div flex layout="row" layout-align="start center">
  <h2>DASHBOARD</h2>
</div>
<div style="width: 50%; height: 50%;" *ngIf="authoritiesService.hasAuthorities(permissionTaskListPo)">
  <canvas id="canvas"></canvas>
</div>
