//.form {
//  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
//  .inputArea {
//    display: flex;
//    flex-wrap: wrap;
//    flex-basis: 100%;
//    margin: 1rem 1rem 1rem 0;
//    @media screen and (max-width: 959px) {
//      flex-direction: column;
//    }
//
//    @media screen and (min-width: 960px) {
//      flex-direction: row;
//    }
//    div{
//      flex-shrink: 1;
//      flex-grow: 1;
//      flex-basis: calc(100%/2 - 2rem);
//      margin: 0 0 0 1rem;
//      @media screen and (max-width: 959px) {
//        margin-right: 1rem;
//      }
//    }
//  }
//
//
//  .buttonArea {
//    display: flex;
//    place-content: center;
//    align-items: center;
//    margin: 1rem;
//    padding-bottom: 0.5rem;
//    flex-shrink: 1;
//    @media screen and (max-width: 959px) {
//      margin-bottom: 1rem;
//    }
//
//    button {
//      margin-left: 5px;
//    }
//
//    button:first-child {
//      margin: 0;
//    }
//  }
//
//}
//
//:host ::ng-deep {
//
//  .mat-column-total{
//    max-width: 7%!important;
//  }
//
//  .mat-column-add{
//    max-width: 5%!important;
//  }
//}
//
