<form class="form" [formGroup]="model.form">
  <ng-template matStepLabel>{{(title ? title: '') | translate}}</ng-template>
  <div class="acbox">
    <div fxLayout="row wrap" class="row-wrap-padding">
      <div [formGroup]="model.form" *ngFor="let field of model.inputFieldsLangs[model.currLang.code];"
           fxLayout="column" fxFlex="25%"
           fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="25%">
        <div dynamicField [field]="field"
             [group]="model.form"
             [readonly]="model.actionType === ActionTypeEnum.view || model.actionType === ActionTypeEnum.view_from_claim"></div>
      </div>
      <div class="buttonArea">
        <button mat-button class="primary"
                [disabled]="!(model.form.valid && model.getTblData().length > 0) || isApprovedClaim "
                (click)="onSave()"
                *ngIf="(!model.formData.status || (model.formData.status === repackingStatus.NEW) ||
               !model.form.valid) && model.onDisplayWithAuthority('post/repacking-plannings') &&
                model.actionType !== 'dashboard' && model.actionType !== 'dashboard-from-claim'">
          <i class="fa fa-save"></i> {{(model.actionType === 'add' ? 'btnAdd' : 'btnAddEdit')| translate}}
        </button>
        <button mat-button class="primary" *ngIf="isEnableNext()" matStepperNext>
          <i class="fa fa-chevron-circle-right"></i> {{'btnNext'|translate}}
        </button>
      </div>
    </div>
  </div>
  <div class="acbox">
    <div class="table-responsive">
      <ts-table-v2 [model]="model.tsTable" [form]="model.form"
                   (addEvent)="onAddEvent($event)"
                   (cellEvent)="onCellEvent($event)"
                   (isShowButtonEvent)="isShowButton($event)"
                   [class]="model.tsTable">
      </ts-table-v2>
    </div>
  </div>
</form>
