<div class="searchFormGroup">
  <form [formGroup]="searchForm" (ngSubmit)="search()" class="form">
    <div class="row-wrap-padding" fxLayout="row wrap">
      <ns-input formControlName="text"
                [placeholder]="'common.search'"
                [isLabelOutside]="true" fxLayout="column" fxFlex="50%" fxFlex.lt-md="100%">
      </ns-input>
      <ns-range-date-picker name="date"
                            formControlName="date"
                            [isLabelOutside]="true"
                            [requiredToDate]="true"
                            [requiredFromDate]="true"
                            [placeholderFromDate]="'common.fromDate'"
                            [label]="'merchant.order.registerDate'"
                            [placeholderToDate]="'common.toDate'"
                            fxLayout="column" fxFlex="50%" fxFlex.lt-md="100%">
      </ns-range-date-picker>
      <div class="buttonArea">
        <button mat-button class="primary"
                [disabled]="searchForm.invalid"
                *ngIf="hasPermissionSearch">
          <i class="fa fa-search"></i> {{'btnSearch' | translate}}
        </button>
        <button mat-button class="primary" *ngIf="hasPermissionCreate"
                (click)="createExportStatement()">
          <i class="fa fa-save"></i> {{'btnAddExport' | translate}}
        </button>
      </div>
    </div>
  </form>
  <div class="acbox" style="margin-top: 10px">
    <ns-table [columns]="columns" [buttons]="buttons"
              [paging]="paging" (pagingChange)="pagingChange($event)"
              [moduleName]="moduleName" [results]="results"
              (clickAction)="onRowButtonClick($event)">
    </ns-table>
  </div>
</div>
