<form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
  <div class="dialog_wrapper">
    <div class="dialog_header">
      <div class="dialog_title">
        {{ 'common.label.dialog.choose' | translate }}
      </div>
    </div>
    <div class="dialog_content">
      <div fxLayout="row wrap" class="row-wrap-padding">
        <ng-container *ngIf="!ignoreExpiredDate">
          <ns-input [isLabelOutside]="true"
                    [placeholder]="'common.search'"
                    name="text"
                    formControlName="text"
                    fxLayout="column" fxFlex="100%">
          </ns-input>
        </ng-container>
        <ng-container *ngIf="ignoreExpiredDate">
          <ns-input [placeholder]="'common.packing.code'" name="code" formControlName="code"
                    fxLayout="column" fxFlex="50%">
          </ns-input>
          <ns-input [placeholder]="'common.packing.name'" name="name" formControlName="name"
                    fxLayout="column" fxFlex="50%">
          </ns-input>
        </ng-container>
      </div>
      <div class="content">
        <ns-table [columns]="columns" [buttons]="buttons"
                  [paging]="paging" (pagingChange)="pagingChange($event)"
                  [moduleName]="moduleName" [results]="results"
                  (onRowClickAction)="onRowButtonClick($event)">
        </ns-table>
      </div>
    </div>
    <div class="dialog_footer center">
      <div>
        <button mat-button type="submit" class="primary Update-btn">
          <i class="fa fa-search"></i> {{'btnSearch'|translate}}
        </button>
        <button mat-button type="button" class="primary Update-btn" (click)="onCloseDialog()">
          <i class="fa fa-check"></i> {{'common.OK'|translate}}
        </button>
      </div>
    </div>
  </div>
</form>
