<div class="export-statement-list">
  <h2>{{'menu.export.statement.list'|translate}}</h2>
  <ts-table-v2 [form]="model.form"
               [model]="model.tsTable"
               (onPage)="onPage($event)"
               (cellEvent)="onCellEvent($event)"

  ></ts-table-v2>
</div>
