.content {
  //margin: 1rem;

  h2 {
    margin-bottom: 0.5rem;
  }

  .buttonArea {
    margin: 0.5rem 0;
    display: flex;
    place-content: flex-end;
  }
}

:host ::ng-deep {
  .mat-column-fromStore-name {
    min-width: 33% !important;
    max-width: 33% !important;
  }

  .mat-column-toStore-name {
    min-width: 33% !important;
    max-width: 33% !important;
  }

  .mat-column-maxDayToWait {
    max-width: 20%;

    app-input {
      width: 100%;
    }
  }

  .mat-column-add {
    max-width: 6%;
  }

  mat-paginator {
    display: none;
  }

  app-read {
    div {
      width: auto;
      white-space: pre-wrap;
    }
  }
}
