<ns-breadcrumb></ns-breadcrumb>
<div class="content">
  <div class="buttonArea right" >
    <button mat-button (click)="fileUpload.click()"
            class="primary">
      <input type="file" #fileUpload style="display: none" (change)="onFileChangeAction($event)"

             >
      {{'common.button.importExcel'|translate}}</button>
    <button mat-button
            (click)="onDownloadTemplate()"
            class="primary">

      {{'common.button.downloadTemplate'|translate}}</button>
    <button mat-button [disabled]="model.form.invalid"
            (click)="onSaveAll()"
            class="primary"> {{'btnAdd'|translate}}</button>
  </div>
  <ts-table-v2 [model]="model.tsTable"
               [form]="model.form"
               (onPage)="model.onPage($event)"
               (isShowButtonEvent)="isShowBtn($event)"
               (cellEvent)="onCellEvent($event)"
  ></ts-table-v2>

</div>
