.spacer {
  flex: 1 1 auto;
}

.mat-select-theme {
  display: inline-block;
  width: 100px;
  outline: 0;
}

.mat-select-arrow {
  visibility: hidden;
}

.mat-select-language {
  display: inline-block;
  width: 40px;
  outline: 0;

  .languageOption{
    width: 66px!important;
    .mat-option-text{
      display: flex!important;
    }
  }
}
.logo {
  width: 100%;
  display: inline-block;
}

.vi{
  background:  url("../../../assets/Flags/vi.ico")  center / contain no-repeat;
  white-space: nowrap;
}
.en{
  background:  url("../../../assets/Flags/en.ico")  center / contain no-repeat;
  white-space: nowrap;
}

.my{
  background:  url("../../../assets/Flags/my.ico")  center / contain no-repeat;
  white-space: nowrap;
}
