<ns-breadcrumb (updateLabel)="updateLabel($event)"
               *ngIf="!isEdit || (isEdit && repackingPlan)"></ns-breadcrumb>
<mat-horizontal-stepper [linear]="true" #stepper
                        (selectionChange)="onSelectionChange($event)">
  <mat-step>
    <ng-template matStepLabel>{{'repacking.title.plan'|translate }}</ng-template>
    <app-plan-v2 *ngIf="!isEdit || (isEdit && repackingPlan)"
                 [moduleName]="moduleName"
                 [isView]="isView"
                 [repackingPlan]="repackingPlan"></app-plan-v2>
  </mat-step>
  <mat-step *ngIf="isEdit">
    <ng-template matStepLabel>{{'repacking.title.repack'|translate }}</ng-template>
<!--    gắn với form control tránh lỗi ngControl no provide-->
    <app-repack-v2 [formControl]="tempControl"
                   ngDefaultControl
                   [moduleName]="moduleName"
                   [isView]="isView"
                   [repackingPlan]="repackingPlan"
    ></app-repack-v2>
  </mat-step>
  <mat-step [editable]="repackingStatusAction.isImportedStatus(repackingPlan)"
            *ngIf="isEdit">
    <ng-template matStepLabel>{{'repacking.title.import'|translate }}</ng-template>
    <app-import-stock-v2 [moduleName]="moduleName"
                         [isView]="isView"
                         [repackingPlan]="repackingPlan"></app-import-stock-v2>
  </mat-step>
</mat-horizontal-stepper>
