<ns-breadcrumb (updateLabel)="updateBreadCrumb($event)"
               *ngIf="claim"></ns-breadcrumb>
<form [formGroup]="addEditForm">
  <div class="acbox">
    <div fxLayout="row wrap" class="row-wrap-padding">
      <ns-input [placeholder]="moduleName + '.management.search.code'|translate"
                name="code"
                formControlName="code" [disabled]="true"
                fxLayout="column" fxFlex="25%"
                fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="25%" fxFlex.lg="25%">
      </ns-input>
      <ns-input [placeholder]="moduleName + '.management.search.store'|translate"
                name="store" formControlName="store" [disabled]="true"
                fxLayout="column" fxFlex="25%"
                fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="25%" fxFlex.lg="25%">
      </ns-input>
      <ns-multi-select-autocomplete [placeholder]="moduleName + '.management.search.type'"
                                    [multiple]="false" [options]="typeValues"
                                    name="type" formControlName="type" [disabled]="true"
                                    fxLayout="column" fxFlex="25%"
                                    fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="25%" fxFlex.lg="25%">
      </ns-multi-select-autocomplete>
      <ns-multi-select-autocomplete [placeholder]="moduleName + '.management.search.status'"
                                    [multiple]="false" [options]="statusValues"
                                    name="status" formControlName="status" [disabled]="true"
                                    fxLayout="column" fxFlex="25%"
                                    fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="25%" fxFlex.lg="25%">
      </ns-multi-select-autocomplete>
      <ns-input [placeholder]="moduleName + '.management.search.amenable'"
                name="amenable" formControlName="amenable" [disabled]="true"
                fxLayout="column" fxFlex="25%"
                fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="25%" fxFlex.lg="25%">
      </ns-input>
      <ns-input [placeholder]="moduleName + '.management.search.description'"
                name="description" formControlName="description" [disabled]="true"
                fxLayout="column" fxFlex="25%"
                fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="25%" fxFlex.lg="25%">
      </ns-input>
      <ns-input *ngIf="isRejectedClaim"
                [placeholder]="moduleName + '.management.search.reject.reason'"
                name="rejectReason" formControlName="rejectReason" [disabled]="true"
                fxLayout="column" fxFlex="25%"
                fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="25%" fxFlex.lg="25%">
      </ns-input>
      <div class="buttonArea">
        <button mat-button type="submit" class="primary Update-btn"
                (click)="onApprove()" [disabled]="visibleBtn()" *ngIf="hasAuthorityDisplay('approve')">
          <i class="fa fa-thumbs-up"></i> {{'btnApprove'|translate}}
        </button>
        <button mat-button type="submit" class="primary Update-btn"
                (click)="onReject()" [disabled]="visibleBtn()" *ngIf="hasAuthorityDisplay('reject')">
          <i class="fa fa-thumbs-down"></i> {{'btnReject'|translate}}
        </button>
        <button mat-button class="primary Update-btn"
                (click)="onViewParent()" *ngIf="claim && claim.referenceId && hasAuthorityDisplay('get-parent')">
          <i class="fa fa-exclamation-circle"></i> {{'btnViewFromClaim'|translate}}
        </button>
      </div>
    </div>
  </div>
  <div class="acbox">
    <ns-smart-table formControlName="claimDetails"
                    [columns]="columns"
                    [buttons]="buttons"
                    [moduleName]="moduleName">
    </ns-smart-table>
  </div>
</form>

<ng-container *ngIf="claim && claim.claimImages">
  <div *ngIf="claim.claimImages.length > 0">
    <h3>{{'claim.image.title' | translate }}</h3>
    <div class="slider">
      <div class="slider_wrapper">
        <div id="number_text">1/{{claim.claimImages.length}}</div>
        <div id="slide_image"></div>
      </div>

      <a class="prev" (click)="changeSlide(-1)">❮</a>
      <a class="next" (click)="changeSlide(1)">❯</a>

      <div class="caption-container">
        <p id="caption"></p>
      </div>

      <div class="thumbnails">
        <ng-container *ngFor="let image of claim.claimImages; let i = index">
          <div class="item"
               (click)="currentSlide(i)"
               [attr.data-description]="image.description">
            <img #img class="cursor" [src]="getImageUrl(image.url) | secure | async" [alt]="image.description"
                 (load)="onLoad(img, i)">
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</ng-container>

<!--<div class="imageArea">-->
<!--  <div class="imageList">-->
<!--    <div class="card" *ngIf="claim && claim.claimImages">-->
<!--      <ng-container *ngFor="let image of claim.claimImages">-->
<!--        <mat-card>-->
<!--          <img [src]="getImageUrl(image.url)" height="200px"-->
<!--               (click)="imageClick(getImageUrl(image.url), image.description)"/>-->
<!--          <mat-card-content>{{image.description}}</mat-card-content>-->
<!--        </mat-card>-->
<!--      </ng-container>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="imageView" *ngIf="claim && claim.claimImages && hadClickedViewImage">-->
<!--  &lt;!&ndash;    <div class="card"">&ndash;&gt;-->
<!--  <mat-card>-->
<!--    <mat-card-content>{{('common.description' | translate) + ': ' + descriptionImageDetail}}</mat-card-content>-->
<!--    <img [src]="urlImageDetail" width="100%"/>-->
<!--  </mat-card>-->
<!--  <button mat-icon-button color="warn" (click)="cancelView()">-->
<!--    <mat-icon>clear</mat-icon>-->
<!--  </button>-->
<!--</div>-->
