.claim-active-confirm {
  width: 400px;
  height: 30px;
}

.imageArea {
  width: 100%;
  display: inline-block;

  .imageList {
    display: flex;
    width: 40%;
    float: left;

    h2 {
      margin-bottom: 0.5rem;
    }

    .card {
      display: flex;
      flex-basis: 100%;
      //flex-wrap: wrap;
      margin-bottom: 0.5rem;

      mat-card {
        flex-basis: calc(40% - 1rem);
        margin: 0 0.5rem 0.5rem 0.5rem;
        display: flex;
        flex-direction: column;

        img {
          margin: auto;
          margin-bottom: 0.5rem;
        }

        mat-card-content{
          text-overflow: ellipsis;
          width: 150px;
          overflow: hidden;
          white-space: nowrap;
        }
      }
    }

  }

  .imageView {
    width: 60%;
    float: left;
    //margin-right: 1rem;
    display: flex;
  }
}

.slider {
  position: relative;

  .slider_wrapper {
    #number_text {
      color: #f2f2f2;
      font-size: 12px;
      padding: 8px 12px;
      position: absolute;
      top: 0;
    }

    #slide_image {
      height: 500px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-color: #333333;
    }
  }

  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
    margin-bottom: 10px;
  }

  .thumbnails {
    display: block ruby;
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: #9E9E9E #e7e7e7;

    &:after {
      content: "";
      display: table;
      clear: both;
    }

    .item {
      width: 16.5%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-color: #e7e7e7;
      height: 150px;
      margin: 0 10px 10px 5px;
      border: 1px dotted black;
      border-radius: 12px;
      opacity: 0.6;
      cursor: pointer;

      &.active,
      &:hover {
        opacity: 1;
      }

      img {
        display: none;
      }

      @media screen and (max-width: 990px) {
        width: 18.7%;
      }

      @media screen and (max-width: 767px) {
        width: 50%;
      }

    }
  }

}
