<ns-breadcrumb></ns-breadcrumb>
<div class="searchFormGroup" *ngIf="!isPending">
  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()" class="form">
    <div fxLayout="row wrap" class="row-wrap-padding">
      <ns-input formControlName="text"
                [isLabelOutside]="true"
                [placeholder]="'common.text'"
                fxLayout="column" fxFlex="50%"
                fxFlex.xs="100%">
      </ns-input>
      <ns-multi-select-autocomplete formControlName="status"
                                    [isLabelOutside]="true"
                                    [options]="statusSelect"
                                    [multiple]="false"
                                    [placeholder]="'common.status'"
                                    fxLayout="column" fxFlex="50%"
                                    fxFlex.xs="100%">
      </ns-multi-select-autocomplete>
      <ns-multi-select-autocomplete formControlName="storeId"
                                    [isLabelOutside]="true"
                                    [options]="storeIdSelect"
                                    [multiple]="false"
                                    [placeholder]="'pallet.ae.store.name'"
                                    fxLayout="column" fxFlex="50%"
                                    fxFlex.xs="100%">
      </ns-multi-select-autocomplete>
      <div class="buttonArea">
        <button mat-button type="submit" class="primary Update-btn">
          <i class="fa fa-search"></i> {{'btnSearch'|translate}}
        </button>
      </div>
    </div>
  </form>
  <div class="acbox">
    <ns-table [columns]="columns" [buttons]="buttons"
              [paging]="paging" (pagingChange)="pagingChange($event)"
              [moduleName]="moduleName" [results]="results"
              (clickAction)="onRowButtonClick($event)">
    </ns-table>
  </div>
</div>
