<div fxLayout="row wrap" class="acbox row-wrap-padding" [formGroup]="form" *ngIf="form">
  <div fxFlex="100%" fxLayout="row wrap" class="acbox_title" style="place-content: space-between">
    <div>{{'pov2.title.productInfo'|translate}}
    </div>
    <div class="button-area">
      <button mat-button type="button" class="dashed info"
              (click)="downloadTemplate()"
              *ngIf="!isReadOnly && (!isEdit || poStatusAction.isNewStatus(po))"
      >
        <i class="fal fa-download mr-2"></i> {{'pov2.button.newProduct.download.template'|translate}}
      </button>
      <input type="file" id="input" #importFromExcel hidden (change)="onAddDetailFromExcel(importFromExcel)" />
      <button mat-button type="submit" class="dashed info"
              (click)="onImportByExcelOnClient(importFromExcel)"
              *ngIf="!isReadOnly && (!isEdit || poStatusAction.isNewStatus(po))"
      >
        <i class="fal fa-download mr-2"></i> {{'pov2.button.newProduct.from.excel'|translate}}
      </button>
      <button mat-button type="submit" class="dashed info"
              (click)="onAddDetail()"
              *ngIf="!isReadOnly && (!isEdit || poStatusAction.isNewStatus(po))"
      >
        <i class="fa fa-plus"></i> {{'pov2.button.newProduct'|translate}}
      </button>
    </div>
  </div>
  <ns-smart-table name="poDetails"
                  formControlName="poDetails"
                  [columns]="columns"
                  [buttons]="buttons"
                  [moduleName]="'po.ae'"
                  [isStickyHeader]="true"
                  (clickAction)="onRowButtonClick($event)"
                  fxFlex="100%"
  >
  </ns-smart-table>
</div>
