<ns-breadcrumb></ns-breadcrumb>
<div class="acbox">
  <div fxLayout="row wrap" class="row-wrap-padding">
    <div [formGroup]="model.form" *ngFor="let field of model.inputFields"
         fxLayout="column" fxFlex="25%"
         fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="25%">
      <div dynamicField [field]="field" [group]="model.form"
           [readonly] = "model.actionType === 'edit' && field.name === 'code'">
      </div>
    </div>
    <div class="buttonArea">
      <button (click)="onSave()" mat-button [disabled]="!model.form.valid" class="primary">
        <i class="fa fa-save"></i> {{(model.actionType === 'add' ? 'btnAdd' : 'btnAddEdit') | translate}}
      </button>
    </div>
  </div>
</div>
