//h2 {
//  margin-left: 1rem;
//}
//
//.form {
//  display: flex;
//  padding-top: 0.5rem;
//  padding: 0!important;
//
//  div {
//    flex-basis: calc(100% / 3 - 1rem);
//    margin: 0 0.5rem;
//
//    app-input {
//      mat-form-field {
//        display: block !important;
//        width: 100% !important;
//      }
//    }
//  }
//
//  div:nth-child(7) {
//    div {
//      app-autocomplete {
//        mat-form-field {
//          display: block !important;
//        }
//      }
//    }
//  }
//
//  div:last-child {
//    display: grid;
//  }
//}
//
//.buttonArea {
//  padding: 0.5rem 1rem 1rem 0;
//  display: flex;
//  place-content: flex-end;
//
//  button:last-child {
//    margin-left: 0.5rem;
//  }
//}
//
//:host ::ng-deep {
//  mat-form-field {
//    width: 100%;
//  }
//}
