//
//.l-d-pallet {
//  //font-family: Roboto, "Helvetica Neue", sans-serif;
//  display: flex;
//  flex-direction: column;
//  flex-wrap: wrap;
//  margin: 1rem;
//
//  :empty {
//    display: none
//  }
//
//  .h2pallet {
//    float: left;
//    margin: 0 0 0.5rem 0;
//  }
//
//  .h2palletdetail {
//    float: left;
//    margin: 1rem 0 0.5rem 0;
//  }
//
//  .listPallet {
//    width: 100%;
//  }
//
//  .form {
//    flex-wrap: nowrap;
//    div {
//      flex-shrink: 1;
//      flex-grow: 1;
//      flex-basis: calc(40% - 2rem);
//      margin: 0 0.5rem  ;
//    }
//
//    .buttonArea {
//      flex-shrink: 1;
//      flex-grow: 1;
//      display: flex;
//      flex-basis: 6%;
//      place-content: center;
//      align-items: center;
//
//      @media screen and (max-width: 959px) {
//        margin-bottom: 0.5rem;
//      }
//    }
//  }
//}
//
:host ::ng-deep {

  mat-cell:nth-child(2), mat-header-cell:nth-child(2) {
    max-width: 20rem;
    place-content: center;

    app-read {
      // width: 100%;
      div {
        // width: 100%;
        display: flex;
        place-content: left;
        align-items: center;

        img {
          height: 4rem;
          width: 4rem;
        }
      }
    }
  }

  .mat-column-productPacking-code{
    max-width: 15%!important;
    min-width: 15%!important;
  }

  .mat-column-icon{
    max-width: 3rem!important;
  }

  mat-cell:last-child {
    place-content: center start !important;
  }


  .mat-column-productPacking-product-name{
    max-width: 27%!important;
    min-width: 27%!important;
  }

  .mat-row-yellow {
    color: yellow;
  }

  .mat-row-orange {
    color: orangered;
  }

  .mat-row-red {
    color: red;
  }
}
