<ns-breadcrumb></ns-breadcrumb>
<div [formGroup]="model.form" (keyup.enter)="onSearch()">
  <!--<h2> {{ 'pallet.ld.title' | translate }} </h2>-->
  <!--<app-ld [info]="ldInfo" (searchEvent)="onSearchEvent($event)" (editEvent)="onEditEvent($event)" [group]="form"-->
  <!--(cellActionEvent)="onCellEvent($event)" (showButtonEvent)="showButtonEvent($event)"-->
  <!--(rowClickEvent)="onRowClick($event)"-->
  <!--&gt;</app-ld>-->
  <h3>{{ 'pallet.ld.titleDetail' | translate }}</h3>
  <div class="acbox">
    <div fxLayout="row wrap" class="row-wrap-padding">
      <div [formGroup]="model.form" *ngFor="let field of model.inputFields"
           fxLayout="column" fxFlex="25%"
           fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="25%">
        <div dynamicField [field]="field" [group]="model.form"></div>
      </div>
      <div class="buttonArea">
        <button mat-button type="submit" class="primary Update-btn" (click)="onSearch()" *ngIf="model.onDisplayWithAuthority('get/pallets')">
          <i class="fa fa-search"></i> {{'common.search'|translate}}
        </button>
      </div>
    </div>
  </div>
  <div class="acbox">
    <div class="table-responsive">
      <ts-table-v2 [model]="model.tsTable" [form]="model.form"
                   (rowClickEvent)="onRowClick($event)"
                   class="listPallet"
                   (onPage)="onPage($event)">
      </ts-table-v2>
    </div>
  </div>

  <h3>{{ 'palletDetail.ld.title' | translate }} {{selPallet ? selPallet.name : ''}}</h3>
  <div class="acbox">
    <div class="table-responsive">
      <ts-table-v2 [model]="modelDetail.tsTable"
                   [form]="modelDetail.form"
                   (onPage)="modelDetail.onPage($event)">
        <!--       [class]="modelDetail.tsTable"-->
      </ts-table-v2>
    </div>
  </div>

  <!--<app-ld [info]="ldInfoDetail" (searchEvent)="onSearchEvent($event)" [group]="model.form"-->
  <!--&gt;</app-ld>-->
</div>
