<ns-breadcrumb></ns-breadcrumb>
<form [formGroup]="addEditForm" class="acbox">
  <div fxLayout="row wrap" class="row-wrap-padding">
    <ns-multi-select-autocomplete name="fromCurrency"
                                  formControlName="fromCurrency"
                                  [multiple]="false"
                                  [options]="fromCurrencyOptions"
                                  [placeholder]="'common.from.currency'"
                                  (selectionChange)="changeFromCurrency($event)"
                                  [required]="true"
                                  fxLayout="column" fxFlex="33%"
                                  fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="33%">
    </ns-multi-select-autocomplete>
    <ns-multi-select-autocomplete name="toCurrency"
                                  formControlName="toCurrency"
                                  [multiple]="false"
                                  [options]="toCurrencyOptions"
                                  [placeholder]="'common.to.currency'"
                                  [required]="true"
                                  fxLayout="column" fxFlex="33%"
                                  fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="33%">
    </ns-multi-select-autocomplete>
    <ns-input [placeholder]="'common.exchange.rate'"
              name="exchangeRate"
              formControlName="exchangeRate"
              [errorMessages]="errorMessage"
              [pattern]="exchangeRatePattern"
              [required]="true"
              fxLayout="column" fxFlex="33%"
              fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="33%">
    </ns-input>
    <ns-date-picker name="fromDate" formControlName="fromDate"
                    [required]="true"
                    [minDate]="minFromDate"
                    [placeholder]="'common.fromDate'"
                    fxLayout="column" fxFlex="33%"
                    fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="33%">
    </ns-date-picker>
    <ns-date-picker name="toDate" formControlName="toDate"
                    [minDate]="minToDate"
                    [placeholder]="'common.toDate'"
                    fxLayout="column" fxFlex="33%"
                    fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="33%">
    </ns-date-picker>
    <div class="buttonArea">
      <button mat-button type="submit" class="primary Update-btn"
              [disabled]="addEditForm.invalid" (click)="onSubmit()">
        <i class="fa fa-save"></i> {{(actionType === 'add' ? 'btnAdd' : 'btnAddEdit') | translate}}
      </button>
    </div>
  </div>
</form>
