.add-edit-exchange-rate{

  .form {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    padding: 0.5rem 0 0 0.5rem;

    .btn-sec {
      margin-bottom: 0.5rem;
    }
  }

  .buttonArea{
    margin: 0.5rem;
  }
}

