<ns-breadcrumb></ns-breadcrumb>
<form [formGroup]="searchForm" (ngSubmit)="onSubmit()" class="acbox">
  <div fxLayout="row wrap" class="row-wrap-padding">
    <ns-input name="code" formControlName="code" [placeholder]="'common.search'"
              [isLabelOutside]="true"
              fxLayout="column" fxFlex="50%"
              fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="50%">
    </ns-input>
    <ns-multi-select-autocomplete name="fromStore" formControlName="fromStore"
                                  [placeholder]="'common.fromStore'"
                                  [isLabelOutside]="true"
                                  [multiple]="false" [options]="fromStoreValues"
                                  fxLayout="column" fxFlex="50%"
                                  fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="50%">
    </ns-multi-select-autocomplete>
    <ns-date-picker name="createDate"
                    formControlName="createDate"
                    [isLabelOutside]="true"
                    [placeholder]="'common.createDate'"
                    [maxDate]="createDateMaxValue"
                    fxLayout="column" fxFlex="50%"
                    fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="50%">
    </ns-date-picker>
    <ns-multi-select-autocomplete name="status"
                                  formControlName="status"
                                  [isLabelOutside]="true"
                                  [placeholder]="'common.status'"
                                  [multiple]="false" [options]="statusValues"
                                  fxLayout="column" fxFlex="50%"
                                  fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="50%">
    </ns-multi-select-autocomplete>
    <div fxLayout="column" fxFlex="100%">
      <div class="buttonArea left">
        <button mat-button type="submit" class="primary Update-btn">
          {{'btnSearch'|translate}}
        </button>
        <button mat-button type="button" class="secondary outline reset-btn" (click)="onResetForm()">
          {{'btnReset'|translate}}
        </button>
      </div>
    </div>
  </div>
</form>
<div class="result-area"
     style="margin: 0.5rem 0"
     fxLayout fxLayoutAlign="space-between center">
  <h3 class="margin-0">{{paging.totalElements}} {{' ' + ('common.results'| translate) }}</h3>
  <div class="button-area" fxLayout>
<!--    <button mat-button type="button" class="primary"-->
<!--            *ngIf="exportStatementAuthoritiesService.hasCreateExportStatementRole()"-->
<!--            (click)="onAddNewExportStatement()">-->
<!--      <i class="fa fa-plus"></i> {{'export.statement.button.create'|translate}}-->
<!--    </button>-->
  </div>
</div>
<div class="acbox">
  <ns-table [columns]="columns" [buttons]="buttons"
            [paging]="paging" (pagingChange)="pagingChange($event)"
            [moduleName]="moduleNameJson" [results]="results"
            (clickAction)="onRowButtonClick($event)"
            (onRowClickAction)="onRowButtonClick($event)">
  </ns-table>
</div>
