<form class="dynamic-form" [formGroup]="form" (submit)="onSubmit($event)">
  <!--<ng-container *ngFor="let field of fields;" dynamicField [field]="field" [group]="ae">-->
  <!--</ng-container>-->


<!--<div *ngIf="aeCols !== null && aeCols.length > 0">-->
  <!--<div [formGroup]="ae">-->
  <app-lang (selectChangeEvent)="onChangedLanguage($event)"></app-lang>
  <mat-grid-list cols="{{2}}" rowHeight="85px" (window:resize)="onResize($event)">
    <mat-grid-tile *ngFor="let field of fields;" dynamicField [field]="field" [group]="form">
      <!--<div class="text-inside">-->
        <!--<mat-ae-field >-->

          <!--<input matInput placeholder="{{'Product.managerment.modal.' + column|translate}}" formControlName="{{column}}"-->
                 <!--required>-->
          <!--<mat-error *ngIf="ae.controls[column].hasError('required')">-->
            <!--{{'Product.managerment.modal.' + column + '.empty'|translate}}-->
          <!--</mat-error>-->
          <!--<mat-error *ngIf="ae.controls[column].hasError('pattern')">-->
            <!--{{'Product.managerment.modal.' + column + '.pattern'|translate}}-->
          <!--</mat-error>-->
        <!--</mat-ae-field>-->
      <!--</div>-->
    </mat-grid-tile>

  </mat-grid-list>
  <app-action (clickEvent)="onActionClick($event)"></app-action>
<!--</div>-->
<!--</div>-->
  </form>
