<ns-breadcrumb></ns-breadcrumb>
<div class="acbox">
  <div fxLayout="row wrap" class="row-wrap-padding">
    <div [formGroup]="model.form"
         *ngFor="let field of model.inputFields"
         fxLayout="column" fxFlex="25%"
         fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="25%" fxFlex.lg="25%">
      <div dynamicField [field]="field" [group]="model.form"
           [readonly]="true"></div>
    </div>
    <div class="buttonArea">
      <button mat-raised-button color="primary"
              [disabled]="model.getTblData().length === 0 || !model.form.valid"
              (click)="onUpdate()"
              *ngIf="model.onDisplayWithAuthority('patch/import-statements/{id}')
     && model.actionType !== 'dashboard'">
        <i class="fa-save"></i> {{'btnAddEdit' | translate}}
      </button>
    </div>
  </div>
</div>
<ts-table-v2 [form]="model.form"
             [model]="model.tsTable"
             (cellEvent)="onCellEvent($event)">

</ts-table-v2>
