.export-statement {
  margin: 1rem;

  .form {
    div {
      flex-basis: calc(100%/3 - 1rem);
      margin: 0 0.5rem;
    }

    div:nth-child(7), div:last-child {
      flex-basis: 100%!important;
    }

    .buttonArea {
      flex-grow: 1;
      display: flex;
      place-content: center;
      align-items: center;
      margin-bottom: 0.5rem;
    }
  }
}

:host ::ng-deep {
  .mat-column-id {
    display: none;
  }

  .mat-column-productPacking-id {
    display: none;
  }

  mat-paginator {
    display: none;
  }

  .mat-column-productPacking-code {
    max-width: 15% !important;
  }

  .mat-column-productPacking-packingType-quantity, .mat-column-quantity, .mat-column-totalQuantity {
    app-read {
      div {
        display: flex;
        place-content: center;
      }
    }
  }

  .mat-column-productPacking-product-name {
    flex-basis: 15% !important;
  }

}
