<ns-breadcrumb></ns-breadcrumb>
<div class="acbox">
  <div fxLayout="row wrap" class="row-wrap-padding">
    <div [formGroup]="model.form" *ngFor="let field of model.inputFieldsLangs[model.currLang.code]"
         fxLayout="column" fxFlex="1 1 {{field.name === 'description' ? '100%' : 'calc(100% /3)'}}"
         fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%">
      <div dynamicField [field]="field" [group]="model.form"
           [readonly]="['fromStoreUsername', 'fromStoreUserTel',
            'toStoreUsername', 'toStoreUserTel'].includes(field.name)">
      </div>
    </div>
    <div class="buttonArea">
      <button mat-button class="primary"
              [disabled]="!model.form.valid || model.getTblData().length === 0"
              (click)="onSave()"
              *ngIf="model.onDisplayWithAuthority('post/export-statements')">
        <i class="fa fa-save"></i> {{'btnAdd' | translate}}
      </button>
    </div>
  </div>
</div>
<div class="acbox">
  <div class="totalTitle padding-5" fxLayout fxLayoutAlign="end center">
    <div class="title" fxLayout="column">
      <b>{{'export.statement.title.total.weight'|translate}}: {{getTotalWeight()}} kg</b>
      <b>{{'export.statement.title.total.volume'|translate}}: {{getTotalVolume()}} m3</b>
    </div>
  </div>
  <div class="table-responsive">
    <ts-table-v2 [model]="model.tsTable"
                 [form]="model.form"
                 (addEvent)="onAddEvent($event)"
                 (cellEvent)="onCellEvent($event)">
    </ts-table-v2>
  </div>
</div>
