<div class="breadcrumbArea">
  <ns-breadcrumb></ns-breadcrumb>
</div>
<div class="searchFormGroup">
  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()" class="form">
    <div fxLayout="row wrap" class="row-wrap-padding">
      <ns-input [placeholder]="'common.search'" name="text" formControlName="text"
                fxLayout="column" fxFlex="30%"
                fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="70%">
      </ns-input>
      <ns-multi-select-autocomplete name="status" formControlName="status"
                                    [multiple]="false" [options]="statusValues"
                                    [placeholder]="'common.status'"
                                    fxLayout="column" fxFlex="30%"
                                    fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="30%">
      </ns-multi-select-autocomplete>
      <div class="buttonArea">
        <button mat-button type="submit" class="primary Update-btn">
          <i class="fa fa-search"></i> {{'btnSearch'|translate}}
        </button>
      </div>
    </div>
  </form>
  <div class="content">
    <ns-table [columns]="columns" [buttons]="buttons"
              [paging]="paging" (pagingChange)="pagingChange($event)"
              [moduleName]="moduleName" [results]="results"
              (onRowClickAction)="onRowButtonClick($event)">
    </ns-table>
  </div>
</div>
