<div class="partner-list">
  <ns-breadcrumb></ns-breadcrumb>
  <div class="acbox acbox_content">
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
      <div fxLayout="row wrap" class="row-wrap-padding">
        <div class="form_title">{{'palletv2.title.searching' | translate}}</div>

        <!--        <ns-input name="step"-->
        <!--                  formControlName="step"-->
        <!--                  [placeholder]="'pallet.step'"-->
        <!--                  [isLabelOutside]="true"-->
        <!--                  [label]="'pallet.step'"-->
        <!--                  fxLayout="column" fxFlex="50%" fxFlex.lt-md="100%">-->
        <!--        </ns-input>-->
        <ns-multi-select-autocomplete [multiple]="false" [isLabelOutside]="true" [options]="stepOptions"
                                      name="palletSteps" formControlName="palletSteps"
                                      [placeholder]="'pallet.step'"
                                      (selectionChange)="reloadPallet()"
                                      [label]="'pallet.step'"
                                      [required]="true"
                                      fxLayout="column" fxFlex="50%" fxFlex.lt-md="100%">
        </ns-multi-select-autocomplete>

        <ns-multi-select-autocomplete [multiple]="false" [isLabelOutside]="true" [options]="storesCollection"
                                      name="storeId" formControlName="storeId"
                                      [placeholder]="'pallet.ae.store.name'"
                                      [label]="'pallet.ae.store.name'"
                                      (selectionChange)="reloadPallet()"
                                      [required]="true"
                                      fxLayout="column" fxFlex="50%" fxFlex.lt-md="100%">
        </ns-multi-select-autocomplete>


        <ns-multi-select-autocomplete [multiple]="false" [isLabelOutside]="true" [options]="distributorCollection"
                                      name="distributorId" formControlName="distributorId"
                                      [placeholder]="'po.ae.distributor.code'"
                                      [label]="'po.ae.distributor.code'"
                                      [required]="true"
                                      fxLayout="column" fxFlex="50%" fxFlex.lt-md="100%">
        </ns-multi-select-autocomplete>


        <ns-multi-select-autocomplete [multiple]="false" [isLabelOutside]="true" [options]="palletCollection"
                                      name="palletId" formControlName="palletId"
                                      [placeholder]="'palletv2.label.pallet'"
                                      [label]="'palletv2.label.pallet'"
                                      fxLayout="column" fxFlex="50%" fxFlex.lt-md="100%">
        </ns-multi-select-autocomplete>
        <ns-multi-select-autocomplete [multiple]="false" [isLabelOutside]="true" [options]="expireDateColors"
                                      name="expireDateColor" formControlName="expireDateColor"
                                      [placeholder]="'palletv2.label.productStatus'"
                                      [label]="'palletv2.label.productStatus'"
                                      fxLayout="column" fxFlex="50%" fxFlex.lt-md="100%">
        </ns-multi-select-autocomplete>
        <ns-input name="productPackingCode" formControlName="productPackingCode"
                  [placeholder]="'store.inventory.table.header.productPacking.code'"
                  [isLabelOutside]="true"
                  fxLayout="column" fxFlex="50%"
                  fxFlex.lt-md="100%">
        </ns-input>
        <ns-input name="productPackingName" formControlName="productPackingName"
                  [placeholder]="'store.inventory.table.header.productPacking.name'"
                  [isLabelOutside]="true"
                  fxLayout="column" fxFlex="50%"
                  fxFlex.lt-md="100%">
        </ns-input>
        <div fxLayout="column" fxFlex="100%">
          <div class="buttonArea left margin-0">
            <button mat-button type="submit" class="primary" [disabled]="searchForm.invalid">
              {{'btnSearch'|translate}}
            </button>
            <button mat-button type="button" class="secondary outline"
                    (click)="onReset()">
              {{'btnReset'|translate}}
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="result-area"
     style="margin: 0.5rem 0"
     fxLayout fxLayoutAlign="space-between center">
  <h3 class="margin-0">{{paging.totalElements}} {{' ' + ('common.results'| translate) }}</h3>
  <div class="button-area" fxLayout>
    <button mat-button type="button" class="primary outline"
            *ngIf="results.data.length"
            (click)="exportExcel()"
    >
      <i class="fa fa-upload"></i> {{'common.button.exportExcel'|translate}}
    </button>
  </div>
</div>
<div class="acbox">
  <ns-table [columns]="columns" [buttons]="buttons"
            [paging]="paging" (pagingChange)="pagingChange($event)"
            [moduleName]="moduleNameJson" [results]="results"
            [expandHeaderButton]="expandButton"
            (clickAction)="onRowButtonClick($event)">
  </ns-table>
</div>
