<ns-breadcrumb (updateLabel)="updateBreadcrumb($event)"></ns-breadcrumb>
<!--<div class="row-wrap-padding" fxLayout="row wrap">-->

<form [formGroup]="addEditForm">

  <app-add-edit-po-manufacturer [form]="addEditForm"
                                [po]="po"
                                [isReadOnly]="getReadOnly()"
                                [hasClaim]="hasClaim"
                                fxFlex="100%"
                                fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="100%" fxFlex.lg="100%"
  ></app-add-edit-po-manufacturer>

  <!--  <div class="row-wrap-padding acbox" fxLayout="row wrap">-->

  <!--  </div>-->

</form>

<!--</div>-->
<div class="acbox_footer">
  <div>
    <button mat-button class="primary outline"
            type="button"
            (click)="onBack()">
      {{'btnBack' | translate}}
    </button>
    <div style="margin: 0">
      <button mat-button class="primary outline"
              (click)="onPrintPO()"
              *ngIf="poAuthoritiesService.hasPrintPoDetailRole() && isEdit">
        <!--<i class="fa fa-print"></i> -->{{'common.btn.print' | translate}} {{'common.PO' | translate}}
      </button>
      <button mat-button class="primary"
              [disabled]="addEditForm.invalid || isEmptyDetails()"
              (click)="onApprove()"
              *ngIf="(poStatusAction.isNewStatus(po)) &&
              poAuthoritiesService.hasApprovePoRole() && actionType === ActionType.view">
        <!--<i class="fa fa-thumbs-up"></i> -->{{'common.btn.approve' | translate}}
      </button>
      <button mat-button class="danger"
              [disabled]="isEmptyDetails()"
              (click)="onRejectApprove()"
              *ngIf="(!!po && ((poStatusAction.isNewStatus(po) && !CommonUtils.isFCSKRole(authoritiesService))
                        || ((poStatusAction.isArrivedMyanmarPortStatus(po) || poStatusAction.isArrivedVietnamPortStatus(po) ||
                          (poStatusAction.isApprovedStatus(po) && !po.arrivedVietnamPortDate)) && CommonUtils.isFCSKRole(authoritiesService))))  &&
                          poAuthoritiesService.hasRejectPoRole() && actionType === ActionType.view">
        <!--<i
          class="fa fa-thumbs-down"></i> -->{{(poStatusAction.isNewStatus(po) ? 'common.btn.approve.reject' : 'btnCancel')  | translate}}
      </button>

      <button mat-button class="primary"
              (click)="onSave()"
              [disabled]="addEditForm.invalid || isEmptyDetails() || (poService.isNotPrice | async)"
              *ngIf="(!po || poStatusAction.isNewStatus(po)) && poAuthoritiesService.hasCreatePoRole() && !(actionType === ActionType.view)">
        <!--<i class="fa fa-save"></i> -->{{(actionType === ActionType.new ? 'btnAdd' : 'btnAddEdit') | translate}}
      </button>
      <button mat-button class="primary"
              [disabled]="addEditForm.invalid"
              (click)="onGRPO()"
              *ngIf="(!!po && po.arriveFcDate && !po.importDate) &&
              poAuthoritiesService.hasGoodReceivePoRole() && actionType === ActionType.GR"
      >{{'common.btn.GR' | translate}}
      </button>

      <button mat-button class="primary"
              (click)="onClaimDetail()"
              *ngIf="isShowButton('GR', actionType) &&
             onDisplayWithAuthority('get/claims/{id}') && hasClaim"
      >{{'common.btn.claim' | translate}}
      </button>
      <!--  <button mat-button class="primary"-->
      <!--          (click)="updateArrivedDate()"-->
      <!--          [disabled]="addEditForm.invalid || !onDisplayArrivedDate()"-->
      <!--          *ngIf="onDisplayWithAuthority(['patch/pos/{id}/arrived-fc',-->
      <!--               'patch/pos/{id}/arrived-myanmar-port',-->
      <!--                'patch/pos/{id}/arrived-vietnam-port']) && this.actionType === ActionType.deliveryDate"-->
      <!--  >{{'common.btn.arrived.port' | translate}}-->
      <!--  </button>-->
    </div>
  </div>
</div>




