//h2{
//  margin: 0 0 0.5rem 0;
//}
//
//.form {
//  display: flex;
//  flex-wrap: wrap;
//
//  div {
//    flex-basis: calc(50% - 1rem);
//    margin: 0 0.5rem;
//  }
//
//  .buttonArea{
//    flex-basis: 100%;
//    display: flex;
//    place-content: flex-end;
//  }
//}
