<div class="dialog-padding">
  <div class="category_title"><span><i class="fa fa-leaf"></i> {{'common.packing.divide' | translate }}</span></div>
  <div class="acbox">
    <div fxLayout="row wrap" class="row-wrap-padding">
      <div [formGroup]="model.form" *ngFor="let field of model.inputFields"
           fxLayout="column" fxFlex="50%"
           fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="50%">
        <div dynamicField [field]="field" [group]="model.form"
             [readonly]="!['quantity', 'expireDate', 'pallet.code'].includes(field.name)"></div>
      </div>
      <div class="buttonArea">
        <button mat-button class="primary" [disabled]="!model.form.valid"
                (click)="onAddDividePacking()"><i class="fa fa-save"></i> {{'btnAdd' | translate}}
        </button>
      </div>
    </div>
  </div>
</div>
