<div class="acbox">
  <ns-table [columns]="columns" [buttons]="buttons"
            [paging]="paging" (pagingChange)="pagingChange($event)"
            (onRowClickAction)="onRowClickAction($event)"
            [moduleName]="moduleName" [results]="results"
            (clickAction)="onRowButtonClick($event)">
  </ns-table>
</div>
