//.drop-box {
//  cursor: pointer;
//  background: #F8F8F8;
//  border: 5px dashed #DDD;
//  text-align: center;
//  padding: 40px;
//}
//
//.drag-over-title {
//  display: none;
//}
//
//.mat-column-stt {
//  max-width: 50px;
//  padding-left: 2%;
//  text-align: center;
//}
//.drop-box.dragover {
//  opacity: 0.6;
//}
//
//
//table {
//  width: 100%;
//  table-layout: fixed;
//}
//.drop-box.dragover .drag-over-title {
//  display: block;
//}
//
//.drop-box.dragover .drag-in-title {
//  display: none;
//}
//
//input[type='file'] {
//  display: none;
//}







