<ns-breadcrumb></ns-breadcrumb>
<mat-horizontal-stepper [linear]="true" #stepper
                        (selectionChange)="onSelectionChange($event)">
  <mat-step [stepControl]="form">
    <ng-template matStepLabel>{{'repacking.plan.title'|translate }}</ng-template>
    <app-plan></app-plan>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" *ngIf="actionType !== actionTypeEneum.new">
    <ng-template matStepLabel>{{'repacking.repack.title'|translate }}</ng-template>
    <app-repack></app-repack>
  </mat-step>
  <mat-step [stepControl]="form"
            disabled="{{repackingPlan && (repackingPlan.status !== repackStatus.REPACKED && repackingPlan.status !== repackStatus.IMPORTED)}}"
            [editable]="repackingPlan && (repackingPlan.status === repackStatus.REPACKED)"
            *ngIf="actionType !== actionTypeEneum.new">
    <ng-template matStepLabel>{{'repacking.import.title'|translate }}</ng-template>
    <app-update-pallet></app-update-pallet>
  </mat-step>
</mat-horizontal-stepper>





