<div class="login_cover">
  <mat-card>
    <mat-card-title><img src="/assets/files/logo.png"/> <i class="fa fa-truck"></i> Logistics</mat-card-title>
    <mat-card-content>
      <ng-container *ngIf="isDisplayFormLogin(); else formChangePass">
        <form [formGroup]="form" (ngSubmit)="submit()">
          <p>
            <mat-form-field>
              <input type="text" matInput placeholder="{{'login.username'|translate}}" formControlName="username"
                     height="69">
              <i class="fas fa-user suffix-icon" matSuffix></i>
            </mat-form-field>
          </p>

          <p>
            <mat-form-field>
              <input type="password" matInput
                     #currentPassword
                     placeholder="{{'login.password'|translate}}"
                     formControlName="password">
              <i class="fas fa-eye-slash suffix-icon password"
                 *ngIf="currentPassword.type === 'password'"
                 (click)="toggleShowPassword(currentPassword)" matSuffix></i>
              <i class="fas fa-eye suffix-icon password"
                 *ngIf="currentPassword.type === 'text'"
                 (click)="toggleShowPassword(currentPassword)" matSuffix></i>
            </mat-form-field>
          </p>

          <p *ngIf="error" class="error">
            {{ error }}
          </p>

          <div class="button">
            <button mat-button type="submit" class="primary"><i class="fa fa-sign-in"></i> {{'login.login'|translate}}
            </button>
          </div>

        </form>
      </ng-container>
      <ng-template #formChangePass>
        <form [formGroup]="formChangePassword" (ngSubmit)="onSave()">
          <p>
            <mat-form-field>
              <input type="password" matInput
                     #newPassword
                     required="true"
                     placeholder="{{'common.new.password'|translate}}"
                     formControlName="newPassword">
              <mat-error *ngIf="this.formChangePassword.get('newPassword')?.hasError('required')">
                {{'common.required' | translate}}
              </mat-error>
              <mat-error *ngIf="this.formChangePassword.get('newPassword')?.hasError('checkConfirmFalse')">
                {{'common.checkConfirmFalse' | translate}}
              </mat-error>
              <mat-error *ngIf="this.formChangePassword.get('newPassword')?.hasError('sameOldPassword')">
                {{'common.sameOldPassword' | translate}}
              </mat-error>
              <i class="fas fa-eye-slash suffix-icon password"
                 *ngIf="newPassword.type === 'password'"
                 (click)="toggleShowPassword(newPassword)" matSuffix></i>
              <i class="fas fa-eye suffix-icon password"
                 *ngIf="newPassword.type === 'text'"
                 (click)="toggleShowPassword(newPassword)" matSuffix></i>
            </mat-form-field>
          </p>

          <p>
            <mat-form-field>
              <input type="password" matInput
                     #oldPassword
                     required="true"
                     placeholder="{{'common.confirm.password'|translate}}"
                     formControlName="newConfirmPassword">
              <mat-error *ngIf="this.formChangePassword.get('newConfirmPassword')?.hasError('required')">
                {{'common.required' | translate}}
              </mat-error>
              <mat-error *ngIf="this.formChangePassword.get('newConfirmPassword')?.hasError('checkConfirmFalse')">
                {{'common.checkConfirmFalse' | translate}}
              </mat-error>
              <i class="fas fa-eye-slash suffix-icon password"
                 *ngIf="oldPassword.type === 'password'"
                 (click)="toggleShowPassword(oldPassword)" matSuffix></i>
              <i class="fas fa-eye suffix-icon password"
                 *ngIf="oldPassword.type === 'text'"
                 (click)="toggleShowPassword(oldPassword)" matSuffix></i>
            </mat-form-field>
          </p>

          <p *ngIf="error" class="error">
            {{ error }}
          </p>

          <div class="button">
            <button mat-button type="submit" [disabled]="formChangePassword.invalid" class="primary">
              <i class="fas fa-save"></i>{{'common.btn.save' | translate}}
            </button>
          </div>

        </form>
      </ng-template>
    </mat-card-content>
  </mat-card>
</div>
