<div class="partner-list">
  <ns-breadcrumb></ns-breadcrumb>
  <div class="acbox acbox_content">
    <form [formGroup]="addEditForm">
      <div fxLayout="row wrap" class="row-wrap-padding">
        <!--        <div class="form_title">{{'partner.heading.searching' | translate}}</div>-->

        <!--        <ns-input name="code"-->
        <!--                  formControlName="code"-->
        <!--                  [placeholder]="'partner.placeholder.code'"-->
        <!--                  [isLabelOutside]="true"-->
        <!--                  [label]="'partner.label.code'"-->
        <!--                  fxLayout="column" fxFlex="50%" fxFlex.lt-md="100%">-->
        <!--        </ns-input>-->
        <!--        -->
        <div class="acbox_title" fxFlex="100%">{{'partner.title.basicInfo'|translate}}</div>
        <!--        <ns-input name="code"-->
        <!--                  formControlName="code"-->
        <!--                  [placeholder]="'partner.placeholder.code.auto.create'"-->
        <!--                  [isLabelOutside]="true"-->
        <!--                  [label]="'partner.label.code'"-->
        <!--                  [disabled]="true"-->
        <!--                  fxLayout="column" fxFlex="50%" fxFlex.lt-md="100%">-->
        <!--        </ns-input>-->
        <ns-input name="name"
                  formControlName="name"
                  [placeholder]="'partner.placeholder.name'"
                  [isLabelOutside]="true"
                  [label]="'partner.label.name'"
                  [required]="true"
                  [disabled]="isView"
                  fxLayout="column" fxFlex="50%" fxFlex.lt-md="100%">
        </ns-input>
        <!--        [readonly]="!isEdit"-->
        <ns-input name="phone"
                  formControlName="phone"
                  [placeholder]="'partner.placeholder.phone'"
                  [isLabelOutside]="true"
                  [required]="true"
                  [disabled]="isView"
                  [label]="'partner.label.phone'"
                  fxLayout="column" fxFlex="50%" fxFlex.lt-md="100%">
        </ns-input>
        <ns-input name="email"
                  formControlName="email"
                  [placeholder]="'partner.placeholder.email'"
                  [isLabelOutside]="true"
                  [required]="true"
                  [disabled]="isView"
                  [label]="'partner.label.email'"
                  fxLayout="column" fxFlex="50%" fxFlex.lt-md="100%">
        </ns-input>

        <ns-input name="contractCode"
                  formControlName="contractCode"
                  [placeholder]="'partner.placeholder.contractCode'"
                  [isLabelOutside]="true"
                  [required]="true"
                  [disabled]="isView"
                  [label]="'partner.label.contractCode'"
                  fxLayout="column" fxFlex="50%" fxFlex.lt-md="100%">
        </ns-input>

        <ns-input name="taxCode"
                  formControlName="taxCode"
                  [placeholder]="'partner.placeholder.taxCode'"
                  [isLabelOutside]="true"
                  [required]="true"
                  [disabled]="isView"
                  [label]="'partner.label.taxCode'"
                  fxLayout="column" fxFlex="50%" fxFlex.lt-md="100%">
        </ns-input>
        <ns-input name="address"
                  formControlName="address"
                  [placeholder]="'partner.placeholder.address'"
                  [isLabelOutside]="true"
                  [required]="true"
                  [disabled]="isView"
                  [label]="'partner.label.address'"
                  fxLayout="column" fxFlex="50%" fxFlex.lt-md="100%">
        </ns-input>

        <ns-input name="description"
                  formControlName="description"
                  [placeholder]="'partner.placeholder.description'"
                  [isLabelOutside]="true"
                  [multiline]="true"
                  [disabled]="isView"
                  [label]="'partner.label.description'"
                  fxLayout="column" fxFlex="100%" fxFlex.lt-md="100%">
        </ns-input>
        <div class="acbox_title margin-bottom-10" fxFlex="100%">{{'partner.title.contractFiles'|translate}}<span
          style="color: red">*</span></div>
        <ns-multi-upload-file-v2 formControlName="partnerFiles"
                                 [isFix]="false"
                                 [required]="true"
                                 [disabled]="isView"
                                 [accept]="[FileTypes.PDF]"
                                 fxLayout="column" fxFlex="100%">
        </ns-multi-upload-file-v2>

      </div>
    </form>
  </div>
</div>
<div class="acbox">
  <app-dialog-footer [footerStyle]="'acbox_footer center'" [buttons]="actionButtons"
                     (clickAction)="onRowButtonClick($event)"></app-dialog-footer>
</div>
