<ns-breadcrumb></ns-breadcrumb>
<div class="searchFormGroup">
  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()" class="acbox">
    <div fxLayout="row wrap" class="row-wrap-padding">
      <ns-input name="code" formControlName="code" [placeholder]="'common.search'"
                fxLayout="column" fxFlex="25%"
                fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="25%" fxFlex.lg="25%">
      </ns-input>
      <ns-multi-select-autocomplete name="toStore" formControlName="toStore" [placeholder]="'common.toStore'"
                                    [multiple]="false" [options]="toStoreValues"
                                    fxLayout="column" fxFlex="25%"
                                    fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="25%" fxFlex.lg="25%">
      </ns-multi-select-autocomplete>
      <ns-date-picker name="createDate" formControlName="createDate" [placeholder]="'common.createDate'"
                      [maxDate]="createDateMaxValue"
                      fxLayout="column" fxFlex="25%"
                      fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="25%" fxFlex.lg="25%">
      </ns-date-picker>
      <ns-multi-select-autocomplete name="status" formControlName="status" [placeholder]="'common.status'"
                                    [multiple]="false" [options]="statusValues"
                                    fxLayout="column" fxFlex="25%"
                                    fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="25%" fxFlex.lg="25%">
      </ns-multi-select-autocomplete>
      <div class="buttonArea">
        <button mat-button type="submit" class="primary Update-btn">
          <i class="fa fa-search"></i> {{'btnSearch'|translate}}
        </button>
      </div>
    </div>
  </form>
  <div class="acbox">
    <ns-table [columns]="columns" [buttons]="buttons"
              [paging]="paging" (pagingChange)="pagingChange($event)"
              [moduleName]="moduleName" [results]="results"
              (clickAction)="onRowButtonClick($event)"
              (onRowClickAction)="onRowButtonClick($event)">
    </ns-table>
  </div>
</div>
