<ns-breadcrumb></ns-breadcrumb>
<div class="acbox" [formGroup]="model.form">
  <div fxLayout="row wrap" class="row-wrap-padding">
    <div [formGroup]="model.form" *ngFor="let field of model.inputFieldsLangs[model.currLang.code];"
         fxLayout="column" fxFlex="25%"
         fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="25%">
      <!--        [fxFlex]="field.type ==='fileImg'?100:50"-->
      <div dynamicField [field]="field" [group]="model.form"
           [readonly]="!(model.actionType === ACTION_TYPE.new || model.actionType === ACTION_TYPE.editPo)"></div>
    </div>
    <div class="buttonArea">
      <button mat-button class="primary"
              [disabled]="!model.form.valid || model.claimError"
              (click)="onUpdateImportPOPallet($event)"
              *ngIf="isShowButton('pallet', model.actionType) &&
             model.onDisplayWithAuthority('post/import-pos/update-pallet/{id}')">
        <i class="fa fa-save"></i> {{'common.btn.pallet.update' | translate}}
      </button>
      <button mat-button class="primary"
              (click)="onClaimDetail()"
              *ngIf="model.actionType !== 'dashboard' && model.actionType !== 'dashboard-from-claim' &&
             model.onDisplayWithAuthority('get/claims/{id}') && model.hasClaim">
        <i class="fa fa-exclamation-circle"></i> {{'common.btn.claim' | translate}}
      </button>
    </div>
  </div>
</div>
<div class="acbox">
  <div class="table-responsive">
    <ts-table-v2 [model]="model.tsTable"
                 [form]="model.form"
                 (cellEvent)="onCellEvent($event)"
                 (isShowButtonEvent)="isShowTblButton($event)"
                 (onPage)="model.onPage($event)">
    </ts-table-v2>
  </div>
</div>
