.ImportPO_Add {
  margin: 1rem;
  .ImportPO_Form {
    display: flex;
    flex-basis: 100%;
    @media screen and (max-width: 959px) {
      flex-direction: column;
    }

    @media screen and (min-width: 960px) {
      flex-direction: row;
    }

    @mixin div-form {
      flex-shrink: 1;
      flex-grow: 1;
      margin: 0.5rem 0 0 1rem;
      @media screen and (max-width: 959px) {
        margin-right: 1rem;
      }
    }

    div:nth-child(1), div:nth-child(2) {
      @include div-form;

      flex-basis: calc(22% - 1rem);

    }

    div:nth-child(3) {
      @include div-form;
      flex-basis: calc(36% - 1rem);
    }

    .buttonArea {
      display: flex;
      place-content: center;
      align-items: center;
      margin: 1rem;
      flex-shrink: 1;
      @media screen and (max-width: 959px) {
        margin-bottom: 1rem;
      }

      button {
        margin-left: 5px;
      }

      button:first-child {
        margin: 0;
      }
    }
  }
}

:host ::ng-deep {
  mat-paginator {
    display: none;
  }
}
