<div class="inventory-list">
  <ns-breadcrumb></ns-breadcrumb>

  <!--<div class="searchFormGroup">-->
  <form (ngSubmit)="onSubmit()" [formGroup]="searchForm" class="acbox">
    <div fxLayout="row wrap" class="row-wrap-padding acbox">


      <ns-input name="productPackingCode" formControlName="productPackingCode"
                [placeholder]="'store.inventory.table.header.productPacking.code'"
                [isLabelOutside]="true"
                fxLayout="column" fxFlex="50%"
                fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="50%">
      </ns-input>
      <ns-input name="productPackingName" formControlName="productPackingName"
                [placeholder]="'store.inventory.table.header.productPacking.name'"
                [isLabelOutside]="true"
                fxLayout="column" fxFlex="50%"
                fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="50%">
      </ns-input>
      <ns-multi-select-autocomplete name="store" formControlName="store"
                                    [multiple]="false" [options]="stores"
                                    [placeholder]="moduleName + '.autocomplete.store.label'"
                                    (selectionChange)="onStoreChange($event)"
                                    [isLabelOutside]="true"
                                    fxLayout="column" fxFlex="50%"

                                    fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="50%">
      </ns-multi-select-autocomplete>
      <ns-multi-select-autocomplete name="manufacturer" formControlName="manufacturer"
                                    [multiple]="false" [options]="manufacturers"
                                    [placeholder]="moduleName + '.autocomplete.manufacturer.label'"
                                    (selectionChange)="onManufacturerChange($event)"
                                    [isLabelOutside]="true"
                                    fxLayout="column" fxFlex="50%"
                                    fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="50%">
      </ns-multi-select-autocomplete>
      <ns-multi-select-autocomplete name="expireDateColor" formControlName="expireDateColor"
                                    [multiple]="false" [options]="expireDateColorOptions"
                                    [placeholder]="moduleName + '.autocomplete.expireDateColor.label'"
                                    (selectionChange)="onExpireDateColorChange($event)"
                                    [isLabelOutside]="true"
                                    fxLayout="column" fxFlex="50%"
                                    fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="50%">
      </ns-multi-select-autocomplete>
      <div class="buttonArea left">
        <button mat-button type="submit" class="primary Update-btn">
          {{'btnSearch'|translate}}
        </button>
      </div>

    </div>

  </form>
  <div class="result-area"
       style="margin: 0.5rem 0"
       fxLayout fxLayoutAlign="space-between center">
    <h3 class="margin-0">{{paging.totalElements}} {{' ' + ('common.results'| translate) }}</h3>
    <div class="button-area" fxLayout>
      <button mat-button type="button" class="primary outline"
              *ngIf="results.data.length"
              (click)="exportExcel()"
      >
        <i class="fa fa-upload"></i> {{'common.button.exportExcel'|translate}}
      </button>
    </div>
  </div>
  <div class="acbox">
    <ns-table [columns]="columns" [buttons]="buttons"
              [expandHeaderButton]="expandColumnButton"
              [paging]="paging" (pagingChange)="pagingChange($event)"
              [moduleName]="moduleName" [results]="results"
              (clickAction)="onRowButtonClick($event)">
    </ns-table>
  </div>
  <!--</div>-->
</div>
