.inventory-list {

  mat-cell:nth-child(3),
  mat-header-cell:nth-child(3) {
    max-width: 30px;
  }

  .mat-column-expired-class {
    .mat-row-yellow {
      width: 23px;
      height: 23px;
      color: yellow !important;
      background-size: contain;
    }

    .mat-row-orange {
      width: 23px;
      height: 23px;
      color: orangered !important;
      background-size: contain;
    }

    .mat-row-red {
      width: 23px;
      height: 23px;
      color: red !important;
      background-size: contain;
    }
  }

  mat-cell div.mat-row-yellow {
    font-size: 23px;
    color: #ffd10d;
  }

  mat-cell div.mat-row-orange {
    font-size: 23px;
    color: orangered !important;
  }

  mat-cell div.mat-row-red {
    font-size: 23px;
    color: red !important;
  }
}
