<ns-breadcrumb></ns-breadcrumb>
<form class="acbox" [formGroup]="addEditForm">
  <div fxLayout="row wrap" class="row-wrap-padding">
    <ns-input name="username" formControlName="username"
              [placeholder]="moduleName + 'username'"
              [hint]="moduleName + 'username.hint'"
              [required]="true" [disabled]="isEdit"
              fxLayout="column" fxFlex="25%"
              fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="25%">
    </ns-input>
    <ns-input name="firstName" formControlName="firstName"
              [placeholder]="moduleName + 'firstName'"
              [hint]="moduleName + 'firstName.hint'"
              [required]="true" [disabled]="(isEdit && !isExists) || isView"
              fxLayout="column" fxFlex="25%"
              fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="25%">
    </ns-input>
    <ns-input name="lastName" formControlName="lastName"
              [placeholder]="moduleName + 'lastName'"
              [hint]="moduleName + 'lastName.hint'"
              [required]="true" [disabled]="(isEdit && !isExists) || isView"
              fxLayout="column" fxFlex="25%"
              fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="25%">
    </ns-input>
    <ns-input name="tel" formControlName="tel"
              [placeholder]="moduleName + 'tel'"
              [hint]="moduleName + 'tel.hint'"
              [required]="true" [disabled]="(isEdit && !isExists) || isView"
              fxLayout="column" fxFlex="25%"
              fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="25%">
    </ns-input>
    <ns-input name="email" formControlName="email"
              [placeholder]="moduleName + 'email'"
              [hint]="moduleName + 'email.hint'"
              [required]="true" [disabled]="(isEdit && !isExists) || isView"
              fxLayout="column" fxFlex="25%"
              fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="25%">
    </ns-input>
    <!--    <ns-multi-select-autocomplete [multiple]="false"-->
    <!--                                  [options]="distributorValues"-->
    <!--                                  [placeholder]="'user.select.distributor.label' |translate"-->
    <!--                                  name="distributorId"-->
    <!--                                  formControlName="distributorId"-->
    <!--                                  fxLayout="column" fxFlex="25%"-->
    <!--                                  fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="25%">-->
    <!--    </ns-multi-select-autocomplete>-->
    <ns-multi-select-autocomplete [placeholder]="'user.select.role.label'"
                                  [multiple]="false"
                                  [options]="roleValues"
                                  (selectionChange)="roleChange()"
                                  name="role" formControlName="role"
                                  [disabled]="(isEdit && !isExists) || isView"
                                  fxLayout="column" fxFlex="25%"
                                  fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="25%">
    </ns-multi-select-autocomplete>
    <ng-container *ngIf="storeMultiple">
      <ns-multi-select-autocomplete [multiple]="true"
                                    [options]="storeValues"
                                    [disabled]="isView"
                                    [placeholder]="'user.select.store.label' | translate"
                                    name="storeIds"
                                    formControlName="storeIds"
                                    fxLayout="column" fxFlex="25%"
                                    fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="25%">
      </ns-multi-select-autocomplete>
    </ng-container>
    <ng-container *ngIf="!storeMultiple">
      <ns-multi-select-autocomplete [multiple]="false"
                                    [options]="storeValues"
                                    [disabled]="isView"
                                    [placeholder]="'user.select.store.label' | translate"
                                    name="storeIds"
                                    formControlName="storeIds"
                                    fxLayout="column" fxFlex="25%"
                                    fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="25%">
      </ns-multi-select-autocomplete>
    </ng-container>
  </div>
</form>
<div class="acbox_footer">
  <div>
    <button mat-button type="button" class="primary outline" (click)="back()">
      {{'btnBack'|translate}}
    </button>
    <button mat-button type="submit" class="primary Update-btn" (click)="onSubmit()"
            [disabled]="addEditForm.invalid || (isEdit && !isExists)"
            *ngIf="hasAuthority() && !isView">
      {{(isEdit ? 'btnAddEdit' : 'btnAdd')|translate}}
    </button>
  </div>
</div>
