//.form {
//  display: flex;
//  flex-wrap: wrap;
//  //padding-top: 0.5rem;
//  //margin: 1rem;
//  flex-basis: 100%;
//  div {
//    padding: 0 !important;
//  }
//
//  ns-input, ns-multi-select-autocomplete {
//    margin: 0 0.5rem;
//    flex-basis: calc(100% / 3 - 1.5rem);
//
//    @media screen and (max-width: 600px) {
//      flex-basis: calc(100% - 1rem);
//    }
//
//  }
//
//  .btn-sec {
//    display: flex;
//    place-content: flex-end;
//    margin: 0.5rem;
//
//    button:last-child {
//      margin-left: 0.5rem;
//    }
//  }
//}
