<!--<div class="btn-sec" align="center">-->
  <button mat-button (click)="onBackEvent($event)" class="primary Update-btn">{{'Back'}}</button>
  <button mat-button (click)="onNextEvent($event)" class="primary Update-btn">{{'Next'}}</button>
  <button mat-button (click)="onSaveEvent($event)" class="primary Update-btn" type="submit">{{'btnAddEdit'|translate}}</button>
<!--</div>-->
