<ns-breadcrumb (updateLabel)="updateLabel($event)"
               *ngIf="!isEdit || (isEdit && exportStatement)"></ns-breadcrumb>
<form [formGroup]="addEditForm">
  <div fxLayout="column">
    <div class="acbox row-wrap-padding" fxLayout="row wrap" fxFlex="100%">
      <ns-multi-select-autocomplete name="fromStore"
                                    formControlName="fromStore"
                                    [disabled]="isEdit"
                                    [required]="true"
                                    [multiple]="false"
                                    [isFloatLabel]="true"
                                    [label]="'common.fromStore'"
                                    [placeholder]="'common.fromStore'"
                                    [options]="fromStoresOptions"
                                    (selectedOptionDataChange)="fromStoreChange($event)"
                                    fxLayout="column" fxFlex="calc(100%/3)"
                                    fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="calc(100%/3)"
      ></ns-multi-select-autocomplete>
      <ns-input name="fromStoreUsername"
                formControlName="fromStoreUsername"
                [disabled]="true"
                [isFloatLabel]="true"
                [label]="'store.user'"
                [placeholder]="'store.user'"
                fxLayout="column" fxFlex="calc(100%/3)"
                fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="calc(100%/3)"
      ></ns-input>
      <ns-input name="fromStoreUserTel"
                formControlName="fromStoreUserTel"
                [disabled]="true"
                [isFloatLabel]="true"
                [label]="'store.phone'"
                [placeholder]="'store.phone'"
                fxLayout="column" fxFlex="calc(100%/3)"
                fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="calc(100%/3)"
      ></ns-input>
      <ng-container *ngIf="!isSO">
        <ns-multi-select-autocomplete name="toStore"
                                      formControlName="toStore"
                                      [required]="true"
                                      [multiple]="false"
                                      [isFloatLabel]="true"
                                      [label]="'common.toStore'"
                                      [placeholder]="'common.toStore'"
                                      [disabled]="!!fromStoreForMerchantOrder || isEdit"
                                      [options]="toStoresOptions"
                                      (selectedOptionDataChange)="toStoreChange($event)"
                                      fxLayout="column" fxFlex="calc(100%/3)"
                                      fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="calc(100%/3)"
        ></ns-multi-select-autocomplete>
        <ns-input name="toStoreUsername"
                  formControlName="toStoreUsername"
                  [disabled]="true"
                  [isFloatLabel]="true"
                  [label]="'store.user'"
                  [placeholder]="'store.user'"
                  fxLayout="column" fxFlex="calc(100%/3)"
                  fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="calc(100%/3)"
        ></ns-input>
        <ns-input name="toStoreUserTel"
                  formControlName="toStoreUserTel"
                  [disabled]="true"
                  [isFloatLabel]="true"
                  [label]="'store.phone'"
                  [placeholder]="'store.phone'"
                  fxLayout="column" fxFlex="calc(100%/3)"
                  fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="calc(100%/3)"
        ></ns-input>
      </ng-container>
      <ns-multi-select-autocomplete name="shippingPartner"
                                    formControlName="shippingPartner"
                                    [disabled]="isView || (isEdit && addEditForm.value.status !== 0)"
                                    [required]="true"
                                    [multiple]="false"
                                    [isFloatLabel]="true"
                                    [label]="'common.shippingPartner'"
                                    [placeholder]="'common.shippingPartner'"
                                    [options]="shippingPartnerOptions"
                                    fxLayout="column" fxFlex="0 1 calc(100%/3)"
                                    fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="0 1 calc(100%/3)"
      ></ns-multi-select-autocomplete>
      <ns-input name="description"
                formControlName="description"
                class="text_area"
                [isFloatLabel]="true"
                [label]="'common.description'"
                [placeholder]="'common.description'"
                [multiline]="true"
                [maxLength]="255"
                [disabled]="isView"
                fxLayout="column" fxFlex="calc(100%)"
      ></ns-input>
    </div>
    <div fxLayout="row wrap" class="acbox row-wrap-padding">
      <div fxFlex="100%" fxLayout="row wrap" class="acbox_title" style="place-content: space-between">
        <div>{{'export.statement.title.detail'|translate}}
        </div>
        <button mat-button type="submit" class="primary dashed Update-btn"
                [disabled]="!addEditForm.get('fromStore')?.value"
                *ngIf="!isView"
                (click)="onAddDetail()"
        >
          {{'common.button.add.product'|translate}}
        </button>
      </div>
      <ns-smart-table name="exportStatementDetails"
                      formControlName="exportStatementDetails"
                      [minRow]="1"
                      [columns]="columns"
                      [buttons]="buttons"
                      [moduleName]="'export.statement'"
                      (clickAction)="onRowButtonClick($event)"
                      fxFlex="100%"
      >
      </ns-smart-table>
    </div>
  </div>
</form>

<div class="acbox_footer">
  <div>
    <button mat-button class="primary outline"
            type="button"
            (click)="onBack()">
      {{'btnBack' | translate}}
    </button>
    <div class="">
      <button class="primary" mat-button type="button"
              [disabled]="addEditForm.invalid"
              *ngIf="!isView"
              (click)="addEditExportStatement()">
        {{(isEdit ? 'btnUpdate' : 'btnSave') | translate}}
      </button>
    </div>
  </div>
</div>
