<div class="buttonArea right margin-horizontal-15 margin-top-10">
  <button mat-button class="primary"
          (click)="onSaveRepacking()"
          [disabled]="!form.valid || claimPendingApprove"
          *ngIf="repackingPlan && (repackingPlan.status === repackingStatus.NEW ||
           repackingPlan.status === repackingStatus.PLANNED) &&
          onAuthority('post/repacking-plannings/repack/{id}') &&
          actionType !== 'dashboard'">
    <i class="fa fa-save"></i> {{'btnAddEdit' | translate}}
  </button>
  <button mat-button class="primary"
          (click)="onExportQrCode()"
          [disabled]="!form.valid"
          *ngIf="(isPrint || (repackingPlan && (repackingPlan.status === repackingStatus.PLANNED || repackingPlan.status === repackingStatus.REPACKED))) &&
          onAuthority('post/repacking-plannings/print-qrcode/{id}')">
    <i class="fa fa-qrcode"></i> {{'btnExportQrCode' | translate}}
  </button>
  <button mat-button class="primary"
          (click)="onPrintQrCode()"
          [disabled]="!form.valid"
          *ngIf="isPrint || (repackingPlan && (repackingPlan.status === repackingStatus.PLANNED || repackingPlan.status === repackingStatus.REPACKED)) &&
          onAuthority('post/repacking-plannings/print-qrcode/{id}')">
    <i class="fa fa-print"></i> {{'btnPrintQrCode' | translate}}
  </button>
  <button mat-button class="primary"
          (click)="onClaimDetail()"
          *ngIf="repackingPlan && repackingStatus.NEW === repackingPlan.status &&
           actionType !== 'dashboard' && actionType !== 'dashboard-from-claim' && hasClaim ">
    <i class="fa fa-exclamation-circle"></i> {{'common.btn.claim' | translate}}
  </button>
</div>
<form [formGroup]="form">
  <ng-template matStepLabel>Repacking</ng-template>
  <div class="table-responsive">
    <mat-table #table [dataSource]="planModels">
      <mat-header-row *matHeaderRowDef="repackingCols"></mat-header-row>
      <mat-row *matRowDef="let row; columns: repackingCols; "></mat-row>
      <ng-container matColumnDef="stt">
        <mat-header-cell *matHeaderCellDef>
          {{'ld.no'|translate}}
        </mat-header-cell>
        <mat-cell *matCellDef="let i = index; let row " style="width: 20px">
          <div class="margin-bottom-15">&nbsp;</div>
          <div>{{i + 1}}</div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="orgQuantity">
        <mat-header-cell *matHeaderCellDef class="{{hasClaim ? 'claim' : 'hideClaim'}}">
          {{'common.quantity.org'|translate}}
        </mat-header-cell>
        <mat-cell *matCellDef="let i = index; let row" class="{{hasClaim ? 'claim' : 'hideClaim'}}">
          <div class="margin-bottom-15">&nbsp;</div>
          <div class="float_label">
            <mat-form-field appearance="outline" floatLabel="always">
              <mat-label>&nbsp;</mat-label>
              <input matInput type="text" formControlName="{{'orgQuantity' + i}}" readonly>
            </mat-form-field>
          </div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="claimQuantity">
        <mat-header-cell *matHeaderCellDef class="{{hasClaim ? 'claim' : 'hideClaim'}}">
          {{'common.quantity.claim'|translate}}
        </mat-header-cell>
        <mat-cell *matCellDef="let i = index; let row" class="{{hasClaim ? 'claim' : 'hideClaim'}}">
          <div class="margin-bottom-15">&nbsp;</div>
          <div class="float_label">
            <mat-form-field appearance="outline" floatLabel="always">
              <mat-label>&nbsp;</mat-label>
              <input matInput type="text" formControlName="{{'claimQuantity' + i}}" readonly>
            </mat-form-field>
          </div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="totalQuan">
        <mat-header-cell *matHeaderCellDef>
          {{'common.totalQuan'|translate}}
        </mat-header-cell>
        <mat-cell *matCellDef="let i = index; let row " style="width: 20px">
          <div class="margin-bottom-15">&nbsp;</div>
          <div class="float_label">
            <mat-form-field appearance="outline" floatlabel="always">
              <mat-label>&nbsp;</mat-label>
              <input matInput type="text" formControlName="{{'totalQuan' + i}}" readonly>
            </mat-form-field>
          </div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Repacking">
        <mat-header-cell *matHeaderCellDef>
          {{'table.header.repacking'|translate}}
        </mat-header-cell>
        <mat-cell *matCellDef="let i = index; let row ">
          <div class="margin-bottom-15">
            {{row.productPacking.code + ' - ' + row.productPacking.product.name + ' - ' + (row.expireDate | date:'dd/MM/yyyy')}}
          </div>
          <div class="inputArea float_label">
            <mat-form-field appearance="outline" floatLabel="always"
                            *ngFor="let type of row.productPacking.product.productPackings; let j=index"
                            class="margin-right-5">
              <mat-label>{{'common.block' |translate }} {{type.packingType.quantity}}</mat-label>
              <input matInput placeholder="{{'common.block' |translate }} {{type.packingType.quantity}}"
                     type="number"
                     [value]="'' + (!row.repackQuan || !row.repackQuan[type.id] ? 0: row.repackQuan[type.id].quantity)"
                     formControlName="{{'quantity' + i + '_' + j}}"
                     [id]="'quantity' + i + '_' + j" [autofocus]="j===0"
                     (keyup.enter)="nextFocus('#quan', i,j, $event)"
                     (keydown.tab)="nextFocus('#quan', i,j, $event)"
                     (change)="getTotalQuan(row, i, type.id, $event)"
                     style="text-align: right"
                     required
                     title="{{ (!row.repackQuan || !row.repackQuan[type.id] ? 0: row.repackQuan[type.id].quantity) | number}}"
                     [readonly]="!repackingPlan || (repackingPlan.status !== repackingStatus.NEW
                      && repackingPlan.status !== repackingStatus.PLANNED)"
              >
              <!--                <mat-error *ngIf="form.get['quantity_'+i] ? form.get['quantity_'+i].invalid : false">-->
              <!--                {{'po.ae.quantity.positive1'|translate}}-->
              <!--                </mat-error>-->
            </mat-form-field>
          </div>
        </mat-cell>
      </ng-container>

    </mat-table>
    <!--<mat-paginator (page)="getPage($event)"-->
    <!--[length]="search.totalElements"-->
    <!--[pageSize]="search.pageSize"-->
    <!--[pageSizeOptions]="pageSizeOption">-->
    <!--</mat-paginator>-->
  </div>
  <div class="buttonArea space-between margin-horizontal-15">
    <button mat-button class="primary" matStepperPrevious><i
      class="fa fa-chevron-circle-left"></i> {{'btnBack'|translate}}</button>
    <div>
      <button mat-button class="primary" matStepperNext
              *ngIf="repackingPlan && repackingStatus.REPACKED === repackingPlan.status"><i
        class="fa fa-chevron-circle-right"></i> {{'btnNext'|translate}}</button>
    </div>
  </div>
</form>
