:host ::ng-deep {
  .mat-table {
    .mat-column-totalQuan {
      max-width: 13%;
    }

    .claim {
      max-width: 13%;
    }

    .mat-header-cell.claim {
      color: rgba(0, 0, 0, 0.54);
    }

    .mat-cell.claim{
      font-size: 14px;
    }

    .inputArea {
      display: flex;

      mat-form-field {
        display: block;
      }
    }

    mat-form-field {
      width: 200px;
    }
  }

  .hideClaim {
    display: none!important;
  }

  .buttonArea {
    width: initial;
  }
}
