<ns-breadcrumb></ns-breadcrumb>
<div class="searchForm acbox" [formGroup]="model.form" (keyup.enter)="model.onSearchData()">
  <div fxLayout="row wrap" class="row-wrap-padding">
    <div [formGroup]="model.form" *ngFor="let field of model.inputFields;"
         fxLayout="column" fxFlex="33%"
         fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="33%">
      <div dynamicField [field]="field" [group]="model.form"></div>
    </div>
    <div class="buttonArea">
      <button mat-button class="primary"
              (click)="onSearchData()"
              *ngIf="model.onDisplayWithAuthority('get/import-pos')">
        <i class="fa fa-search"></i> {{'common.search' | translate}}
      </button>
    </div>
  </div>
</div>
<div class="acbox">
  <div class="table-responsive">
    <ts-table-v2 [model]="model.tsTable"
                 [form]="model.form"
                 (cellEvent)="onCellEvent($event)"
                 (onPage)="model.onPage($event)"
                 (isShowButtonEvent)="showButtonEvent($event)"
                 (rowClickEvent)="onRowClick($event)">
    </ts-table-v2>
  </div>
</div>
