.importPOList {
  margin: 1rem;

  .form {
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    margin-bottom: 1rem;


    div {
      padding: 0 0.5rem;
    }

    div:nth-child(1), div:nth-child(2), div:nth-child(3) {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: calc(25% - 1rem);
    }

    div:nth-child(2), div:nth-child(3), div:nth-child(4) {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: calc(20% - 1rem);
    }

    div:nth-child(4) {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: calc(15% - 1rem);
    }

    .buttonArea {
      flex-shrink: 1;
      flex-grow: 1;
      flex-basis: calc(8% - 1rem);
      display: flex;
      place-content: center;
      align-items: center;
      padding: 0.5rem;
    }
  }
}

:host ::ng-deep {
  mat-header-cell {
    padding-left: 1rem;
  }

  mat-header-cell.mat-column-add {
    button {
      display: none;
    }
  }

  .mat-column-add {
    max-width: 5% !important;
  }

  .mat-column-chkbox {
    flex-basis: 3% !important;
    padding-left: 1rem;
  }

  mat-header-cell.mat-column-chkbox {
    display: flex;
    place-content: start;
  }
  .mat-column-manufacturer-code{
    max-width: 5%;
  }
}
