<ns-breadcrumb></ns-breadcrumb>
<div>
  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()" class="acbox">
    <div fxLayout="row wrap" class="row-wrap-padding">
      <ns-input [placeholder]="'common.search'" name="text" formControlName="text"
                fxLayout="column" fxFlex="0 1 calc(100% /3)"
                fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="0 1 calc(100% /3)">
      </ns-input>
      <ns-multi-select-autocomplete name="status" formControlName="status"
                                    [multiple]="false" [options]="statusValues"
                                    [placeholder]="'common.status'"
                                    fxLayout="column" fxFlex="0 1 calc(100% /3)"
                                    fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="0 1 calc(100% /3)">
      </ns-multi-select-autocomplete>
      <ns-multi-select-autocomplete name="is_DC"
                                    formControlName="is_DC"
                                    [multiple]="false"
                                    [options]="storeTypeOptions"
                                    [placeholder]="'common.store.type'"
                                    fxLayout="column" fxFlex="0 1 calc(100% /3)"
                                    fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="0 1 calc(100% /3)">
      </ns-multi-select-autocomplete>
      <ns-multi-select-autocomplete name="country" formControlName="country"
                                    [multiple]="false" [options]="countryOptions"
                                    [placeholder]="'store.country'"
                                    (selectedOptionDataChange)="changeCountry($event)"
                                    fxLayout="column" fxFlex="0 1 calc(100% /3)"
                                    fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="0 1 calc(100% /3)">
      </ns-multi-select-autocomplete>
      <ns-multi-select-autocomplete name="region" formControlName="region"
                                    [multiple]="false" [options]="regionOptions"
                                    [placeholder]="'store.region'"
                                    (selectedOptionDataChange)="onRegionChange($event)"
                                    *ngIf="(searchForm.get('country') && searchForm.get('country')?.value)"
                                    fxLayout="column" fxFlex="0 1 calc(100% /3)"
                                    fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="0 1 calc(100% /3)">
      </ns-multi-select-autocomplete>
      <ns-multi-select-autocomplete name="district" formControlName="district"
                                    [multiple]="false" [options]="districtOptions"
                                    [placeholder]="'store.district'"
                                    (selectedOptionDataChange)="onDistrictChange($event)"
                                    *ngIf="(searchForm.get('region') && searchForm.get('region')?.value)"
                                    fxLayout="column" fxFlex="0 1 calc(100% /3)"
                                    fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="0 1 calc(100% /3)">
      </ns-multi-select-autocomplete>
      <ns-multi-select-autocomplete name="township" formControlName="township"
                                    [multiple]="false" [options]="townshipOptions"
                                    [placeholder]="'store.township'"
                                    *ngIf="(searchForm.get('district') && searchForm.get('district')?.value)"
                                    fxLayout="column" fxFlex=" 0 1 calc(100% /3)"
                                    fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="0 1 calc(100% /3)">
      </ns-multi-select-autocomplete>
      <div fxLayout="column" fxFlex="100%">
        <div class="buttonArea left">
          <button mat-button type="submit" class="primary Update-btn">
            {{'btnSearch'|translate}}
          </button>
          <button mat-button type="button" class="secondary outline reset-btn"
                  (click)="onResetForm()">
            {{'btnReset'|translate}}
          </button>
        </div>
      </div>
    </div>
  </form>
  <div class="" fxLayout fxLayoutAlign="space-between center"
       style="margin: 1rem 0">
    <h3 style="margin: 0">{{paging.totalElements}} {{' ' + ('common.results'| translate) }}</h3>
    <button mat-button class="primary reset-btn" (click)="createStore()"
            *ngIf="storeAuthoritiesService.hasCreateStoreRole()">
      <i class="fa fa-plus" aria-hidden="true"></i> {{'store.button.create'|translate}}
    </button>
  </div>
  <div class="acbox">
    <ns-table [columns]="columns" [buttons]="buttons"
              [paging]="paging" (pagingChange)="pagingChange($event)"
              [moduleName]="moduleName" [results]="results"
              [expandHeaderButton]="expandHeaderButton"
              (clickAction)="onRowButtonClick($event)">
    </ns-table>
  </div>
</div>
