<ns-breadcrumb></ns-breadcrumb>
<div [formGroup]="model.form" (keyup.enter)="onSearchData()">
  <div class="searchForm acbox">
    <div fxLayout="row wrap" class="row-wrap-padding">
      <div [formGroup]="model.form" *ngFor="let field of model.inputFields;"
           fxLayout="column" fxFlex="25%"
           fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="25%">
        <div dynamicField [field]="field" [group]="model.form"></div>
      </div>
      <div class="buttonArea">
        <button mat-button class="primary" (click)="onSearchData()" *ngIf="model.onDisplayWithAuthority('get/pos')">
          <i class="fa fa-search"></i> {{'common.search' | translate}}
        </button>
        <button mat-button class="primary" (click)="printPOs()" *ngIf="model.onDisplayWithAuthority('post/pos/print')">
          <i class="fa fa-print"></i> {{'common.btn.print' | translate}}
        </button>
      </div>
    </div>
  </div>
  <div class="acbox">
    <div class="table-responsive">
      <ts-table-v2 [model]="model.tsTable"
                   [form]="model.form"
                   (cellEvent)="onCellEvent($event)"
                   (addEvent)="onAddEvent($event)"
                   (isShowButtonEvent)="showButtonEvent($event)"
                   [class]="model.tsTable"
                   (onPage)="model.onPage($event)"
                   (rowClickEvent)="onRowClick($event)">
      </ts-table-v2>
    </div>
  </div>
</div>
