.PO {
  display: flex;
  flex-direction: column;

  .breadcrumbArea {
    display: none;
  }

  .POList {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    place-content: center space-around;

    .searchForm {
      div {
        flex-shrink: 1;
        flex-grow: 1;
        flex-basis: calc(100% / 3 - 1rem);
        margin: 0 0.5rem;
      }

      div:nth-child(4), div:nth-child(5), div:nth-child(6), div:nth-child(7) {
        flex-shrink: 1;
        flex-grow: 1;
        flex-basis: calc(25% - 1rem);
        margin: 0 0.5rem;
      }

      .buttonArea {
        display: flex;
        place-content: center;
        align-items: center;
        margin-left: 0;
        margin-bottom: 0.5rem;
        flex-shrink: 1;
        flex-grow: 1;
        flex-basis: calc(10% - 3rem);

        button:last-child {
          margin-left: 0.5rem;
        }

        @media screen and (max-width: 959px) {
          margin-bottom: 1rem;
        }
      }
    }
  }
}

:host ::ng-deep {

  .mat-column-chkbox {
    flex-basis: 3% !important;
  }

  mat-header-cell.mat-column-chkbox {
    display: flex;
    place-content: start;
    //padding-left: 1rem;
  }

  app-date {
    mat-form-field {
      display: block !important;
    }
  }

  mat-header-cell {
    //padding-left: 1rem;
  }

  mat-header-cell.mat-column-add {
    display: flex;
    place-content: flex-end;
  }

  .mat-column-add {
    padding-right: 1rem;
    padding-left: 0.5rem
  }

  .mat-column-code {
    min-width: 157px;

    app-read {
      div {
        width: 157px;
        overflow: inherit;
        text-overflow: inherit;
      }
    }
  }

}
