<ns-breadcrumb></ns-breadcrumb>
<div class="searchFormGroup">
  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()" class="acbox">
    <div fxLayout="row wrap" class="row-wrap-padding">
      <ns-input [placeholder]="moduleName + '.management.search.code'"
                name="code" formControlName="code"
                fxLayout="column" fxFlex="25%"
                fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="25%" fxFlex.lg="25%">
      </ns-input>
      <ns-multi-select-autocomplete [multiple]="false"
                                    [options]="storeValues"
                                    [placeholder]="moduleName + '.management.search.store' | translate"
                                    name="store" formControlName="store"
                                    fxLayout="column" fxFlex="25%"
                                    fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="25%" fxFlex.lg="25%">
      </ns-multi-select-autocomplete>
      <ns-multi-select-autocomplete [multiple]="false"
                                    [options]="typeValues"
                                    [placeholder]="moduleName + '.management.search.type' | translate"
                                    name="type" formControlName="type"
                                    fxLayout="column" fxFlex="25%"
                                    fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="25%" fxFlex.lg="25%">
      </ns-multi-select-autocomplete>
      <ns-multi-select-autocomplete [multiple]="false"
                                    [options]="statusValues"
                                    [placeholder]="moduleName + '.management.search.status' | translate"
                                    name="status" formControlName="status"
                                    fxLayout="column" fxFlex="25%"
                                    fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="25%" fxFlex.lg="25%">
      </ns-multi-select-autocomplete>
      <ns-input [placeholder]="moduleName + '.management.search.amenable'"
                name="amenable" formControlName="amenable"
                fxLayout="column" fxFlex="25%"
                fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="25%" fxFlex.lg="25%">
      </ns-input>
      <ns-input [placeholder]="moduleName + '.management.search.description'"
                name="description" formControlName="description"
                fxLayout="column" fxFlex="25%"
                fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="25%" fxFlex.lg="25%">
      </ns-input>
      <ns-date-picker name="fromCreateDate" formControlName="fromCreateDate" [required]="true"
                      [placeholder]="moduleName + '.datepicker.from.create.date'"
                      fxLayout="column" fxFlex="25%"
                      fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="25%" fxFlex.lg="25%">
      </ns-date-picker>
      <ns-date-picker name="toCreateDate" formControlName="toCreateDate" [required]="true"
                      [placeholder]="moduleName + '.datepicker.to.create.date'"
                      fxLayout="column" fxFlex="25%"
                      fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="25%" fxFlex.lg="25%">
      </ns-date-picker>
      <div fxLayout="column" fxFlex="100%">
        <div class="buttonArea">
          <button mat-button type="submit" class="primary Update-btn" [disabled]="searchForm.invalid">
            <i class="fa fa-search"></i> {{'btnSearch'|translate}}
          </button>
        </div>
      </div>
    </div>
  </form>
  <div class="acbox">
    <ns-table [columns]="columns" [buttons]="buttons" *ngIf="searchForm.valid"
              [paging]="paging" (pagingChange)="pagingChange($event)"
              [moduleName]="moduleName" [results]="results"
              (clickAction)="onRowButtonClick($event)">
    </ns-table>
  </div>
</div>
