<ns-breadcrumb (updateLabel)="updateScrumb($event)"
               *ngIf="!isEdit ||(isEdit && store)"></ns-breadcrumb>
<mat-tab-group *ngIf="!store?.dc"
               (selectedIndexChange)="onChangeTab($event)"
               [selectedIndex]="storeService.selectedTabIndex | async">
  <mat-tab [label]="'common.store.info' | translate">
    <ng-container [ngTemplateOutlet]="storeInfor">

    </ng-container>
  </mat-tab>
  <mat-tab [label]="'common.pallet.info' | translate"
           [disabled]="!(store && !store?.dc)">
    <ng-template matTabContent>
      <app-list-pallet [store]="store"></app-list-pallet>
    </ng-template>
  </mat-tab>
</mat-tab-group>

<ng-container *ngIf="store?.dc" [ngTemplateOutlet]="storeInfor"></ng-container>
<ng-template #storeInfor>
  <form [formGroup]="addEditForm">
    <fieldset>
      <legend>{{'store.system.info' | translate}}</legend>
      <div fxLayout="row wrap" class="row-wrap-padding">
        <ns-input name="code"
                  formControlName="code"
                  [placeholder]="'store.code.auto.create'"
                  [disabled]="true"
                  fxLayout="column" fxFlex="25%"
                  fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="25%">
        </ns-input>
        <ns-input name="name"
                  formControlName="name"
                  [placeholder]="'store.name'"
                  [required]="true"
                  [disabled]="disableUpdateCheck()"
                  fxLayout="column" fxFlex="25%"
                  fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="25%">
        </ns-input>
        <ns-date-picker name="inBusinessSince"
                        formControlName="inBusinessSince"
                        [placeholder]="'store.inBusinessSince'"
                        [disabled]="disableUpdateCheck()"
                        [required]="true"
                        fxLayout="column" fxFlex="25%"
                        fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="25%">
        </ns-date-picker>
        <ns-date-picker name="outBusinessSince"
                        formControlName="outBusinessSince"
                        [placeholder]="'store.outBusinessSince'"
                        [disabled]="true"
                        fxLayout="column" fxFlex="25%"
                        fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="25%">
        </ns-date-picker>
        <mat-radio-group aria-label="Select an option"
                         formControlName="dc"
                         name="dc"
                         [disabled]="disableUpdateCheck()"
                         (change)="onChangeDc($event)"
                         fxLayout="column" fxFlex="25%"
                         fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="25%">
          <div class="mat-radio-button-wrapper">
            <mat-radio-button [value]="'1'">DC</mat-radio-button>
            <mat-radio-button [value]="'0'" (change)="onChangeDc($event)">FC</mat-radio-button>
          </div>
        </mat-radio-group>
        <ns-multi-select-autocomplete [multiple]="false"
                                      [placeholder]="'store.provideStore'"
                                      [options]="provideStores"
                                      name="provideStore"
                                      formControlName="provideStore"
                                      [required]="onRequiredProvideStore"
                                      [disabled]="isFC || disableUpdateCheck()"
                                      fxLayout="column" fxFlex="25%"
                                      fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="25%">
        </ns-multi-select-autocomplete>
        <!--        <ns-multi-select-autocomplete [multiple]="false"-->
        <!--                                      [placeholder]="'store.currency'"-->
        <!--                                      [options]="currencyOptions"-->
        <!--                                      name="currency"-->
        <!--                                      formControlName="currency"-->
        <!--                                      [disabled]="enableUpdateCheck()"-->
        <!--                                      [required]="true"-->
        <!--                                      fxLayout="column" fxFlex="25%"-->
        <!--                                      fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="25%">-->
        <!--        </ns-multi-select-autocomplete>-->
        <mat-checkbox [value]="'1'"
                      name="status"
                      [disabled]="true"
                      [formControlName]="'status'"
                      fxLayout="column" fxFlex="25%"
                      fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="25%">
          {{'store.active'|translate}}
        </mat-checkbox>
      </div>
    </fieldset>
    <fieldset>
      <legend>{{'store.location.info' | translate}}</legend>
      <div fxLayout="row wrap" class="row-wrap-padding">
        <ns-multi-select-autocomplete [multiple]="false"
                                      [placeholder]="'store.country'"
                                      [options]="countryOptions"
                                      name="country"
                                      (selectionChange)="changeCountry($event)"
                                      formControlName="country"
                                      [disabled]="disableUpdateCheck()"
                                      [required]="true"
                                      fxLayout="column" fxFlex="25%"
                                      fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="25%">
        </ns-multi-select-autocomplete>
        <ns-multi-select-autocomplete [multiple]="false"
                                      [placeholder]="'store.region'"
                                      [options]="regionOptions"
                                      (selectionChange)="changeRegion($event)"
                                      name="region"
                                      formControlName="region"
                                      [required]="true"
                                      [disabled]="!(addEditForm.get('country') && addEditForm.get('country')?.value) || disableUpdateCheck()"
                                      fxLayout="column" fxFlex="25%"
                                      fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="25%">
        </ns-multi-select-autocomplete>
        <ns-multi-select-autocomplete [multiple]="false"
                                      [placeholder]="'store.district'"
                                      [options]="districtOptions"
                                      name="district"
                                      (selectionChange)="changeDistrict($event)"
                                      formControlName="district"
                                      fxFlex="1 1 calc(100% /4 -0.5rem)"
                                      [disabled]="!(addEditForm.get('region') && addEditForm.get('region')?.value) || disableUpdateCheck()"
                                      [required]="true"
                                      fxLayout="column" fxFlex="25%"
                                      fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="25%">
        </ns-multi-select-autocomplete>
        <ns-multi-select-autocomplete [multiple]="false"
                                      [placeholder]="'store.township'"
                                      [options]="townshipOptions"
                                      name="township"
                                      formControlName="township"
                                      [disabled]="!(addEditForm.get('district') && addEditForm.get('district')?.value) || disableUpdateCheck()"
                                      [required]="true"
                                      fxLayout="column" fxFlex="25%"
                                      fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="25%">
        </ns-multi-select-autocomplete>
        <ns-input name="address"
                  formControlName="address"
                  [placeholder]="'store.address'"
                  [readonly]="disableUpdateCheck()"
                  [required]="true"
                  fxLayout="column" fxFlex="25%"
                  fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="25%">
        </ns-input>
        <ns-input name="floorNo"
                  formControlName="floorNo"
                  [placeholder]="'store.floor'"
                  [readonly]="disableUpdateCheck()"
                  fxLayout="column" fxFlex="25%"
                  fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="25%">
        </ns-input>
        <ns-input name="area"
                  formControlName="area"
                  [placeholder]="'store.area'"
                  [errorMessages]="errorMessage"
                  [pattern]="areaPattern"
                  [readonly]="disableUpdateCheck()"
                  [required]="true"
                  fxLayout="column" fxFlex="25%"
                  fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="25%">
        </ns-input>
        <ns-input name="lat"
                  formControlName="lat"
                  [placeholder]="'store.lat'"
                  [readonly]="disableUpdateCheck()"
                  [required]="true"
                  fxLayout="column" fxFlex="25%"
                  fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="25%">
        </ns-input>
        <ns-input name="lng"
                  formControlName="lng"
                  [placeholder]="'store.lng'"
                  [readonly]="disableUpdateCheck()"
                  [required]="true"
                  fxLayout="column" fxFlex="25%"
                  fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="25%">
        </ns-input>

        <ns-input name="length"
                  formControlName="length"
                  [placeholder]="'store.length'"
                  [readonly]="disableUpdateCheck()"
                  [required]="true"
                  fxLayout="column" fxFlex="25%"
                  fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="25%">
        </ns-input>

        <ns-input name="width"
                  formControlName="width"
                  [placeholder]="'store.width'"
                  [readonly]="disableUpdateCheck()"
                  [required]="true"
                  fxLayout="column" fxFlex="25%"
                  fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="25%">
        </ns-input>

        <ns-input name="height"
                  formControlName="height"
                  [placeholder]="'store.height'"
                  [readonly]="disableUpdateCheck()"
                  [required]="true"
                  fxLayout="column" fxFlex="25%"
                  fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="25%">
        </ns-input>

        <ns-input name="deliveryFrequency"
                  type="number"
                  formControlName="deliveryFrequency"
                  [placeholder]="'store.frequency'"
                  [readonly]="disableUpdateCheck()"
                  [required]="true"
                  *ngIf="(addEditForm.get('dc') && addEditForm.get('dc')?.value === '1')"
                  fxLayout="column" fxFlex="25%"
                  fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="25%">
        </ns-input>
      </div>
    </fieldset>
    <fieldset>
      <legend>{{'store.contact.info' | translate}}</legend>
      <div fxLayout="row wrap" class="row-wrap-padding">
        <ns-input name="email"
                  formControlName="email"
                  [placeholder]="'common.email'"
                  [errorMessages]="errorMessageEmail"
                  [pattern]="emailPattern"
                  [readonly]="disableUpdateCheck()"
                  [required]="true"
                  fxLayout="column" fxFlex="25%"
                  fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="25%">
        </ns-input>
        <ns-input name="phone"
                  formControlName="phone"
                  [placeholder]="'store.phone'"
                  [readonly]="disableUpdateCheck()"
                  [required]="true"
                  fxLayout="column" fxFlex="25%"
                  fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="25%">
        </ns-input>
        <!--        <ns-input name="postalCode"-->
        <!--                  formControlName="postalCode"-->
        <!--                  fxFlex="1 1 calc(100% /4 -0.5rem)"-->
        <!--                  [placeholder]="'store.postalCode'">-->
        <!--        </ns-input>-->
        <!--        <ns-input name="domainName"-->
        <!--                  formControlName="domainName"-->
        <!--                  fxFlex="1 1 calc(100% /4 -0.5rem)"-->
        <!--                  [placeholder]="'store.domainName'">-->
        <!--        </ns-input>-->

      </div>
    </fieldset>
    <fieldset>
      <legend>{{'store.contact.info.user' | translate}}</legend>
      <div fxLayout="row wrap" class="row-wrap-padding">
        <ns-input name="firstName"
                  formControlName="firstName"
                  [readonly]="true"
                  [placeholder]="'user.add.edit.firstName'"
                  fxLayout="column" fxFlex="25%"
                  fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="25%">
        </ns-input>
        <ns-input name="lastName"
                  formControlName="lastName"
                  [readonly]="true"
                  [placeholder]="'user.add.edit.lastName'"
                  fxLayout="column" fxFlex="25%"
                  fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="25%">
        </ns-input>
        <ns-input name="userTel"
                  formControlName="userTel"
                  [readonly]="true"
                  [placeholder]="'store.phone'"
                  fxLayout="column" fxFlex="25%"
                  fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="25%">
        </ns-input>
        <ns-input name="userEmail"
                  formControlName="userEmail"
                  [readonly]="true"
                  [placeholder]="'user.add.edit.email'"
                  fxLayout="column" fxFlex="25%"
                  fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="25%">
        </ns-input>
      </div>
    </fieldset>
    <div class="acbox" fxLayout="row wrap"
         *ngIf="!isFC">
      <div class="acbox_title">{{'store.area.storeLocationCharges'|translate}}</div>

      <ns-flat-tree formControlName="locationCharges"
                    name="locationCharges"
                    [label]="''"
                    [fullDatasource]="locationTree"
                    (selectionChange)="changeSelectionTownship($event)"
                    fxLayout="column" fxFlex="100%"
                    fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="100%" fxFlex.lg="100%"
      ></ns-flat-tree>


      <div class="acbox_title margin-bottom-10" fxFlex="100%">{{'store.title.contractFiles'|translate}}</div>
      <ns-multi-upload-file-v2 formControlName="contractFiles"
                               [isFix]="false"
                               [accept]="[FileType.PDF]"
                               fxLayout="column" fxFlex="100%">

      </ns-multi-upload-file-v2>

    </div>
    <div class="acbox_footer">
      <div>
        <button mat-button class="primary outline"
                type="button"
                (click)="onBack()">
          {{'btnBack' | translate}}
        </button>
        <button mat-button [disabled]="addEditForm.invalid || disableUpdateCheck()" class="primary" type="button"
                (click)="onSave()"
                *ngIf="onDisplayWithAuthority(['patch/stores/{id}', 'post/stores'])">
          {{(actionType === ActionTypeEnum.new ? 'btnAdd' : 'btnAddEdit') | translate}}
        </button>
      </div>
    </div>
  </form>
</ng-template>
