<div class="dialog_wrapper">
  <div class="dialog_header">
    <div class="dialog_title">{{this.title | translate}}</div>
  </div>
  <div class="dialog_content padding-20">
    <form [formGroup]="addEditForm">
      <mat-grid-list cols="1" rowHeight="85px">
        <mat-grid-tile>
          <div class="text-inside">
            <mat-form-field>
              <mat-select matInput placeholder="{{'role.management.modal.clientId'|translate}}"
                          formControlName="clientId" required>
                <mat-option *ngFor="let id of options" [value]="id">{{id}}</mat-option>
              </mat-select>
              <mat-autocomplete #auto="matAutocomplete"
                                (optionSelected)="getOptionValue($event)">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="addEditForm.controls.clientId.hasError('required')">
                {{'role.management.modal.clientId.empty'|translate}}
              </mat-error>
              <mat-error *ngIf="addEditForm.controls.clientId.hasError('pattern')">
                {{'role.management.modal.clientId.pattern'|translate}}
              </mat-error>
            </mat-form-field>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="text-inside">
            <mat-form-field>
              <input matInput placeholder="{{'role.management.modal.roleName'|translate}}" formControlName="roleName"
                     required>
              <mat-error *ngIf="addEditForm.controls.roleName.hasError('required')">
                {{'role.management.modal.roleName.empty'|translate}}
              </mat-error>
              <mat-error *ngIf="addEditForm.controls.roleName.hasError('textNotAccented')">
                {{'role.management.modal.roleName.pattern'|translate}}
              </mat-error>

            </mat-form-field>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="text-inside">
            <mat-form-field>
              <input matInput placeholder="{{'role.management.modal.description'| translate}}"
                     formControlName="description" required>
              <mat-error *ngIf="addEditForm.controls.description.hasError('required')">
                {{'role.management.modal.description.empty'|translate}}
              </mat-error>
            </mat-form-field>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </form>
  </div>
  <div class="dialog_footer center">
    <div>
      <button mat-button type="submit" class="primary" (click)="onSubmit()" [disabled]="addEditForm.invalid">{{'btnAddEdit'|translate}}</button>
    </div>
  </div>
</div>

