<ns-loader [imgSrc]="imgSrc"></ns-loader>
<app-top-nav class="fixed-topnav"></app-top-nav> <!-- fxHide.gt-xs -->
<mat-sidenav-container  #sideNavContainer autosize class="non-embbeded">
  <mat-sidenav #appDrawer mode="side" opened="true" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
    <mat-nav-list>
      <app-menu-list-item *ngFor="let item of navItems" [item]="item"></app-menu-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <router-outlet></router-outlet>
</mat-sidenav-container>
