<div class="dialog_wrapper">
  <div class="dialog_header">
    <div class="dialog_title">{{this.title | translate}}</div>
  </div>
  <div class="dialog_content padding-20">
    <form [formGroup]="addEditForm">
      <mat-grid-list cols="1" rowHeight="85px">
        <mat-grid-tile>
          <div class="text-inside">
            <mat-form-field>
              <input matInput placeholder="{{'user.management.modal.username'|translate}}" formControlName="username" [readonly]="isEdit()" required>
              <mat-error *ngIf="addEditForm.controls.username.hasError('required')">
                {{'user.management.modal.username.empty'|translate}}
              </mat-error>
              <mat-error *ngIf="addEditForm.controls.username.hasError('pattern')">
                {{'user.management.modal.username.pattern'|translate}}
              </mat-error>
            </mat-form-field>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="text-inside">
            <mat-form-field>
              <input matInput placeholder="{{'user.management.modal.firstname'|translate}}" formControlName="firstName" required>
              <mat-error *ngIf="addEditForm.controls.firstName.hasError('required')">
                {{'user.management.modal.firstname.empty'|translate}}
              </mat-error>
              <mat-error *ngIf="addEditForm.controls.firstName.hasError('pattern')">
                {{'user.management.modal.firstname.pattern'|translate}}
              </mat-error>
            </mat-form-field>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="text-inside">
            <mat-form-field>
              <input matInput placeholder="{{'user.management.modal.lastname'|translate}}" formControlName="lastName" required>
              <mat-error *ngIf="addEditForm.controls.lastName.hasError('required')">
                {{'user.management.modal.lastname.empty'|translate}}
              </mat-error>
              <mat-error *ngIf="addEditForm.controls.lastName.hasError('pattern')">
                {{'user.management.modal.lastname.pattern'|translate}}
              </mat-error>
            </mat-form-field>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </form>
  </div>
  <div class="dialog_footer center">
    <div>
      <button mat-button type="submit" class="primary" (click)="onSubmit()" [disabled]="addEditForm.invalid">{{'btnAddEdit'|translate}}</button>
    </div>
  </div>
</div>
