<ns-breadcrumb></ns-breadcrumb>
<form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
  <div class="acbox acbox_content">

    <div fxLayout="row wrap" class="row-wrap-padding">
<!--      <div class="form_title">{{'pov2.title.searching' | translate}}</div>-->
      <ns-multi-select-autocomplete [multiple]="true"
                                    [isLabelOutside]="true"
                                    [options]="storeOptions"
                                    name="storeIds" formControlName="storeIds"
                                    [placeholder]="'common.label.store'"
                                    [label]="'common.label.store'"
                                    fxLayout="column" fxFlex="50%" fxFlex.lt-md="100%">
      </ns-multi-select-autocomplete>

      <ns-range-date-picker name="range"
                            formControlName="range"
                            [isLabelOutside]="true"
                            [label]="'common.label.rangeTime'"
                            [requiredToDate]="true"
                            [requiredFromDate]="true"
                            [fromDateControlName]="'fromDate'"
                            [toDateControlName]="'toDate'"
                            fxLayout="column" fxFlex="50%" fxFlex.lt-md="100%">
      </ns-range-date-picker>


      <div fxLayout="column" fxFlex="100%">
        <div class="buttonArea left margin-0">
          <button mat-button type="submit" class="primary">
            {{'btnSearch'|translate}}
          </button>
          <button mat-button type="button" class="secondary outline reset-btn" (click)="clearSearch()">
            {{'btnReset'|translate}}
          </button>
        </div>
      </div>
    </div>

  </div>
</form>
<div class="result-area"
     style="margin: 0.5rem 0"
     fxLayout fxLayoutAlign="space-between center">
  <h3 class="margin-0">{{paging.totalElements}} {{' ' + ('common.results'| translate) }}</h3>
  <div class="button-area" fxLayout>
    <button mat-button type="button" class="primary outline"
            *ngIf="results.data.length"
            (click)="onExportExcel()">
      <i class="fa fa-upload"></i> {{'common.button.exportExcel'|translate}}
    </button>
  </div>
</div>
<div class="acbox">
  <ns-table [columns]="columns" [buttons]="buttons" *ngIf="results.data.length"
            [paging]="paging" (pagingChange)="pagingChange($event)"
            [moduleName]="moduleName" [results]="results"
            (clickAction)="onRowButtonClick($event)">
  </ns-table>
</div>
