<div class="dialog_wrapper">
  <div class="dialog_header">
    <div class="dialog_title">{{this.title | translate}}</div>
  </div>
  <div class="dialog_content padding-20">
    <form [formGroup]="addEditForm">
      <mat-grid-list cols="1" rowHeight="85px" >
<!--        (window:resize)="onResize($event)"-->
        <mat-grid-tile>
          <div class="text-inside">
            <ns-multi-select-autocomplete formControlName="clientId"
                                          [formGroup]="addEditForm"
                                          placeholder="{{'menu.management.modal.clientId'}}"
                                          [multiple]="false"
                                          [required]="true"
                                          [options]="options"
            ></ns-multi-select-autocomplete>
          </div>
        </mat-grid-tile>

        <mat-grid-tile>
          <div class="text-inside">
            <mat-form-field>
              <input matInput placeholder="{{'menu.management.modal.code' | translate}}" formControlName="code" required>
              <mat-error *ngIf="addEditForm.controls.code.hasError('required')">
                {{'menu.management.modal.code.empty'|translate}}
              </mat-error>
              <mat-error *ngIf="addEditForm.controls.code.hasError('pattern')">
                {{'menu.management.modal.code.pattern'|translate}}
              </mat-error>
            </mat-form-field>
          </div>
        </mat-grid-tile>

        <mat-grid-tile>
          <div class="text-inside">
            <mat-form-field>
              <input matInput placeholder="{{'menu.management.modal.url'| translate}}" formControlName="url">

            </mat-form-field>

          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="text-inside">
            <mat-form-field>
              <mat-select matInput placeholder="{{'menu.management.modal.appType'|translate}}"
                          formControlName="appType" required>
                <mat-option value="WEB">WEB</mat-option>
                <mat-option value="MOBILE">MOBILE</mat-option>
              </mat-select>
              <mat-error *ngIf="addEditForm.controls.appType.hasError('required')">
                {{'menu.management.modal.appType.empty'|translate}}
              </mat-error>
            </mat-form-field>

          </div>
        </mat-grid-tile>

        <mat-grid-tile>
          <div class="text-inside">
            <ns-multi-select-autocomplete formControlName="parentMenu"
                                          [formGroup]="addEditForm"
                                          placeholder="{{'menu.management.modal.parentMenu'}}"
                                          [multiple]="false"
                                          [required]="true"
                                          [options]="menuOptions"
            ></ns-multi-select-autocomplete>

          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </form>
  </div>
  <div class="dialog_footer center">
    <div>
      <button mat-button type="submit" class="primary" (click)="onSubmit()" [disabled]="addEditForm.invalid">{{'btnAddEdit'|translate}}</button>
    </div>
  </div>
</div>


