<ns-breadcrumb></ns-breadcrumb>
<div class="searchFormGroup">
  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()" class="acbox">
    <div fxLayout="row wrap" class="row-wrap-padding">
      <ns-input name="text" formControlName="text"
                [placeholder]="moduleName + '.management.search'"
                [hint]="moduleName + '.management.search.hint'"
                fxLayout="column" fxFlex="25%"
                fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="25%" fxFlex.lg="25%">
      </ns-input>
      <ns-date-picker name="fromDate" formControlName="fromDate" [required]="true"
                      [placeholder]="moduleName + '.datepicker.from.date'"
                      fxLayout="column" fxFlex="25%"
                      fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="25%" fxFlex.lg="25%">
      </ns-date-picker>
      <ns-date-picker name="toDate" formControlName="toDate" [required]="true"
                      [placeholder]="moduleName + '.datepicker.to.date'"
                      fxLayout="column" fxFlex="25%"
                      fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="25%" fxFlex.lg="25%">
      </ns-date-picker>
      <ns-multi-select-autocomplete [placeholder]="'merchant.order.select.status.label'"
                                    [multiple]="false" [options]="selectValues"
                                    name="status" formControlName="status"
                                    fxLayout="column" fxFlex="25%"
                                    fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="25%" fxFlex.lg="25%">
      </ns-multi-select-autocomplete>
      <div fxLayout="column" fxFlex="100%">
        <div class="buttonArea">
          <button mat-button class="primary"
                  *ngIf="onAuthority('get/merchant-orders')" [disabled]="searchForm.invalid">
            <i class="fa fa-search"></i> {{'btnSearch'|translate}}
          </button>
        </div>
      </div>
    </div>
  </form>
  <div class="acbox">
    <ns-table [columns]="columns" [buttons]="buttons" *ngIf="searchForm.valid"
              [paging]="paging" (pagingChange)="pagingChange($event)"
              [moduleName]="moduleName" [results]="results"
              (clickAction)="onRowButtonClick($event)">
    </ns-table>
  </div>
</div>
