<ns-breadcrumb></ns-breadcrumb>
<form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
  <div class="acbox acbox_content">

    <div fxLayout="row wrap" class="row-wrap-padding">
      <div class="form_title">{{'pov2.title.searching' | translate}}</div>
      <ns-input [placeholder]="'common.text'"
                [isLabelOutside]="true"
                [label]="'common.text'"
                name="text" formControlName="text"
                fxLayout="column" fxFlex="50%" fxFlex.lt-md="100%">
      </ns-input>

      <ns-multi-select-autocomplete [multiple]="false" [isLabelOutside]="true" [options]="storeOptions"
                                    name="storeId" formControlName="storeId"
                                    [placeholder]="'pallet.ae.store.name'"
                                    [label]="'pallet.ae.store.name'"
                                    [required]="true"
                                    fxLayout="column" fxFlex="50%" fxFlex.lt-md="100%">
      </ns-multi-select-autocomplete>
      <ns-multi-select-autocomplete [multiple]="false" [isLabelOutside]="true" [options]="distributorOptions"
                                    name="distributorId" formControlName="distributorId"
                                    [placeholder]="'po.ae.distributor.code'"
                                    [label]="'po.ae.distributor.code'"
                                    fxLayout="column" fxFlex="50%" fxFlex.lt-md="100%">
      </ns-multi-select-autocomplete>
      <ns-multi-select-autocomplete [multiple]="false" [isLabelOutside]="true" [options]="manufacturerOptions"
                                    name="manufacturerId" formControlName="manufacturerId"
                                    [placeholder]="'po.ae.manufacturer.code'"
                                    [label]="'po.ae.manufacturer.code'"
                                    fxLayout="column" fxFlex="50%" fxFlex.lt-md="100%">
      </ns-multi-select-autocomplete>

      <ns-multi-select-autocomplete [multiple]="false" [isLabelOutside]="true" [options]="statusOptions"
                                    name="status" formControlName="status"
                                    [placeholder]="'common.status'"
                                    [label]="'common.status'"
                                    [required]="true"
                                    fxLayout="column" fxFlex="50%" fxFlex.lt-md="100%">
      </ns-multi-select-autocomplete>

      <ns-multi-select-autocomplete [multiple]="false" [isLabelOutside]="true" [options]="statusOptions"
                                    name="dateType" formControlName="dateType"
                                    [placeholder]="'common.dateType'"
                                    [label]="'common.dateType'"
                                    [required]="true"
                                    fxLayout="column" fxFlex="50%" fxFlex.lt-md="100%">
      </ns-multi-select-autocomplete>

      <ns-range-date-picker name="searchDate"
                            formControlName="searchDate"
                            [isLabelOutside]="true"
                            [label]="'pov2.label.searchDate'"
                            [requiredToDate]="true"
                            [requiredFromDate]="true"
                            fxLayout="column" fxFlex="50%" fxFlex.lt-md="100%">
      </ns-range-date-picker>


      <div fxLayout="column" fxFlex="100%">
        <div class="buttonArea left margin-0">
          <button mat-button type="submit" class="primary" [disabled]="searchForm.invalid">
            {{'btnSearch'|translate}}
          </button>
          <button mat-button type="button" class="secondary outline reset-btn" (click)="clearSearch()">
            {{'btnReset'|translate}}
          </button>
        </div>
      </div>
    </div>

  </div>
</form>
<div class="result-area"
     style="margin: 0.5rem 0"
     fxLayout fxLayoutAlign="space-between center">
  <h3 class="margin-0">{{paging.totalElements}} {{' ' + ('common.results'| translate) }}</h3>
  <div class="button-area" fxLayout>
    <button mat-button type="button" class="primary outline" [disabled]="searchForm.invalid"
            *ngIf="poAuthoritiesService.hasPrintPoRole()"
            (click)="onExportReport()">
      <i class="fa fa-upload"></i> {{'common.button.exportExcel'|translate}}
    </button>
    <button mat-button type="button" class="primary"
            *ngIf="poAuthoritiesService.hasCreatePoRole()"
            (click)="onAddNewPO()">
      <i class="fa fa-plus"></i> {{'pov2.button.newPO'|translate}}
    </button>
  </div>
</div>
<div class="acbox">
  <ns-table [columns]="columns" [buttons]="buttons" *ngIf="searchForm.valid"
            [paging]="paging" (pagingChange)="pagingChange($event)"
            [moduleName]="moduleName" [results]="results"
            [expandHeaderButton]="expandButton"
            (clickAction)="onRowButtonClick($event)">
  </ns-table>
</div>
