<ns-breadcrumb *ngIf="!store"></ns-breadcrumb>
  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()" class="acbox">
    <div fxLayout="row wrap" class="row-wrap-padding">
      <ns-input [placeholder]="'common.search'" name="text" formControlName="text"
                fxLayout="column" fxFlex="1 1 33%"
                fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="1 1 33%">
      </ns-input>
      <ns-multi-select-autocomplete name="store" formControlName="store"
                                    [placeholder]="'pallet.ae.store.name'"
                                    [multiple]="false" [options]="storeValues"
                                    [required]="true" [
                                    *ngIf="!store"
                                    fxLayout="column" fxFlex="1 1 33%"
                                    fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="1 1 33%">
      </ns-multi-select-autocomplete>
      <ns-multi-select-autocomplete name="step" formControlName="step"
                                    [placeholder]="'pallet.step'"
                                    [multiple]="false" [options]="stepValues"
                                    fxLayout="column" fxFlex="1 1 33%"
                                    fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="1 1 33%">
      </ns-multi-select-autocomplete>
      <ns-multi-select-autocomplete name="status" formControlName="status"
                                    [placeholder]="'common.status'"
                                    [multiple]="false" [options]="statusValues"
                                    fxLayout="column" fxFlex="1 1 33%"
                                    fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="1 1 33%">
      </ns-multi-select-autocomplete>
      <div fxLayout="column" fxFlex="100%">
        <div class="buttonArea left">
          <button mat-button type="submit" class="primary Update-btn">
            {{'btnSearch'|translate}}
          </button>
        </div>
      </div>
    </div>
  </form>
  <div class="" fxLayout fxLayoutAlign="space-between center"
       style="margin: 1rem 0">
    <h3 style="margin: 0">{{paging.totalElements}} {{' ' + ('common.results'| translate) }}</h3>
    <div fxLayout fxLayoutGap="0.5rem">
      <button mat-button type="button" class="primary" (click)="printQR()">
        <i class="fa fa-qrcode"></i> {{'btnPrintQrCode'|translate}}
      </button>
      <button mat-button class="primary reset-btn" (click)="createPallet()"
              *ngIf="palletAuthoritiesService.hasCreatePalletRole()">
        <i class="fa fa-plus" aria-hidden="true"></i> {{'pallet.button.create'|translate}}
      </button>
    </div>
  </div>
  <div class="acbox">
    <ns-table [columns]="columns" [buttons]="buttons"
              [paging]="paging" (pagingChange)="pagingChange($event)"
              [moduleName]="moduleName" [results]="results"
              (clickAction)="onRowButtonClick($event)">
    </ns-table>
  </div>
