<div class="import-stock acbox" [formGroup]="addEditForm">
  <div>
    <ns-input formControlName="description"
              name="description"
              [label]="'common.description'"
              [placeholder]="'common.description'"
              [isLabelOutside]="true"
              [disabled]="repackingStatusAction.isImportedStatus(repackingPlan) || isView"

    ></ns-input>
  </div>
</div>

<div class="button-area " fxLayout="row" fxLayoutAlign="space-between center">
  <button mat-button class="outline primary" matStepperPrevious>
    {{'btnBack'|translate}}
  </button>
  <div fxLayout="row" fxLayoutGap="0.5rem">
    <button mat-button class="primary"
            (click)="onSave()"
            [disabled]="repackedDetailsFormControl.invalid || isApprovePending"
            *ngIf="repackingStatusAction.isRepackedStatus(repackingPlan)
                  && repackingAuthoritiesService.hasCreateImportStatementFromRepackingRole() && !isView
                  && repackedDetailsFormControl.value.length > 0">
      <i class="fa fa-save"></i> {{'btnAddEdit'| translate}}
    </button>
    <button mat-button class="primary"
            (click)="onPrintQrCode()"
            [disabled]="repackedDetailsFormControl.invalid"
            *ngIf="repackedDetailsFormControl.value.length > 0 && repackingStatusAction.isImportedStatus(repackingPlan)">
      <i class="fa fa-print"></i> {{'btnPrintQrCode' | translate}}
    </button>
    <button mat-button class="primary"
            (click)="onClaimDetail()"
            *ngIf="repackingStatusAction.isRepackedStatus(repackingPlan)
                  && claimAuthoritiesService.hasGetClaimRole() && !isView
                  && repackedDetailsFormControl.value.length>0 && !!claimId">
      <i class="fa fa-exclamation-circle"></i> {{'common.btn.claim' | translate}}
    </button>
  </div>
</div>

<div class="acbox">
  <ns-smart-table [formControl]="repackedDetailsFormControl"
                  (clickAction)="onRowButtonClick($event)"
                  [columns]="columns"
                  [buttons]="buttons"
                  [moduleName]="moduleName"
                  [isSticky]="true"
                  fxFlex="100%"
  ></ns-smart-table>
</div>
