.export-statement {
  //margin: 1rem;
h2{
  margin-bottom: 0.5rem;
}
  .form {
    div {
      flex-basis: calc(100% / 3 - 1rem);
      margin: 0 0.5rem;
    }

    div:nth-child(1), div:nth-child(2) {
      flex-basis:calc(100% / 2 - 1rem) !important;
    }

    .buttonArea {
      flex-grow: 1;
      display: flex;
      place-content: center;
      align-items: center;
      margin-bottom: 0.5rem;
    }
  }
}

:host ::ng-deep {
  .mat-column-id {
    display: none;
  }

  .mat-column-productPacking-id {
    display: none;
  }

  mat-paginator {
    display: none;
  }

  .mat-column-productPacking-code {
    max-width: 10% !important;
  }

  .mat-column-productPacking-packingType-quantity, .mat-column-quantity, .mat-column-totalQuantity {
    app-read {
      div {
        display: flex;
        place-content: start;
      }
    }
  }

  .mat-column-palletDetail-pallet-displayName {
      app-read{
        div{
          width: 111px;
          white-space: nowrap;
          overflow: hidden !important;
          text-overflow: ellipsis;
        }
      }

  }

  .mat-column-productPacking-product-name {
    flex-basis: 10% !important;
  }

  mat-cell:nth-child(3), mat-header-cell:nth-child(3) {
    max-width: 20rem;

    app-read {
      width: 100%;

      div {
        width: 100%;
        display: flex;
        place-content: center;
        align-items: center;

        img {
          height: 4rem;
          width: 4rem;
        }
      }
    }
  }

}
