//h2 {
//  margin-bottom: 0.5rem !important;
//}
//
//.form {
//  display: flex;
//
//  div {
//    flex-basis: calc(27% - 1rem) !important;
//    margin: 0 0.5rem;
//    flex-grow: 1;
//  }
//
//  div:last-child {
//    display: flex;
//    flex-basis: calc(10% - 1rem) !important;
//    flex-grow: 1;
//    place-content: center;
//    align-items: center;
//    padding: 0.5rem;
//  }
//}
//
//:host ::ng-deep {
//  .mat-column-merchantCode {
//    display: flex;
//    flex-basis: 15% !important;
//  }
//
//  .mat-column-merchantName {
//    display: flex;
//    flex-basis: 30% !important;
//  }
//}
