<div class="searchFormGroup">
  <form [formGroup]="searchForm" (ngSubmit)="search()" class="form">
    <div class="form_title">
      {{'common.merchant.list'|translate}}
    </div>
    <div class="row-wrap-padding" fxLayout="row wrap">
      <ns-input formControlName="text"
                [placeholder]="'common.search'"
                [isLabelOutside]="true" fxLayout="column" fxFlex="50%" fxFlex.lt-md="100%">
      </ns-input>
      <ns-range-date-picker fromDateControlName="fromDate"
                            toDateControlName="toDate"
                            [label]="'merchant.order.registerDate'"
                            formControlName="date"
                            [isLabelOutside]="true"
                            [placeholderToDate]="'common.toDate'"
                            [placeholderFromDate]="'common.fromDate'"
                            fxLayout="column" fxFlex="50%" fxFlex.lt-md="100%">
      </ns-range-date-picker>
      <div class="buttonArea">
        <button mat-button type="submit" class="primary Update-btn">
          <i class="fa fa-search"></i> {{'btnSearch'|translate}}
        </button>
      </div>
    </div>
  </form>
  <div class="acbox">
    <ns-table [columns]="columns" [buttons]="buttons"
              [paging]="paging" (pagingChange)="pagingChange($event)"
              [moduleName]="moduleName" [results]="results"
              (clickAction)="onRowButtonClick($event)">
    </ns-table>
  </div>
</div>
