.imported {
  display: none;
}

:host ::ng-deep {
  mat-paginator {
    display: none;
  }

  .mat-column-chkbox{
    max-width: 5%;
    padding: 0;
    place-content: center!important;
  }

  .mat-column-productPacking-code {
    max-width: 15% !important;
  }

  mat-cell.mat-column-productPacking-product-name {
    display: flex;
    place-content: start;
    flex-basis: 20% !important;
  }

  mat-header-cell.mat-column-productPacking-product-name{
    display: flex;
    place-content: center;
    flex-basis: 20% !important;
  }
}
