<div class="acbox" [formGroup]="model.form">
  <div fxLayout="row wrap" class="row-wrap-padding">
    <div [formGroup]="model.form"
         *ngFor="let field of model.inputFields"
         fxLayout="column" fxFlex="50%"
         fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="50%">
      <div dynamicField [field]="field" [group]="model.form"
           [readonly]="onReadonly()"></div>
    </div>
    <div class="table-responsive">
      <ts-table-v2 [model]="model.tsTable"
                   [form]="model.form"
                   (onPage)="model.onPage($event)"
                   [class]="model.tsTable"
                   (cellEvent)="onCellEvent($event)"
                   (isShowButtonEvent)="isShowBtn($event)">
      </ts-table-v2>
    </div>
    <div class="buttonArea space-between">
      <button mat-button class="primary" matStepperPrevious>
        <i class="fa fa-chevron-circle-left"></i> {{'btnBack'|translate}}
      </button>
      <button mat-button class="primary"
              (click)="onSave()"
              [disabled]="model.form.invalid || model.isApprovePending"
              *ngIf="repackingPlan && (repackingPlan.status === repackingStatus.REPACKED) &&
            model.onDisplayWithAuthority('post/import-statements/from-repacking-planning') &&
            model.actionType !== 'dashboard' && model.actionType !== 'dashboard-from-claim' &&
            model.getTblData().length>0">
        <i class="fa fa-save"></i> {{'btnAddEdit'| translate}}
      </button>
      <button mat-button class="primary"
              (click)="onPrintQrCode()"
              [disabled]="!model.form.valid"
              *ngIf="model.getTblData().length>0 && repackingPlan && (repackingPlan.status === repackingStatus.IMPORTED)">
        <i class="fa fa-print"></i> {{'btnPrintQrCode' | translate}}
      </button>
      <button mat-button class="primary"
              (click)="onClaimDetail()"
              *ngIf="repackingPlan && (repackingPlan.status === repackingStatus.REPACKED) &&
            model.onDisplayWithAuthority('get/claims/{id}') &&
            model.actionType !== 'dashboard' && model.getTblData().length>0 && model.hasClaim">
        <i class="fa fa-exclamation-circle"></i> {{'common.btn.claim' | translate}}
      </button>
    </div>
  </div>
</div>
