<form *ngIf="form" [formGroup]="form">
  <div fxLayout="column">
    <div class="acbox row-wrap-padding" fxLayout="row wrap" fxFlex="100%">
      <div fxFlex="100%" class="acbox_title margin-bottom-20">{{'pov2.title.manuInfo'|translate}}</div>
      <ns-multi-select-autocomplete [multiple]="false"
                                    [placeholder]="'po.ae.manufacturer.code'"
                                    [options]="manufacturerOptions"
                                    name="manufacturer"
                                    formControlName="manufacturer"
                                    [required]="true"
                                    [disabled]="isReadOnly"
                                    [isLabelOutside]="true" fxLayout="column" fxFlex="50%"
                                    (selectionChange)="onManufacturerChange($event)"
                                    fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="50%">
      </ns-multi-select-autocomplete>
      <ns-multi-select-autocomplete [multiple]="false"
                                    [placeholder]="'po.ae.store.code'"
                                    [options]="storeOptions"
                                    name="store"
                                    formControlName="store"
                                    [required]="true"
                                    [disabled]="isReadOnly"

                                    [isLabelOutside]="true" fxLayout="column" fxFlex="50%"
                                    fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="50%">
      </ns-multi-select-autocomplete>
      <ns-multi-select-autocomplete [multiple]="false"
                                    [placeholder]="'po.ae.distributor.code'"
                                    [options]="distributorOptions"
                                    name="distributor"
                                    formControlName="distributor"
                                    [required]="true"
                                    [disabled]="isReadOnly"
                                    [isLabelOutside]="true" fxLayout="column" fxFlex="50%"
                                    (selectionChange)="onDistributorChange($event)"
                                    fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="50%">
      </ns-multi-select-autocomplete>
      <ns-input name="deliveryAddress"
                formControlName="deliveryAddress"
                [placeholder]="'common.deliveryAddress'"
                [required]="true"
                [disabled]="isReadOnly"
                [readonly]="!(actionType === ActionType.edit || actionType === ActionType.new)"
                [isLabelOutside]="true" fxLayout="column" fxFlex="50%"
                fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="50%">
      </ns-input>
      <ns-input name="description"
                formControlName="description"
                fxFlex="1 1 calc(100% * 2 /3 -1rem)"
                [placeholder]="'common.description'"
                [required]="false"
                [multiline]="true"
                [disabled]="isReadOnly"
                [readonly]="!(actionType === ActionType.edit || actionType === ActionType.new)"
                [isLabelOutside]="true" fxLayout="column" fxFlex="100%"
                fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="100%" fxFlex.lg="100%">
      </ns-input>
    </div>


    <app-add-edit-po-product [form]="form"
                             [actionType]="actionType"
                             [hasClaim]="hasClaim"
                             [po]="po"
                             [isReadOnly]="(isEdit && !poStatusAction.isNewStatus(po)) || actionType === ActionType.view"
                             fxFlex="100%"
                             fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="100%" fxFlex.lg="100%"
    ></app-add-edit-po-product>

    <div fxLayout='row wrap' class="row-wrap-padding acbox" fxFlex="100%"
         *ngIf="!!po && po.status !== poConst.NEW.code">
      <div fxFlex="100%" class="acbox_title margin-bottom-20">{{'pov2.title.timeInfo'|translate}}</div>
      <div fxFlex="100%" fxLayout="row"
           style="place-content: space-between; align-items: center; margin-bottom: 10px;margin-right: 5px">
        <div>{{'common.arrivedVietnamPortDate'| translate}}</div>
        <button mat-button type="submit" class="primary Update-btn"
                (click)="updateArriveDate(poConst.ARRIVED_VIETNAM_PORT.expect_uri)"
                [disabled]="!form.value?.arriveVietnamPortDate"
                *ngIf="po && po.status === poConst.APPROVED.code && !po.arriveVietnamPortDate && isUpdateDeliveryDate()"
        >
          {{'btnUpdate'|translate}}
        </button>
        <button mat-button type="submit" class="primary Update-btn"
                (click)="updateArriveDate(poConst.ARRIVED_VIETNAM_PORT.actual_uri)"
                [disabled]="!form.value?.arrivedVietnamPortDate"
                *ngIf="po && po.status === poConst.APPROVED.code
                 && po.arriveVietnamPortDate && !po.arrivedVietnamPortDate  && isUpdateDeliveryDate()"
        >
          {{'btnUpdate'|translate}}
        </button>
      </div>
      <ns-date-picker name="arriveVietnamPortDate"
                      formControlName="arriveVietnamPortDate"
                      [placeholder]="'pov2.placeholder.date'"
                      [label]="'pov2.label.expect'"
                      [minDate]="minArriveVietnamPortDate"
                      [required]="true"
                      [disabled]="!(!!po && po.status===PoStatus.APPROVED && !po.arriveVietnamPortDate) || !isUpdateDeliveryDate()"
                      [isLabelOutside]="true"
                      fxLayout="column" fxFlex="50%"
                      fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="50%">
      </ns-date-picker>

      <ns-date-picker name="arrivedVietnamPortDate"
                      formControlName="arrivedVietnamPortDate"
                      [placeholder]="'pov2.placeholder.date'"
                      [label]="'pov2.label.actual'"
                      [minDate]="minArrivedVietnamPortDate"
                      [maxDate]="maxArrivedVietnamPortDate"
                      [required]="true"
                      [disabled]="(!po || !(po.status === poConst.APPROVED.code && po.arriveVietnamPortDate && !po.arrivedVietnamPortDate))  || !isUpdateDeliveryDate()"
                      [isLabelOutside]="true" fxLayout="column" fxFlex="50%"
                      fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="50%">
      </ns-date-picker>

      <div fxFlex="100%" fxLayout="row"
           style="place-content: space-between; align-items: center; margin-bottom: 10px;margin-right: 5px">
        <div>{{'common.arrivedMyanmarPortDate'| translate}}</div>
        <button mat-button type="submit" class="primary Update-btn"
                (click)="updateArriveDate(poConst.ARRIVED_MYANMAR_PORT.expect_uri)"
                [disabled]="!form.value?.arriveMyanmarPortDate"
                *ngIf="po && po.arrivedVietnamPortDate && !po.arriveMyanmarPortDate && isUpdateDeliveryDate()"
        >
          {{'btnUpdate'|translate}}
        </button>

        <button mat-button type="submit" class="primary Update-btn"
                (click)="updateArriveDate(poConst.ARRIVED_MYANMAR_PORT.actual_uri)"
                [disabled]="!form.value?.arrivedMyanmarPortDate"
                *ngIf="po && po.arriveMyanmarPortDate && !po.arrivedMyanmarPortDate && isUpdateDeliveryDate()"
        >
          {{'btnUpdate'|translate}}
        </button>
      </div>
      <ns-date-picker name="arriveMyanmarPortDate"
                      formControlName="arriveMyanmarPortDate"
                      [placeholder]="'pov2.placeholder.date'"
                      [label]="'pov2.label.expect'"
                      [minDate]="minArriveMyanmarPortDate"
                      [required]="true"
                      [disabled]="!(!!po && po.arrivedVietnamPortDate && !po.arriveMyanmarPortDate) || !isUpdateDeliveryDate()"
                      [isLabelOutside]="true" fxLayout="column" fxFlex="50%"
                      fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="50%">
      </ns-date-picker>

      <ns-date-picker name="arrivedMyanmarPortDate"
                      formControlName="arrivedMyanmarPortDate"
                      [placeholder]="'pov2.placeholder.date'"
                      [label]="'pov2.label.actual'"
                      [minDate]="minArrivedMyanmarPort"
                      [maxDate]="maxArrivedMyanmarPortDate"
                      [required]="true"
                      [disabled]="!(!!po && po.arriveMyanmarPortDate && !po.arrivedMyanmarPortDate) || !isUpdateDeliveryDate()"
                      [isLabelOutside]="true" fxLayout="column" fxFlex="50%"
                      fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="50%">
      </ns-date-picker>

      <div fxFlex="100%" fxLayout="row"
           style="place-content: space-between; align-items: center; margin-bottom: 10px;margin-right: 5px">
        <div>{{'common.arrivedFcDate'| translate}}</div>
        <button mat-button type="submit" class="primary Update-btn"
                (click)="updateArriveDate(poConst.IMPORTED.expect_uri)"
                [disabled]="!form.value?.arriveFcDate"
                *ngIf="po && po.arrivedMyanmarPortDate && !po.arriveFcDate && isUpdateDeliveryDate()"
        >
          {{'btnUpdate'|translate}}
        </button>

      </div>

      <ns-date-picker name="arriveFcDate"
                      formControlName="arriveFcDate"
                      [placeholder]="'pov2.placeholder.date'"
                      [label]="'pov2.label.expect'"
                      [required]="true"
                      [minDate]="minArriveFCDate"
                      [disabled]="!(!!po && po.arrivedMyanmarPortDate && !po.arriveFcDate) || !isUpdateDeliveryDate()"
                      [isLabelOutside]="true" fxLayout="column" fxFlex="50%"
                      fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="50%">
      </ns-date-picker>


      <!--      [minDate]="minFCArrivedDate"-->
      <ns-date-picker name="importDate"
                      formControlName="importDate"
                      [placeholder]="'pov2.placeholder.date'"
                      [label]="'pov2.label.actual'"
                      [disabled]="true"
                      [isLabelOutside]="true" fxLayout="column" fxFlex="50%"
                      fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="50%">
      </ns-date-picker>


      <ns-input *ngIf="po && po.status === PoStatus.REJECT"
                name="rejectReason"
                formControlName="rejectReason"
                [placeholder]="'reject.reason'"
                [required]="false"
                [readonly]="true"
                [isLabelOutside]="true" fxLayout="column" fxFlex="50%"
                fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="50%">
      </ns-input>
      <ns-upload-file-v2 style="margin-right: 20px"
                         label="pov2.label.resultQC"
                         required="true"
                         [disabled]="actionType === ActionType.view"
                         *ngIf="(!!po && po.arriveFcDate) &&
                      poAuthoritiesService.hasGoodReceivePoRole()"
                         [accept]="[FileTypes.PDF]"
                         formControlName="resultQC"
      ></ns-upload-file-v2>      <!--  <ns-multi-select-autocomplete [multiple]="false"-->
      <!--                                [placeholder]="'common.from.currency'"-->
      <!--                                [options]="currencyOptions"-->
      <!--                                name="fromCurrency"-->
      <!--                                formControlName="fromCurrency"-->
      <!--                                [required]="true"-->

      <!--                                [disabled]="!(actionType === ActionType.edit || actionType === ActionType.new)"-->
      <!--                                [isLabelOutside]="true" fxLayout="column" fxFlex="50%"-->
      <!--                                fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="50%">-->
      <!--  </ns-multi-select-autocomplete>-->


      <!--  <ns-input name="exchangeRate"-->
      <!--            formControlName="exchangeRate"-->
      <!--            [placeholder]="'common.exchange.rate'"-->

      <!--            [required]="true"-->
      <!--            [readonly]="true"-->
      <!--            [isLabelOutside]="true" fxLayout="column" fxFlex="50%"-->
      <!--            fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="50%">-->
      <!--  </ns-input>-->

      <!--  <ns-multi-select-autocomplete [multiple]="false"-->
      <!--                                [placeholder]="'common.to.currency'"-->
      <!--                                [options]="toCurrencyOptions"-->
      <!--                                name="toCurrency"-->
      <!--                                formControlName="toCurrency"-->
      <!--                                [required]="true"-->

      <!--                                [disabled]="!(actionType === ActionType.edit || actionType === ActionType.new)"-->
      <!--                                [isLabelOutside]="true" fxLayout="column" fxFlex="50%"-->
      <!--                                fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="50%">-->
      <!--  </ns-multi-select-autocomplete>-->
    </div>
  </div>
</form>
