<ns-breadcrumb></ns-breadcrumb>
<form [formGroup]="searchForm" class="acbox" (ngSubmit)="onSubmit()">
  <div>
    <div fxLayout="row wrap" class="row-wrap-padding">
      <ns-input [placeholder]="'common.text'"
                [isLabelOutside]="true"
                [label]="'common.text'"
                name="text"
                formControlName="text"
                fxLayout="column" fxFlex="50%" fxFlex.lt-md="100%">
      </ns-input>

      <ns-multi-select-autocomplete [multiple]="false"
                                    [isLabelOutside]="true"
                                    [options]="storeOptions"
                                    name="storeId"
                                    formControlName="storeId"
                                    [placeholder]="'common.label.store'"
                                    [label]="'common.label.store'"
                                    [required]="true"
                                    fxLayout="column" fxFlex="50%" fxFlex.lt-md="100%">
      </ns-multi-select-autocomplete>
      <ns-multi-select-autocomplete [multiple]="false"
                                    [isLabelOutside]="true"
                                    [options]="statusOptions"
                                    name="status"
                                    formControlName="status"
                                    [placeholder]="'common.status'"
                                    [label]="'common.status'"
                                    [required]="true"
                                    fxLayout="column" fxFlex="50%" fxFlex.lt-md="100%">
      </ns-multi-select-autocomplete>

      <ns-multi-select-autocomplete [multiple]="false"
                                    [isLabelOutside]="true"
                                    [options]="statusOptions"
                                    name="dateType" formControlName="dateType"
                                    [placeholder]="'common.dateType'"
                                    [label]="'common.dateType'"
                                    [required]="true"
                                    fxLayout="column" fxFlex="50%" fxFlex.lt-md="100%">
      </ns-multi-select-autocomplete>
      <ns-range-date-picker name="rangeDate"
                            formControlName="rangeDate"
                            [isLabelOutside]="true"
                            [label]="'common.label.applied.time'"
                            [requiredToDate]="true"
                            [requiredFromDate]="true"
                            [fromDateControlName]="'fromDate'"
                            [toDateControlName]="'toDate'"
                            fxLayout="column" fxFlex="50%" fxFlex.lt-md="100%">
      </ns-range-date-picker>
      <div fxLayout="column" fxFlex="100%">
        <div class="buttonArea left margin-0">
          <button mat-button type="submit" class="primary" [disabled]="searchForm.invalid">
            {{'btnSearch'|translate}}
          </button>
          <button mat-button type="button" class="secondary outline reset-btn" (click)="clearSearch()">
            {{'btnReset'|translate}}
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
<div class="result-area"
     style="margin: 0.5rem 0"
     fxLayout fxLayoutAlign="space-between center">
  <h3 class="margin-0">{{paging.totalElements}} {{' ' + ('common.results'| translate) }}</h3>
  <div class="button-area" fxLayout>
    <!--    <button mat-button type="button" class="primary outline" [disabled]="searchForm.invalid"-->
    <!--            *ngIf="poAuthoritiesService.hasPrintPoRole()"-->
    <!--            (click)="onExportReport()">-->
    <!--      <i class="fa fa-upload"></i> {{'common.button.exportExcel'|translate}}-->
    <!--    </button>-->
    <button mat-button type="button" class="primary"
            *ngIf="repackingAuthoritiesService.hasCreateRepackingRole()"
            (click)="onCreateRepacking()">
      <i class="fa fa-plus"></i> {{'repacking.button.create'|translate}}
    </button>
  </div>
</div>
<div class="acbox">
  <ns-table [columns]="columns" [buttons]="buttons" *ngIf="searchForm.valid"
            [paging]="paging" (pagingChange)="pagingChange($event)"
            [moduleName]="moduleName" [results]="results"
            (clickAction)="onRowButtonClick($event)">
  </ns-table>
</div>
