<div class="repack">
  <div class="acbox margin-15 space-between" fxLayout fxLayoutAlign="space-between center">
    <div class="stepBtn" fxLayout fxLayoutGap="0.5rem">
      <button mat-button class="primary outline"
              type="button" matStepperPrevious>
        {{'btnBack' | translate}}
      </button>
      <button mat-button class="primary" matStepperNext>
        {{'btnNext'|translate}}
      </button>
    </div>
    <div>
      <button mat-button class="primary"
              (click)="onSaveRepacking()"
              [disabled]="repackedFailed || claimPendingApprove"
              *ngIf="(repackingStatusAction.isNewStatus(repackingPlan) || repackingStatusAction.isPlannedStatus(repackingPlan)) &&
          repackingAuthoritiesService.hasRepackRepackingRole() && !isView">
        <i class="fa fa-save"></i> {{'btnAddEdit' | translate}}
      </button>
      <button mat-button class="primary outline"
              (click)="onExportQrCode()"
              [disabled]="repackedFailed"
              *ngIf="(isPrint || (repackingStatusAction.isPlannedStatus(repackingPlan) || repackingStatusAction.isRepackedStatus(repackingPlan))) &&
                  repackingAuthoritiesService.hasPrintQRCodeRole()">
        <i class="fa fa-qrcode"></i> {{'btnExportQrCode' | translate}}
      </button>
      <button mat-button class="primary outline"
              (click)="onPrintQrCode()"
              [disabled]="repackedFailed"
              *ngIf="isPrint || (repackingStatusAction.isPlannedStatus(repackingPlan) || repackingStatusAction.isRepackedStatus(repackingPlan)) &&
                  repackingAuthoritiesService.hasPrintQRCodeRole()">
        <i class="fa fa-print"></i> {{'btnPrintQrCode' | translate}}
      </button>
      <button mat-button class="primary outline"
              (click)="onClaimDetail()"
              *ngIf="repackingStatusAction.isNewStatus(repackingPlan) &&
                   isView && !!claimId ">
        <i class="fa fa-exclamation-circle"></i> {{'common.btn.claim' | translate}}
      </button>
    </div>
  </div>

  <div class="acbox">
    <div>
      <table *ngIf="isPreparedData && repackingPlan" class="margin-10">
        <tr>
          <th>{{'repacking.ae.table.header.stt' | translate}}</th>
          <th *ngIf="!!claimId">{{'repacking.ae.table.header.orgQuantity' | translate}}</th>
          <th *ngIf="!!claimId">{{'repacking.ae.table.header.claimQuantity' | translate}}</th>
          <th>{{'repacking.ae.table.header.quantity' | translate}}</th>
          <th>{{'repacking.ae.table.header.repack' | translate}}</th>
        </tr>
        <tbody>
        <tr *ngFor="let repackingDetail of repackingPlan.repackingPlanningDetails; let index = index">
          <td>{{index + 1}}</td>
          <td *ngIf="!!claimId">
            <ns-counter-input [isFormControl]="false"
                              [value]="repackingDetail.orgQuantity"
                              [disabled]="true"
            ></ns-counter-input>
          </td>
          <td *ngIf="!!claimId">
            <ns-counter-input [isFormControl]="false"
                              [value]="repackingDetail.claimQuantity"
                              [disabled]="true"
            ></ns-counter-input>
          </td>
          <td>
            <ns-counter-input [isFormControl]="false"
                              [value]="repackingDetail.totalQuantity"
                              [disabled]="true"
            ></ns-counter-input>
          </td>
          <td>
            <div fxLayout="row wrap" fxLayoutGap="0.5rem">
              <ng-container
                *ngFor="let packingRepackAndQuantity of repackedPackingMap.get(repackingDetail.productPacking?.product?.code + '')">
                <ns-counter-input [isFormControl]="false"
                                  [value]="packingRepackAndQuantity.quantity"
                                  [label]="packingRepackAndQuantity.productPacking.code + ' - '
                                 + ('common.block' | translate) + ' ' + packingRepackAndQuantity.productPacking?.packingType?.quantity
                                  + ' - ' + ((packingRepackAndQuantity.expireDate + '') | date:'dd/MM/yyyy')  "
                                  [disabled]="repackingStatusAction.isRepackedStatus(repackingPlan) || repackingStatusAction.isCanceledStatus(repackingPlan)
                                                || repackingStatusAction.isImportedStatus(repackingPlan) || isView"
                                  (onChange)="onRepackedQuantityChange($event, repackingDetail, packingRepackAndQuantity, repackedPackingMap.get(repackingDetail.productPacking?.product?.code + ''))"
                                  fxFlex="0 1 calc(50%-0.5rem)"
                ></ns-counter-input>
              </ng-container>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
