<div class="partner-list">
  <ns-breadcrumb></ns-breadcrumb>
  <div class="acbox acbox_content">
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
      <div fxLayout="row wrap" class="row-wrap-padding">
        <div class="form_title">{{'partner.heading.searching' | translate}}</div>

        <!--        <ns-input name="code"-->
        <!--                  formControlName="code"-->
        <!--                  [placeholder]="'partner.placeholder.code'"-->
        <!--                  [isLabelOutside]="true"-->
        <!--                  [label]="'partner.label.code'"-->
        <!--                  fxLayout="column" fxFlex="50%" fxFlex.lt-md="100%">-->
        <!--        </ns-input>-->
        <!--        -->
        <ns-input name="name"
                  formControlName="name"
                  [placeholder]="'partner.placeholder.name'"
                  [isLabelOutside]="true"
                  [label]="'partner.label.name'"
                  fxLayout="column" fxFlex="50%" fxFlex.lt-md="100%">
        </ns-input>
        <ns-input name="email"
                  formControlName="email"
                  [placeholder]="'partner.placeholder.email'"
                  [isLabelOutside]="true"
                  [label]="'partner.label.email'"
                  fxLayout="column" fxFlex="50%" fxFlex.lt-md="100%">
        </ns-input>
        <ns-input name="phone"
                  formControlName="phone"
                  [placeholder]="'partner.placeholder.phone'"
                  [isLabelOutside]="true"
                  [label]="'partner.label.phone'"
                  fxLayout="column" fxFlex="50%" fxFlex.lt-md="100%">
        </ns-input>
        <ns-input name="contractCode"
                  formControlName="phone"
                  [placeholder]="'partner.placeholder.contractCode'"
                  [isLabelOutside]="true"
                  [label]="'partner.label.contractCode'"
                  fxLayout="column" fxFlex="50%" fxFlex.lt-md="100%">
        </ns-input>
        <ns-multi-select-autocomplete name="status"
                                      formControlName="status"
                                      [options]="statusOptions"
                                      [label]="'partner.label.status'"
                                      [isLabelOutside]="true"
                                      [multiple]="false"
                                      fxLayout="column" fxFlex="50%" fxFlex.lt-md="100%">
        </ns-multi-select-autocomplete>

        <div fxLayout="column" fxFlex="100%">
          <div class="buttonArea left margin-0">
            <button mat-button type="submit" class="primary" [disabled]="searchForm.invalid">
              {{'btnSearch'|translate}}
            </button>
            <!--            <button mat-button type="button" class="secondary outline" >-->
            <!--              {{'btnReset'|translate}}-->
            <!--            </button>-->
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="buttonArea right">
<!--  <button mat-button type="button" class="primary outline" [disabled]="searchForm.invalid"-->
<!--  >-->
<!--    <i class="fa fa-upload"></i> {{'common.button.exportExcel'|translate}}-->
<!--  </button>-->
  <button mat-button type="button" class="primary" (click)="addNewPartner()"
          *ngIf="partnerAuthoritiesService.hasCreateShippingPartnerRole()"
  >
    <i class="fa fa-plus"></i> {{'partner.button.newPartner'|translate}}
  </button>
</div>
<div class="acbox">
  <ns-table [columns]="columns" [buttons]="buttons"
            [paging]="paging" (pagingChange)="pagingChange($event)"
            [moduleName]="'partner'" [results]="results"
            [expandHeaderButton]="expandButton"
            (clickAction)="onRowButtonClick($event)">
  </ns-table>
</div>
