.list {
  margin: 1rem;
}

.detail {
  margin: 1.5rem 1rem 1rem 1rem;

  .form {
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    margin-bottom: 1rem;


    div {
      padding: 0 0.5rem;
    }

    div:nth-child(1) {
      flex-grow: 1;
      flex-basis: calc(33% - 1rem);
    }

    div:nth-child(2) {
      flex-grow: 1;
      flex-basis: calc(33% - 1rem);
    }

    div:nth-child(3) {
      flex-grow: 1;
      flex-basis: calc(33% - 1rem);
    }

    .buttonArea {
      flex-grow: 1;
      //flex-basis: calc(13% - 1rem);
      display: flex;
      place-content: center;
      align-items: center;
      padding: 0.5rem;

      button{
        margin-left: 0.5rem
      }
    }
  }
}

:host ::ng-deep {



  .mat-column-chkbox {
    flex-basis: 3% !important;
  }
  mat-header-cell.mat-column-chkbox{
    place-content: start;
  }

  .mat-column-qRCode {
    max-width: 20rem;

    app-read {
      width: 100%;

      div {
        width: 100%;
        display: flex;
        place-content: center;
        align-items: center;

        img {
          height: 4rem;
          width: 4rem;
        }
      }
    }
  }

  .mat-column-status{
    flex-basis: 3%!important;
  }

  .mat-column-add{
    max-width: 4%!important;
  }
}
