<ns-breadcrumb></ns-breadcrumb>
<h3>{{'menu.goods.bonus.store'| translate}}</h3>
<div class="acbox">
  <app-warehouse-list (clickRow)="onRowClick($event)">
  </app-warehouse-list>
</div>
<app-warehouse-order (createExport)="createExportStatement()">
</app-warehouse-order>
