<div [formGroup]="model.form">

  <h2 style="margin: auto"> {{ 'storeProductPacking.search.title' | translate }} </h2>
  <mat-form-field [formGroup]="model.form" style="width: 100%" >
<!--    (keydown.enter) = onSearchData()-->
    <!--<div [formGroup]="group">-->
    <input matInput formControlName="text" [placeholder]="'common.text' | translate" type="text"
    >
    <!--</div>-->
  </mat-form-field>
  <div class="buttonArea demo-full-width margin-top">
    <button mat-button class="primary" (click)="onSearchData()"
            *ngIf="model.onDisplayWithAuthority('get/stores/inventory-ignore-expire-date')"
    >{{'common.search' |translate}}</button>
    <button mat-button class="primary" (click)="onPutPacking()">OK</button>
  </div>
  <ts-table-v2 [model]="model.tsTable" [form]="model.form"
               (onPage)="onPage($event)"
  >
  </ts-table-v2>
  <!--<app-ld [info]="ldInfo" (searchEvent)="onSearchData($event)" [group]="form"></app-ld>-->


</div>
