.a-e-store {
  margin: 1rem;

  h2 {
    margin-bottom: 0.5rem;
  }

  @mixin fieldSetContent {
    display: flex;
    flex-wrap: wrap;

    div {
      flex-basis: calc(100% / 4 - 1rem);
      padding: 0 0.5rem;
      @media screen and (min-width: 600px) and (max-width: 959px) {
        flex-basis: calc(50% - 1rem);
      }

      @media screen and (max-width: 599px) {
        flex-basis: calc(100% - 1rem);
      }
    }
  }

  .form4 {
    display: flex;
    flex-direction: column;

    fieldset {
      flex-basis: 100%;
      margin-bottom: 1rem;

      .systemInfo {
        @include fieldSetContent;

        div:last-child {
          display: flex;
          align-items: center;
        }
      }

      .locationInfo {
        @include fieldSetContent;

        div:first-child {
          flex-basis: calc(100% - 1rem);

          app-input {


            mat-form-field {
              display: flex;

              div {
                flex-basis: calc(50% - 1rem)!important;
              }
            }
          }
        }

        div:nth-child(2) {
        }
      }

      .contactInfo {
        @include fieldSetContent;
      }

    }

    .readonlyDate {
      cursor: none;
      pointer-events: none;
    }
  }

  .buttonArea {
    display: flex;
    place-content: flex-end;
    padding: 0 0.5rem;
  }
}
