<ns-breadcrumb></ns-breadcrumb>
<div class="a-e-store">
  <div class="form4">

    <fieldset>
      <legend>{{'store.system.info' | translate}}</legend>
      <div class="systemInfo">
        <ng-container *ngFor="let field of model.inputFields">
          <div [formGroup]="model.form" *ngIf="field.fieldSet === 'systemInfo'"
          >
            <div dynamicField [field]="field"
                 [group]="model.form"
                 [readonly]="isReadonly(field)"
            ></div>
          </div>
        </ng-container>
      </div>
    </fieldset>

    <fieldset>
      <legend>{{'store.location.info' | translate}}</legend>
      <div class="locationInfo">
        <ng-container *ngFor="let field of model.inputFields">
          <div [formGroup]="model.form" *ngIf="field.fieldSet === 'locationInfo'">
            <div dynamicField [field]="field"
                 [group]="model.form"
            ></div>
          </div>
        </ng-container>
      </div>
    </fieldset>

    <fieldset>
      <legend>{{'store.contact.info' | translate}}</legend>
      <div class="contactInfo">
        <ng-container *ngFor="let field of model.inputFields">
          <div [formGroup]="model.form" *ngIf="field.fieldSet === 'contactInfo'"
          >
            <div dynamicField [field]="field"
                 [group]="model.form"
            ></div>
          </div>
        </ng-container>
      </div>
    </fieldset>
  </div>
  <div class="buttonArea">
    <button mat-button [disabled]="!model.form.valid || !model.enableUpdate"
            class="primary"
            *ngIf="model.onDisplayWithAuthority(['patch/stores/{id}', 'post/stores'])"
            (click)="onSave()">
      {{(model.actionType === 'add' ? 'btnAdd' : 'btnAddEdit') | translate}}
    </button>
  </div>

</div>
