<mat-table #table [dataSource]="model?.dataSrc" matSort (matSortChange)="matSortChangeEvent($event)">
  <mat-header-row *matHeaderRowDef="model?.displayCols"></mat-header-row>
  <mat-row *matRowDef="let row; columns: model?.displayCols; let i = index"
           [ngClass]="{'highlight': model?.selectedRowIndex == i}" class="{{row.className}}"
           (click)="onRowClick($event, row, i)"
  ></mat-row>

  <ng-container *ngFor="let field of (model?.cols ? model?.cols : [])" matColumnDef="{{field.name}}">
    <ng-container [ngSwitch]="field.type">
      <!--stt-->
      <ng-container *ngSwitchCase="'index'">
        <mat-header-cell *matHeaderCellDef> {{'ld.no'|translate}}</mat-header-cell>
        <mat-cell *matCellDef="let i = index; let row "> {{model?.getIndex(row, i)}}</mat-cell>

      </ng-container>
      <!--<ng-container *ngSwitchCase="'view'">-->
      <!--<mat-header-cell *matHeaderCellDef>{{ field.name | translate }}</mat-header-cell>-->
      <!--<mat-cell *matCellDef="let row" [class]="'mat-header-cell-col-'+field.type"-->

      <!--&gt;-->
      <!--{{ model.getData(row, field)}}-->
      <!--</mat-cell>-->
      <!--</ng-container>-->
      <!-- button Column -->
      <ng-container *ngSwitchCase="'btnGrp'">
        <mat-header-cell *matHeaderCellDef>
          <div *ngIf="isShowBtn('add', {})">
            <button mat-icon-button
                    color="warn"
                    (click)="onHeaderAction(field.name)"
                    [disabled]="!isShowBtn('add', {})"
                    *ngIf="hasAuthority(field.authorities.add)"
                    matTooltip="{{showButtonTitle(field, 'add') | translate}}">
              <mat-icon>{{field.name}}</mat-icon>
            </button>
          </div>
        </mat-header-cell>
        <mat-cell *matCellDef="let row; let i = index;" (click)="$event.stopPropagation()">
          <div class="action_icon">
            <ng-container *ngFor="let act of field.value">
              <div *ngIf="hasAuthority(field.authorities[act])">
                <button mat-icon-button
                        color="warn"
                        (click)="onCellClick(act, row, i)"
                        *ngIf="isShowBtn(act, row)"
                        [id]="act"
                        matTooltip="{{showButtonTitle(field, act) | translate}}"
                >
                  <mat-icon>{{act}}</mat-icon>
                </button>
              </div>
            </ng-container>
          </div>
        </mat-cell>
      </ng-container>
      <!--checkbox-->

      <!-- Checkbox Column -->
      <ng-container *ngSwitchCase="'checkboxAll'">
        <mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? model?.masterToggle() : null"
                        [checked]="model?.selection.hasValue() && model?.isAllSelected()"
                        [indeterminate]="model?.selection.hasValue() && !model?.isAllSelected()">
          </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? model?.onChangeCheckBox(row) : null"
                        [checked]="model?.selection.isSelected(row)"
                        [aria-label]="checkboxLabel(row)"
                        *ngIf="(field.inputType !== '0') || ( row[field.name] !== 1)"
          >
          </mat-checkbox>
        </mat-cell>
      </ng-container>
      <!--default-->

      <ng-container *ngSwitchCase="'icon'">
        <mat-header-cell *matHeaderCellDef><span></span>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div class="{{row.className}}">
            <mat-icon [title]="expireDateColorsUtils.getTranslated(row.className)">{{this.expireDateUtils.getIcon(row.className)}}</mat-icon>
          </div>
        </mat-cell>
      </ng-container>

      <ng-container *ngSwitchDefault>
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>
          {{field.label|translate}}{{field.require === 'true' ? '*' : ''}}
        </mat-header-cell>
        <mat-cell *matCellDef="let i = index; let row ">
          <!--{{model.getIndex(row, i)}}-->
          <div [field]="model?.showIWant(i, field.name)" [group]="model?.showIWant2(form,i)" dynamicField></div>
        </mat-cell>
      </ng-container>

    </ng-container>
  </ng-container>
</mat-table>
<mat-paginator #paginator
               (page)="getPage($event)"
               [length]="model?.search.totalElements"
               [pageSize]="model?.search.pageSize"
               [pageSizeOptions]="model?.pageSizeOption">
</mat-paginator>
