table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}
mat-cell:nth-child(1),
mat-header-cell:nth-child(1) {
  flex: 0 0 10%;
}

mat-cell:nth-child(3),
mat-header-cell:nth-child(3) {
  flex: 0 0 10%;
}

mat-cell > .action_icon {
  display: flex;
}
