<ns-breadcrumb (updateLabel)="updateLabel($event)"
               *ngIf="(isEdit && importPo) || !isEdit"></ns-breadcrumb>
<form [formGroup]="addEditForm" class="import-po-ae">
  <div fxLayout="column">
    <div class="acbox row-wrap-padding" fxLayout="row wrap" fxFlex="100%">
      <ns-input formControlName="manufacturer"
                [isLabelOutside]="true"
                [disabled]="true"
                [placeholder]="'import.po.table.header.manufacturerCode'"
                fxLayout="column" fxFlex="50%" fxFlex.lt-md="100%">
      </ns-input>
      <ns-input formControlName="distributor"
                [isLabelOutside]="true"
                [disabled]="true"
                [placeholder]="'import.po.table.header.distributor'"
                fxLayout="column" fxFlex="50%" fxFlex.lt-md="100%">
      </ns-input>
      <ns-input formControlName="description"
                [isLabelOutside]="true"
                [disabled]="true"
                [placeholder]="'common.description'"
                fxLayout="column" fxFlex="50%" fxFlex.lt-md="100%">
      </ns-input>
    </div>
    <div class="acbox">
      <ns-smart-table name="importPoDetails"
                      formControlName="importPoDetails"
                      [columns]="columns"
                      [buttons]="buttons"
                      [moduleName]="moduleName"
                      [isStickyHeader]="true"
                      (clickAction)="onRowButtonClick($event)"
                      fxFlex="100%"
      >
      </ns-smart-table>
    </div>
  </div>
</form>

<div class="acbox_footer">
  <div>
    <button mat-button class="primary outline"
            type="button"
            (click)="onBack()">
      {{'btnBack' | translate}}
    </button>
    <div>
      <button mat-button class="primary outline"
              (click)="onClaimDetail()"
              *ngIf="!isView && claimAuthoritiesService.hasGetClaimRole() && hasClaim">
        {{'common.btn.claim' | translate}}
      </button>
      <button mat-button class="primary"
              [disabled]="addEditForm.invalid || claimError"
              (click)="onUpdateImportPOPallet()"
              *ngIf="importPoAuthoritiesService.hasUpdatePalletImportPoRole() && !isView">
        {{'common.btn.pallet.update' | translate}}
      </button>
    </div>
  </div>
</div>
