<form [formGroup]="addEditForm">
  <div class="acbox">
    <div fxLayout="row wrap" class="row-wrap-padding">
      <ns-input [placeholder]="'common.code.auto.create'"
                [isLabelOutside]="true"
                [label]="'common.code'"
                [disabled]="true"
                name="code" formControlName="code"
                fxLayout="column" fxFlex="50%" fxFlex.lt-md="100%">
      </ns-input>
      <ns-multi-select-autocomplete [multiple]="false"
                                    [isLabelOutside]="true"
                                    [options]="storeOptions"
                                    [disabled]="isView"
                                    name="store"
                                    formControlName="store"
                                    (selectionChange)="onStoreChange($event)"
                                    [placeholder]="'common.label.store'"
                                    [label]="'common.label.store'"
                                    [required]="true"
                                    fxLayout="column" fxFlex="50%" fxFlex.lt-md="100%">
      </ns-multi-select-autocomplete>
      <ns-multi-select-autocomplete [multiple]="false"
                                    [isLabelOutside]="true"
                                    [options]="distributorOptions"
                                    [disabled]="isView"
                                    [required]="true"
                                    (selectionChange)="onDistributorChange($event)"
                                    name="distributor" formControlName="distributor"
                                    [placeholder]="'common.label.distributor'"
                                    [label]="'common.label.distributor'"
                                    fxLayout="column" fxFlex="50%" fxFlex.lt-md="100%">
      </ns-multi-select-autocomplete>
      <ns-input [placeholder]="'common.description'"
                [isLabelOutside]="true"
                [label]="'common.description'"
                [disabled]="isView"
                name="description" formControlName="description"
                fxLayout="column" fxFlex="50%" fxFlex.lt-md="100%">
      </ns-input>
    </div>
  </div>
  <div class="acbox" fxLayout="column">
    <div fxFlex="100%" fxLayout="row wrap" class="acbox_title" style="place-content: space-between">
      <div style="margin-left: 1rem">{{'repacking.title.detail'|translate}}
      </div>
      <div class="button-area">
        <button mat-button type="submit" class="dashed info"
                (click)="onAddDetail()"
                *ngIf="!isView && (!isEdit || (isEdit && repackingStatusAction.isNewStatus(repackingPlan)))">
          <i class="fa fa-plus"></i> {{'repacking.button.add.product'|translate}}
        </button>
      </div>
    </div>

    <ns-smart-table name="repackingPlanningDetails"
                    formControlName="repackingPlanningDetails"
                    *ngIf="!isView"
                    [columns]="columns"
                    [buttons]="buttons"
                    [moduleName]="moduleName"
                    [isStickyHeader]="true"
                    [minRow]="1"
                    (clickAction)="onRowButtonClick($event)"
                    fxFlex="100%"
    >
    </ns-smart-table>
    <ns-smart-table [formControl]="viewTableControl"
                    *ngIf="isView"
                    [columns]="viewColumns"
                    [moduleName]="moduleName"
                    [isStickyHeader]="true"
                    fxFlex="100%"
    >
    </ns-smart-table>
  </div>
</form>

<div class="acbox_footer">
  <div>
    <div>
      <button mat-button class="primary outline"
              type="button"
              (click)="onBack()">
        {{'btnBack' | translate}}
      </button>
      <button mat-button class="primary" matStepperNext>
         {{'btnNext'|translate}}
      </button>
    </div>
    <div class="">
      <button class="primary" mat-button type="button"
              [disabled]="addEditForm.invalid"
              *ngIf="!isView && (!isEdit &&repackingAuthoritiesService.hasCreateRepackingRole() || isEdit && repackingAuthoritiesService.hasUpdateRepackingRole())"
              (click)="onSavePlan()">
        {{(isEdit ? 'btnUpdate' : 'btnSave') | translate}}
      </button>
    </div>
  </div>
