<ns-breadcrumb></ns-breadcrumb>
<form [formGroup]="form">
  <div fxLayout="column">
    <div class="acbox row-wrap-padding" fxLayout="row wrap" fxFlex="100%">
      <ns-input [isFloatLabel]="true"
                [label]="'common.code'"
                formControlName="code"
                [disabled]="true"
                [placeholder]="'common.code'"
                fxLayout="column" fxFlex="calc(100%/4)"
                fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="calc(100%/4)">
      </ns-input>
      <ns-input [isFloatLabel]="true"
                *ngIf="importStatement.status === 1"
                [label]="'common.export.description'"
                formControlName="exportDescription"
                [disabled]="true"
                [placeholder]="'common.export.description'"
                fxLayout="column" fxFlex="calc(100%/4)"
                fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="calc(100%/4)">
      </ns-input>
      <ns-input [isFloatLabel]="true"
                [label]="'common.import.description'"
                formControlName="importDescription"
                [disabled]="true"
                [placeholder]="'common.import.description'"
                fxLayout="column" fxFlex="calc(100%/4)"
                fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="calc(100%/4)">
      </ns-input>
      <ns-input [isFloatLabel]="true"
                [label]="'common.fromStore'"
                formControlName="fromStore"
                [disabled]="true"
                [placeholder]="'common.fromStore'"
                fxLayout="column" fxFlex="calc(100%/4)"
                fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="calc(100%/4)">
      </ns-input>
      <ns-input [isFloatLabel]="true"
                [label]="'store.user'"
                formControlName="fromStoreUsername"
                [disabled]="true"
                [placeholder]="'store.user'"
                fxLayout="column" fxFlex="calc(100%/4)"
                fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="calc(100%/4)">
      </ns-input>
      <ns-input [isFloatLabel]="true"
                [label]="'store.phone'"
                formControlName="fromStoreUserTel"
                [disabled]="true"
                [placeholder]="'store.phone'"
                fxLayout="column" fxFlex="calc(100%/4)"
                fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="calc(100%/4)">
      </ns-input>
      <ns-input [isFloatLabel]="true"
                [label]="'common.toStore'"
                formControlName="toStoreName"
                [disabled]="true"
                [placeholder]="'common.toStore'"
                fxLayout="column" fxFlex="calc(100%/4)"
                fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="calc(100%/4)">
      </ns-input>
      <ns-input [isFloatLabel]="true"
                [label]="'store.user'"
                formControlName="toStoreUsername"
                [disabled]="true"
                [placeholder]="'store.user'"
                fxLayout="column" fxFlex="calc(100%/4)"
                fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="calc(100%/4)">
      </ns-input>
      <ns-input [isFloatLabel]="true"
                [label]="'store.phone'"
                formControlName="toStoreUserTel"
                [disabled]="true"
                [placeholder]="'store.phone'"
                fxLayout="column" fxFlex="25%"
                fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="25%">
      </ns-input>
    </div>
  </div>
  <div class="acbox">
    <ns-smart-table [columns]="columns"
                    formControlName="table"
                    [moduleName]="moduleName"
                    [buttons]="buttons"
                    (clickAction)="onRowButtonClick($event)">
    </ns-smart-table>
  </div>
</form>
