<ns-breadcrumb></ns-breadcrumb>
<form [formGroup]="addEditForm">
  <div class="acbox row-wrap-padding" fxLayout="row wrap">
    <ns-multi-select-autocomplete [multiple]="false"
                                  [placeholder]="'po.ae.manufacturer.code'"
                                  [options]="manufacturerOptions"
                                  name="manufacturer"
                                  formControlName="manufacturer"
                                  [required]="true"
                                  (selectionChange)="formSelectChange()"
                                  [disabled]="!(actionType === ActionType.edit || actionType === ActionType.new)"
                                  fxLayout="column" fxFlex="33%"
                                  fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="33%" fxFlex.lg="33%">
    </ns-multi-select-autocomplete>
    <ns-multi-select-autocomplete [multiple]="false"
                                  [placeholder]="'po.ae.store.code'"
                                  [options]="storeOptions"
                                  name="store"
                                  formControlName="store"
                                  [required]="true"
                                  (selectionChange)="formSelectChange()"
                                  [disabled]="!(actionType === ActionType.edit || actionType === ActionType.new)"
                                  fxLayout="column" fxFlex="33%"
                                  fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="33%" fxFlex.lg="33%">
    </ns-multi-select-autocomplete>
    <ns-multi-select-autocomplete [multiple]="false"
                                  [placeholder]="'po.ae.distributor.code'"
                                  [options]="distributorOptions"
                                  name="distributor"
                                  formControlName="distributor"
                                  [required]="true"
                                  (selectionChange)="formSelectChange()"
                                  [disabled]="!(actionType === ActionType.edit || actionType === ActionType.new)"
                                  fxLayout="column" fxFlex="33%"
                                  fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="33%" fxFlex.lg="33%">
    </ns-multi-select-autocomplete>

    <ns-date-picker name="arrivedVietnamPortDate"
                    formControlName="arrivedVietnamPortDate"
                    [placeholder]="'common.arrivedVietnamPortDate'"
                    [minDate]="minVietnamPortDate"
                    [errorMessages]="errorDeliveryDateMessages"
                    [required]="!disabledArrivedPort('vietnamPort')"
                    [disabled]="disabledArrivedPort('vietnamPort')"
                    fxLayout="column" fxFlex="33%"
                    fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="33%" fxFlex.lg="33%">
    </ns-date-picker>
    <ns-date-picker name="arrivedMyanmarPortDate"
                    formControlName="arrivedMyanmarPortDate"
                    [placeholder]="'common.arrivedMyanmarPortDate'"
                    [minDate]="minMyanmarPortDate"
                    [errorMessages]="errorDeliveryDateMessages"
                    [required]="!disabledArrivedPort('myanmarPort')"
                    [disabled]="disabledArrivedPort('myanmarPort')"
                    fxLayout="column" fxFlex="33%"
                    fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="33%" fxFlex.lg="33%">
    </ns-date-picker>
    <ns-date-picker name="arrivedFcDate"
                    formControlName="arrivedFcDate"
                    [placeholder]="'common.arrivedFcDate'"
                    [minDate]="minFCArrivedDate"
                    [errorMessages]="errorDeliveryDateMessages"
                    [required]="!disabledArrivedPort('fc')"
                    [disabled]="disabledArrivedPort('fc')"
                    fxLayout="column" fxFlex="33%"
                    fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="33%" fxFlex.lg="33%">
    </ns-date-picker>

    <ns-input name="deliveryAddress"
              formControlName="deliveryAddress"
              [placeholder]="'common.deliveryAddress'"
              [required]="true"
              [errorMessages]="errorDeliveryAddressMessages"
              [readonly]="!(actionType === ActionType.edit || actionType === ActionType.new)"
              fxLayout="column" fxFlex="33%"
              fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="33%" fxFlex.lg="33%">
    </ns-input>

    <ns-multi-select-autocomplete [multiple]="false"
                                  [placeholder]="'common.from.currency'"
                                  [options]="currencyOptions"
                                  name="fromCurrency"
                                  formControlName="fromCurrency"
                                  [required]="true"
                                  (selectionChange)="fromCurrencyChange()"
                                  [disabled]="!(actionType === ActionType.edit || actionType === ActionType.new)"
                                  fxLayout="column" fxFlex="33%"
                                  fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="33%" fxFlex.lg="33%">
    </ns-multi-select-autocomplete>

    <ns-input name="exchangeRate"
              formControlName="exchangeRate"
              [placeholder]="'common.exchange.rate'"
              [errorMessages]="errorExchangeRateMessages"
              [required]="true"
              [readonly]="true"
              fxLayout="column" fxFlex="33%"
              fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="33%" fxFlex.lg="33%">
    </ns-input>

    <ns-multi-select-autocomplete [multiple]="false"
                                  [placeholder]="'common.to.currency'"
                                  [options]="toCurrencyOptions"
                                  name="toCurrency"
                                  formControlName="toCurrency"
                                  [required]="true"
                                  (selectionChange)="toCurrencyChange()"
                                  [disabled]="!(actionType === ActionType.edit || actionType === ActionType.new)"
                                  fxLayout="column" fxFlex="33%"
                                  fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="33%" fxFlex.lg="33%">
    </ns-multi-select-autocomplete>
    <ns-input name="description"
              formControlName="description"
              fxFlex="1 1 calc(100% * 2 /3 -1rem)"
              [placeholder]="'common.description'"
              [required]="false"
              [readonly]="!(actionType === ActionType.edit || actionType === ActionType.new)"
              fxLayout="column" fxFlex="33%"
              fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="33%" fxFlex.lg="33%">
    </ns-input>
    <ns-input *ngIf="po && po.status === PoStatus.REJECT"
              name="rejectReason"
              formControlName="rejectReason"
              [placeholder]="'reject.reason'"
              [required]="false"
              [readonly]="true"
              fxLayout="column" fxFlex="33%"
              fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="33%" fxFlex.lg="33%">
    </ns-input>
    <div class="buttonArea">
      <button mat-button class="primary"
              (click)="onSave()"
              [disabled]="addEditForm.invalid || isEmptyDetails()"
              *ngIf="isShowButton('save', actionType)&&
              onDisplayWithAuthority('post/pos')">
        <i class="fa fa-save"></i> {{(actionType === ActionType.new ? 'btnAdd' : 'btnAddEdit') | translate}}
      </button>

      <button mat-button class="primary"
              [disabled]="addEditForm.invalid || isEmptyDetails()"
              (click)="onApprove()"
              *ngIf="isShowButton('approve', actionType)&&
              onDisplayWithAuthority('patch/pos/approve/{id}')">
        <i class="fa fa-thumbs-up"></i> {{'common.btn.approve' | translate}}
      </button>
      <button mat-button class="primary"
              [disabled]="addEditForm.invalid || isEmptyDetails()"
              (click)="onRejectApprove()"
              *ngIf="isShowButton('rejectApprove', actionType) &&
              onDisplayWithAuthority('patch/pos/reject/{id}')">
        <i class="fa fa-thumbs-down"></i> {{(po && po.status === PoStatus.APPROVED ? 'btnCancel' : 'common.btn.approve.reject')  | translate}}
      </button>
      <button mat-button class="primary"
              (click)="onPrintPO()"
              *ngIf="isShowButton('printPO', actionType)&&
              onDisplayWithAuthority('post/pos/print/{id}')">
        <i class="fa fa-print"></i> {{'common.btn.print' | translate}} {{'common.PO' | translate}}
      </button>
      <button mat-button class="primary"
              [disabled]="addEditForm.invalid  || isPendingApprove"
              (click)="onGRPO()"
              *ngIf="isShowButton('GR', actionType)&&
              onDisplayWithAuthority('post/import-pos')"
      >{{'common.btn.GR' | translate}}
      </button>

      <button mat-button class="primary"
              (click)="onClaimDetail()"
              *ngIf="isShowButton('GR', actionType) &&
             onDisplayWithAuthority('get/claims/{id}') && hasClaim"
      >{{'common.btn.claim' | translate}}
      </button>
      <button mat-button class="primary"
              (click)="updateArrivedDate()"
              [disabled]="addEditForm.invalid || !onDisplayArrivedDate()"
              *ngIf="onDisplayWithAuthority(['patch/pos/{id}/arrived-fc',
               'patch/pos/{id}/arrived-myanmar-port',
                'patch/pos/{id}/arrived-vietnam-port']) && this.actionType === ActionType.deliveryDate"
      >{{'common.btn.arrived.port' | translate}}
      </button>
    </div>
  </div>

  <div class="acbox">
    <ns-smart-table name="poDetails"
                    formControlName="poDetails"
                    [columns]="columns"
                    [buttons]="buttons"
                    [moduleName]="moduleName"
                    (clickAction)="onRowButtonClick($event)">
    </ns-smart-table>
  </div>
</form>
