<ns-breadcrumb></ns-breadcrumb>
<div class="acbox">
  <div fxLayout="row wrap" class="row-wrap-padding">
    <div [formGroup]="modelDetail.form"
         *ngFor="let field of modelDetail.inputFields"
         fxLayout="column" fxFlex="25%"
         fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="25%" fxFlex.lg="25%">
      <div dynamicField [field]="field" [group]="modelDetail.form"
           [readonly]="field.name !== 'importDescription'"></div>
    </div>
    <div class="buttonArea">
      <button mat-button class="primary"
              [disabled]="modelDetail.getTblData().length === 0 || !modelDetail.form.valid"
              (click)="onSave()"
              *ngIf="modelDetail.onDisplayWithAuthority('post/import-statements')">
        {{'btnAdd' | translate}}
      </button>
    </div>
  </div>
</div>
<h3>{{modelDetail.title |translate}}</h3>
<div class="acbox">
  <div class="table-responsive">
    <ts-table-v2 [form]="modelDetail.form"
                 [model]="modelDetail.tsTable"
                 (onPage)="modelDetail.onPage($event)"
                 (cellEvent)="onCellEvent($event)">
    </ts-table-v2>
  </div>
</div>
