.import-statement {
  margin: 1rem;

  .import-statement-detail {
    margin-top: 1.5rem;

    .form {
      display: flex;

      div {
        margin: 0 0.5rem;
        flex-basis: calc(100%/3 - 1rem);
      }
      div:nth-child(4){
        flex-basis: 100%;
      }

      .buttonArea{
        flex-basis: 100%;
        display: flex;
        place-content: center;
        align-items: center;
        margin-bottom: 0.5rem;
      }
    }
  }

  .buttonArea {
    display: flex;
    place-content: flex-end;
    margin: 0.5rem;
  }
}

:host ::ng-deep {

  mat-paginator {
    display: none;
  }

  .mat-column-storeProductPackingDetail-storeProductPacking-productPacking-code {
    max-width: 20%;
  }

  .mat-column-storeProductPackingDetail-storeProductPacking-productPacking-name {
    min-width: 20%;
  }

  .mat-column-storeProductPackingDetail-storeProductPacking-productPacking-packingType-quantity,
  .mat-column-quantity {
    max-width: 15%;
  }
}
