<div class="dialog_wrapper">
  <div class="dialog_header">
    <div class="dialog_title">{{this.title | translate}} for role: {{this.role?.roleName}}</div>
  </div>
  <div class="dialog_content padding-20">
    <div class="menuList">
      <h4>{{'role.management.modal.menu'|translate}}:</h4>
      <b>Mobile:</b>

      <div class="MOBILE" fxLayout="row wrap" fxLayoutAlign="left">

        <div class="menuRoot" *ngFor="let menu of this.menuLv1" fxFlex="50%" fxFlex.lt-md="100%" fxFlex.gt-lg="calc(100%/3)">
          <div class="menu" *ngIf="menu.appType === this.MOBILE">
            <mat-checkbox [value]="menu.id"
                          (change)="changeMenuAll($event)"
                          [checked]="isChecked(menu.id, 'menu')"
                          [title]="menu.code">
              {{menu.code}}
            </mat-checkbox>
            <div class="menuF1List">
              <div class="menuF1" *ngFor="let menuF1 of this.menuLv2">
                <mat-checkbox *ngIf="menuF1.parentMenu.id === menu.id"
                              [value]="menuF1.id"
                              (change)="changeMenuChild($event)"
                              [checked]="isChecked(menuF1.id, 'menu')"
                              [title]="menuF1.code">
                  {{menuF1.code}}
                </mat-checkbox>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="WEB" fxLayout="row wrap" fxLayoutAlign="left">
        <b>Web:</b>
        <div class="menuRoot" *ngFor="let menu of this.menuLv1" fxFlex="49%" fxFlex.lt-md="100%" fxFlex.gt-lg="calc(100%/3)">
          <div class="menu" *ngIf="menu.appType === this.WEB">
            <mat-checkbox [value]="menu.id"
                          (change)="changeMenuAll($event)"
                          [checked]="isChecked(menu.id, 'menu')"
                          [title]="menu.code">
              {{menu.code}}
            </mat-checkbox>
            <div class="menuF1List">
              <div class="menuF1" *ngFor="let menuF1 of this.menuLv2">
                <mat-checkbox *ngIf="menuF1.parentMenu.id === menu.id"
                              [value]="menuF1.id"
                              (change)="changeMenuChild($event)"
                              [checked]="isChecked(menuF1.id, 'menu')"
                              [title]="menuF1.code">
                  {{menuF1.code}}
                </mat-checkbox>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
    <hr>
    <h4>{{'role.management.modal.permission'|translate}}:</h4>
    <div class="permissionList" fxLayout="row wrap" fxLayoutAlign="left">
      <div class="permission" *ngFor="let permission of permissionList" fxFlex="50%" fxFlex.lt-md="100%" fxFlex.gt-lg="calc(100%/3)">
        <mat-checkbox [value]="permission.id"
                      (change)="changePermission($event)"
                      [checked]="isChecked(permission.id, 'permission')">
          <mat-label>{{permission.url}}</mat-label>
        </mat-checkbox>
      </div>
    </div>
  </div>
  <div class="dialog_footer center">
    <div>
      <button mat-button type="submit" class="primary" (click)="onSubmit()">{{'btnAddEdit'|translate}}</button>
    </div>
  </div>
</div>
