<ns-breadcrumb></ns-breadcrumb>
<form [formGroup]="searchForm" (ngSubmit)="onSubmit()" class="acbox">
  <div fxLayout="row wrap" class="row-wrap-padding">
    <ns-input name="text" formControlName="text"
              [placeholder]="moduleName + '.management.search'"
              [hint]="moduleName + '.management.search.hint'"
              fxLayout="column" fxFlex="50%"
              fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="50%">
    </ns-input>
    <ns-multi-select-autocomplete [placeholder]="'user.select.status.label'"
                                  [multiple]="false" [options]="selectValues"
                                  name="status" formControlName="status"
                                  fxLayout="column" fxFlex="50%"
                                  fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="50%" fxFlex.lg="50%">
    </ns-multi-select-autocomplete>
    <div fxLayout="column" fxFlex="100%">
      <div class="buttonArea left">
        <button mat-button class="primary">
          {{'common.search' |translate}}
        </button>
        <button mat-button type="button" class="secondary outline reset-btn"
                (click)="onResetForm()">
          {{'btnReset'|translate}}
        </button>
      </div>
    </div>
  </div>
</form>
<div fxLayout fxLayoutAlign="space-between center"
     style="margin: 1rem 0">
  <h3 style="margin: 0">{{paging.totalElements}} {{' ' + ('common.results'| translate) }}</h3>
  <button mat-button class="primary reset-btn" (click)="createUser()"
          *ngIf="userAuthoritiesService.hasCreateUserRole()">
    <i class="fa fa-plus" aria-hidden="true"></i> {{'user.button.create'|translate}}
  </button>
</div>
<div class="acbox user-list">
  <ns-table [columns]="columns" [buttons]="buttons"
            [paging]="paging" (pagingChange)="pagingChange($event)"
            [moduleName]="moduleName" [results]="results"
            (clickAction)="onRowButtonClick($event)">
  </ns-table>
</div>
