<!--<h2 style="margin: auto"> {{ 'user.managerment' | translate }} </h2>-->

<div fxLayout="row wrap" class="row-wrap-padding" fxLayoutAlign="space-around center" [formGroup]="group">
  <!--  <mat-form-field>-->
  <!--    <input matInput formControlName="text" placeholder="{{'user.managerment.search'|translate}}" name="text" id="text">-->
  <!--    <mat-hint align="center">{{'user.managerment.search.hint'|translate}}</mat-hint>-->
  <!--  </mat-form-field>-->
  <div *ngIf="info.showSearch === undefined || info.showSearch">
    <mat-form-field class="example-full-width">
      <input matInput formControlName="text" placeholder="{{'user.managerment.search'|translate}}">
    </mat-form-field>
    <button mat-icon-button color="primary" (click)="onSearchData()"
    >
      <!--{{'btnSearch'|translate}}-->
      <mat-icon>search</mat-icon>
    </button>
  </div>
</div>

<div class="container mat-elevation-z8" *ngIf="models">
  <mat-table #table [dataSource]="models">


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns; " (click)="onRowClick($event, row)"></mat-row>


    <!--<ng-container matColumnDef="image" *ngIf="info.imgKey !== null && info.imgKey !== undefined">-->
    <!--<mat-header-cell *matHeaderCellDef> {{'ld.image'|translate}} </mat-header-cell>-->
    <!--<mat-cell *matCellDef="let row">-->
    <!--<div style="width: 50px; padding: 5px; box-sizing: border-box">-->
    <!--<img style="width: 100%" [src]="row[info.imgKey]">-->
    <!--</div>-->
    <!--</mat-cell>-->
    <!--</ng-container>-->

    <ng-container *ngFor="let column of info.ldCols" matColumnDef="{{column.name}}">
      <ng-container [ngSwitch]="getColumnType(column.type)">


        <!--stt-->
        <ng-container *ngSwitchCase="8">
          <mat-header-cell *matHeaderCellDef> {{'ld.no'|translate}} </mat-header-cell>
          <mat-cell *matCellDef="let i = index; let row "> {{getIndex(row, i)}} </mat-cell>

        </ng-container>
        <!--image-->
        <ng-container *ngSwitchCase="5">
          <mat-header-cell *matHeaderCellDef>{{ info.entity + '.ae.' + column.name | translate }}</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <div style="width: 50px; padding: 5px; box-sizing: border-box">
              <img style="width: 100%" [src]="getData(row, column.name)">
            </div>
          </mat-cell>
        </ng-container>

        <!--checkbox-->

        <!-- Checkbox Column -->
        <ng-container *ngSwitchCase="6">
          <mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? onChangeCheckBox(row) : null"
                          [checked]="selection.isSelected(row)"
                          [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </mat-cell>
        </ng-container>

        <!-- button Column -->
        <ng-container *ngSwitchCase="7">
          <mat-header-cell *matHeaderCellDef>
            <button mat-icon-button color="primary"
                    (click)="onHeaderAction(column.name)">

              <mat-icon>{{column.name}}</mat-icon>
            </button>

          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <div *ngFor="let act of column.data">
              <button mat-icon-button color="primary" (click)="onCellClick(act, row)"
                      *ngIf="isShowBtn(act, row)"
                      [id]="act"
              >
                <mat-icon>{{act}}</mat-icon>
              </button>
            </div>
            <!--<button mat-icon-button color="primary" (clickAction)="onDelete(model)">-->
            <!--&lt;!&ndash;{{'btnDelete'|translate}}&ndash;&gt;-->
            <!--<mat-icon>delete</mat-icon>-->
            <!--</button>-->
          </mat-cell>
        </ng-container>
        <!--default-->
        <ng-container *ngSwitchDefault>
          <mat-header-cell *matHeaderCellDef>{{ info.entity + '.ae.' + column.name | translate }}</mat-header-cell>
          <mat-cell *matCellDef="let row" [class]="'mat-header-cell-col-'+column.type"

          >
            {{ getData(row, column)}}
          </mat-cell>
        </ng-container>
      </ng-container>
    </ng-container>

    <!--<ng-container matColumnDef="addEdit">-->
    <!--<mat-header-cell *matHeaderCellDef>-->
    <!--<button mat-icon-button color="primary"-->
    <!--(clickAction)="onAddData()">-->

    <!--<mat-icon>add</mat-icon>-->
    <!--</button>-->

    <!--</mat-header-cell>-->
    <!--<mat-cell *matCellDef="let model">-->
    <!--<button mat-icon-button color="primary" (clickAction)="onEdit(model)">-->
    <!--<mat-icon>edit</mat-icon>-->
    <!--</button>-->
    <!--<button mat-icon-button color="primary" (clickAction)="onDelete(model)">-->
    <!--&lt;!&ndash;{{'btnDelete'|translate}}&ndash;&gt;-->
    <!--<mat-icon>delete</mat-icon>-->
    <!--</button>-->
    <!--</mat-cell>-->
    <!--</ng-container>-->


  </mat-table>
  <mat-paginator (page)="getPage($event)"
                 [length]="search?.totalElements"
                 [pageSize]="search?.pageSize"
                 [pageSizeOptions]="pageSizeOption">
  </mat-paginator>
</div>
