.container {
  margin: 1rem;
  mat-cell {
    margin-left: 1rem;
  }

  mat-header-cell {
    place-content: center;
    padding: 0 !important;
    font-weight: 700;
  }

  mat-cell:nth-child(1),
  mat-header-cell:nth-child(1) {
    flex: 0 0 5%;
    margin-left: 0;
    padding: 0;
  }

  mat-cell:nth-child(3),
  mat-header-cell:nth-child(3) {
    flex: 0 0 10%;
  }
}



