mat-form-field {
  width: 100%;
}

.buttonArea {
  display: flex;
  place-content: center flex-end;
  align-items: center;
  margin-bottom: 0.5rem;

  button:last-child {
    margin-left: 0.5rem;
  }
}

:host ::ng-deep {

  mat-cell{
    display: flex;
    place-content: center;
  }

  mat-header-cell {
    display: flex;
    place-content: center;
    align-items: center;
    font-weight: 700;
  }

  .mat-column-stt {
    display: flex;
    place-content: center;
    align-items: center;
    padding: 0;
    max-width: 7%;
  }

  .mat-column-product-code {
    padding-left: 1rem;
    max-width: 10% !important;
    min-width: 10% !important;
  }

  .mat-column-product-name {
    padding-left: 1rem;
    max-width: 15% !important;
    min-width: 15% !important;
    overflow: hidden;
    place-content: start;
  }

  .mat-column-add {
    display: flex;
    place-content: center;
    align-items: center;
    max-width: 20%;
  }
}
