<div [formGroup]="layoutModel.form" (keydown.enter)="onSearchData()">

  <h2 style="margin: auto"> {{ 'packing.search.title' | translate }} </h2>
  <mat-form-field [formGroup]="layoutModel.form" style="width: 100%">
    <!--<div [formGroup]="group">-->
    <input matInput formControlName="text" [placeholder]="'common.text' | translate" type="text"
    >
    <!--</div>-->
  </mat-form-field>
  <div class="buttonArea demo-full-width margin-top">
    <button mat-button class="primary" (click)="onSearchData()"
    >{{'common.search' |translate}}</button>
    <button mat-button class="primary" (click)="onPutPacking()">OK</button>
  </div>
  <ts-table-v2 [model]="layoutModel.tsTable"
               [form]="layoutModel.form"
               (onPage)="onPage($event)"

  >
  </ts-table-v2>
  <!--<app-ld [info]="ldInfo" (searchEvent)="onSearchData($event)" [group]="form"></app-ld>-->


</div>
