
  <div> <!--  fxShow="true" fxHide.lt-sm="true" -->
    <!--<mat-label>Language</mat-label>-->

    <mat-select  (selectionChange)="onChangeLanguage($event)" [(value)]="langId">
      <mat-select-trigger>
        <img class="logo" [src]="apSetting[langId].logo" style="vertical-align:middle">

        {{ apSetting[langId].name }}
      </mat-select-trigger>
      <mat-option *ngFor="let l of apSetting; let i = index" class="multiple-field-box" [value]="i">
        <img class="logo" [src]="l.logo" style="vertical-align:middle">

        {{ l.name }}
      </mat-option>
      <!--<mat-option value="1">-->
        <!--<img class="logo" [src]="VIFlag">-->
      <!--</mat-option>-->
      <!--<mat-option value="2">-->
        <!--<img class="logo" [src]="ENFlag">-->
      <!--</mat-option>-->
    </mat-select>
  </div>

