//:host ::ng-deep {
//  mat-table{
//    box-shadow: none!important;
//  }
//}
//
//h2 {
//  margin: 0.5rem 0 0.5rem 1rem !important;
//}
//
//.content {
//  margin: 1rem;
//  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14),
//  0px 3px 14px 2px rgba(0, 0, 0, 0.12);
//}
