//.form {
//  display: flex;
//  @media screen and (max-width: 959px) {
//    flex-direction: column;
//  }
//
//  @media screen and (min-width: 960px) {
//    flex-direction: row;
//    flex-wrap: wrap;
//  }
//  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
//  margin-bottom: 1rem;
//}
