//h2 {
//  margin: 0;
//  //font-family: Roboto, "Helvetica Neue", sans-serif;
//}
//
//:host ::ng-deep{
//
//  mat-header-cell{
//    padding: 0 0 0 2rem;
//  }
//
//  mat-form-field{
//    display: block;
//  }
//
//  mat-cell{
//    padding: 5px 0px 5px 2rem;
//  }
//
//  //mat-cell.mat-column-add {
//  //  display: flex;
//  //  place-content: center flex-end;
//  //  align-items: center;
//  //  margin-left: 1rem;
//  //  min-width: 10%;
//  //}
//
//  .mat-column-add{
//    display: flex;
//    flex-direction: row;
//    flex-wrap: wrap;
//    padding-right: 1rem;
//    max-width: 10%;
//
//    place-content: center flex-end;
//    align-items: center;
//
//    flex-shrink: 1;
//
//    :empty{
//      display: none;
//    }
//
//    div{
//      flex-shrink: 1;
//      flex-basis: 25%;
//    }
//  }
//
//  .mat-column-STT, .mat-column-stt {
//    padding-left: 0;
//    max-width: 5%;
//    place-content: center;
//    align-items: center;
//  }
//
//
//
//  mat-header-cell {
//    font-size: 12px;
//    font-weight: 700;
//    //place-content: center;
//  }
//
//  app-read{
//    div{
//      display:inline-block;
//      width: 150px;
//      white-space: nowrap;
//      overflow:hidden !important;
//      text-overflow: ellipsis;
//    }
//  }
//
//
//}
